      <h1>Cigarette Consumption </h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='http://www.inside-r.org/r-doc/utils/data'>data</a></span><span class="keyword">(</span><span class="symbol">Cigar</span><span class="keyword">)</span></pre>
        
    <div class="Description">
      <h2>Description</h2>
      
      <p>a panel of 46 observations  from 1963  to 1992</p>
  
      <p><em>total number of observations</em> :  1380</p>
  
      <p><em>observation</em> :  regional</p>
  
      <p><em>country</em> :  United States</p>
  
    </div>

    <div class="Format">
      <h2>Format</h2>
      
      <p>A data frame containing :
  <span class='describe'>
    statestate abbreviation
    yearthe year
    priceprice per pack of cigarettes
    poppopulation
    pop16population above the age of 16
    cpiconsumer price index (1983=100)
    ndiper capita disposable income
    salescigarette sales in packs per capita
    piminminimum price in adjoining states per pack of cigarettes
  </span></p>
  
    </div>

    <div class="Cigarette Consumption ">
      <h2>Cigarette Consumption </h2>
      
    </div>

    <div class="References">
      <h2>References</h2>
      
      <p>Baltagi, Badi H. (2001) <em>Econometric Analysis of Panel Data</em>, 2nd ed., John Wiley and Sons.</p>
  
      <p>Baltagi, B.H. and  D. Levin (1992) &#147;Cigarette taxation: raising revenues and reducing consumption&#148;, <em>Structural Changes and Economic Dynamics</em>, <b>3</b>, 321--335.</p>
  
      <p>Baltagi, B.H., J.M. Griffin and  W. Xiong (2000) &#147;To pool or not to pool: homogeneous versus heterogeneous estimators applied to cigarette demand&#148;, <em>Review of Economics and Statistics</em>, <b>82</b>, 117--126.</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>Cigar</li>
    </ul>
    <ul>
      <li>datasets</li>
    </ul> -->
      
        
  </div>
</div>