      <h1>Cross-sectionally Augmented IPS Test for Unit Roots in Panel Models</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='cipstest.html'>cipstest</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="argument">lags</span> <span class="argument">=</span> <span class="number">2</span><span class="keyword">,</span> <span class="argument">type</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"trend"</span><span class="keyword">,</span> <span class="string">"drift"</span><span class="keyword">,</span> <span class="string">"none"</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">model</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"cmg"</span><span class="keyword">,</span> <span class="string">"mg"</span><span class="keyword">,</span>
  <span class="string">"dmg"</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">truncated</span> <span class="argument">=</span> <span class="number">FALSE</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>x</dt>
      <dd>an object of class <code>"pseries"</code>,</dd>
      <dt>lags</dt>
      <dd>lag order for Dickey-Fuller augmentation,</dd>
      <dt>type</dt>
      <dd>one of <code>c("trend", "drift", "none")</code>,</dd>
      <dt>model</dt>
      <dd>one of c("cmg","mg","dmg"),</dd>
      <dt>truncated</dt>
      <dd>logical specifying whether to calculate the truncated
    version of the test,</dd>
      <dt>...</dt>
      <dd>further arguments passed to <code>critvals</code>.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Cross-sectionally augmented Im, Pesaran and Shin test for unit roots in panel models.</p>
  
    </div>

    <div class="Details">
      <h2>Details</h2>
      
      <p>This cross-sectionally augmented version of the IPS unit root test (H0:
the <code>pseries</code> has a unit root) is a so-called second-generation
panel unit root test: it is in fact robust against cross-sectional
dependence, provided that the default <code>type="cmg"</code> is
calculated. Else one can obtain the standard (<code>model="mg"</code>) or
cross-sectionally demeaned (<code>model="dmg"</code>) versions of the IPS
test.</p>
  
    </div>

    <div class="Value">
      <h2>Value</h2>
      
      <p>An object of class <code>"htest"</code>.</p>
  
    </div>

    <div class="References">
      <h2>References</h2>
      
      <p>Pesaran, M.H. (2007) A simple panel unit root test in the presence of
  cross-section dependence, <em>Journal of Applied Econometrics</em>,
  <b>22(2)</b>, 265--312.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="functioncall"><a href='http://www.inside-r.org/r-doc/utils/data'>data</a></span><span class="keyword">(</span><span class="string">"Produc"</span><span class="keyword">,</span> <span class="argument">package</span> <span class="argument">=</span> <span class="string">"plm"</span><span class="keyword">)</span>
<span class="symbol">Produc</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='pdata.frame.html'>pdata.frame</a></span><span class="keyword">(</span><span class="symbol">Produc</span><span class="keyword">,</span> <span class="argument">index</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"state"</span><span class="keyword">,</span><span class="string">"year"</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="comment">## check whether the log of GDP is trend-stationary</span>
<span class="functioncall"><a href='cipstest.html'>cipstest</a></span><span class="keyword">(</span><span class="symbol">Produc</span><span class="keyword">$</span><span class="symbol">gsp</span><span class="keyword">,</span> <span class="argument">type</span><span class="argument">=</span><span class="string">"trend"</span><span class="keyword">)</span></div>
<strong class='warning'>Warning message:
p-value greater than printed p-value</strong>
<div class='output'>
	Pesaran's CIPS test for unit roots

data:  Produc$gsp 
CIPS test = -0.5823, lag order = 2, p-value = 0.1
alternative hypothesis: Stationarity 

</div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>cipstest</li><li>cipstest.panelmodel</li><li>cipstest.formula</li>
    </ul>
    <ul>
      <li>htest</li>
    </ul> -->
      
    <h2>See also</h2>
    
 <code><a href='purtest.html'>purtest</a></code>

    
    <h2>Author</h2>
    Giovanni Millo
    
  </div>
</div>