      <h1>Crime in North Carolina</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='http://www.inside-r.org/r-doc/utils/data'>data</a></span><span class="keyword">(</span><span class="symbol">Crime</span><span class="keyword">)</span></pre>
        
    <div class="Description">
      <h2>Description</h2>
      
      <p>a panel of 90 observations (counties) from 1981 to 1987</p>
  
      <p><em>total number of observations</em> :  630</p>
  
      <p><em>observation</em> :  regional</p>
  
      <p><em>country</em> :  United States</p>
  
      <p></p>
  
    </div>

    <div class="Format">
      <h2>Format</h2>
      
      <p>A data frame containing :
  <span class='describe'>
    countycounty identifier
    yearyear from 1981 to 1987
    crmrtecrimes committed per person
    prbarr'probability' of arrest
    prbconv'probability' of conviction
    prbpris'probability' of prison sentenc
    avgsenaverage sentence, days    
    polpcpolice per capita
    densitypeople per square mile
    taxpctax revenue per capita
    regionfactor. One of 'other', 'west' or 'central'.
    smsafactor. Does the individual reside in a SMSA (standard metropolitan statistical area)?
    pctminpercentage minority in 1980
    wconweekly wage in construction
    wtucweekly wage in trns, util, commun
    wtrdweekly wage in whole sales and retail trade
    wfirweekly wage in  finance, insurance and real estate
    wserweekly wage in service industry
    wmfgweekly wage in manufacturing
    wfedweekly wage of federal emplyees
    wstaweekly wage of state employees
    wlocweekly wage of local governments employees      
    mixoffence mix: face-to-face/other
    pctymlepercentage of young males
  </span></p>
  
    </div>

    <div class="Crime in North Carolina">
      <h2>Crime in North Carolina</h2>
      
    </div>

    <div class="References">
      <h2>References</h2>
      
      <p>Cornwell, C. and  W.N. Trumbull (1994) &#147;Estimating the economic model of crime with panel data&#148;, <em>Review of Economics and Statistics</em>, <b>76</b>, 360--366.</p>
  
      <p>Baltagi, B. H. (2006) &#147;Estimating an economic model of crime using panel data from North Carolina&#148;, <em>Journal of Applied Econometrics</em>, 21(4), 543--547.</p>
  
      <p>Baltagi, B. H. (2001) <em>Econometric Analysis of Panel Data</em>, John Wiley and Sons.</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>Crime</li>
    </ul>
    <ul>
      <li>datasets</li>
    </ul> -->
      
        
  </div>
</div>