      <h1>Dynamic Formula</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='dynformula.html'>dynformula</a></span><span class="keyword">(</span><span class="symbol">formula</span><span class="keyword">,</span> <span class="argument">lag.form</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">diff.form</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">log.form</span> <span class="argument">=</span> NULL<span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>formula</dt>
      <dd>a formula,</dd>
      <dt>lag.form</dt>
      <dd>a list containing the lag structure of each variable in the formula,</dd>
      <dt>diff.form</dt>
      <dd>a vector (or a list) of logical values indicating whether variables should be differenced,</dd>
      <dt>log.form</dt>
      <dd>a vector (or a list) of logical values indicating whether variables should be in logarithms.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>A function to easily create a formula with lags and differences</p>
  
    </div>

    <div class="Value">
      <h2>Value</h2>
      
      <p>An object of class <code>c("dynformula","formula")</code>, which is a
  formula with four additional attributes: <code>var</code>, the names of the variables in the formula, <code>lag</code>, <code>diff</code>, and <code>log</code>, which store the information about lags, differences and logs, respectively.</p>
  
      <p>A <code>formula</code> method coerces the <code>dynformula</code> object to a standard <code>formula</code>.</p>
  
    </div>

    <div class="Details">
      <h2>Details</h2>
      
      <p><code>lag.form</code> is a list, <code>diff.form</code> and <code>log.form</code> are vectors (or lists) that should be of length equal to the total number of variables. Each element of these lists/vectors is:</p>
  
      <p><ul>
<li> either a vector of length 2 (<code>c(1,4)</code> means lags 1,2,3 and 4) or a scalar (<code>3</code> means lags 0,1,2,3 except for the left--hand side variable for which it is 1,2,3) for <code>lag.form</code>.
    </li>
<li> logical values for <code>diff.form</code> and <code>log.form</code>.
  </li>
</ul></p>
  
      <p>It can also be an incomplete named list/vector (for example, to apply the transformation for only some variables) with eventually an unnamed element which then is the default value.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="comment"># all variables in log, x1, x2 and x3 laged twice, y laged once and x3 differenced</span>
<span class="symbol">z</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='dynformula.html'>dynformula</a></span><span class="keyword">(</span><span class="symbol">y</span> <span class="keyword">~</span> <span class="symbol">x1</span> <span class="keyword">+</span> <span class="symbol">x2</span> <span class="keyword">+</span> <span class="symbol">x3</span><span class="keyword">,</span> <span class="argument">lag.form</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/list'>list</a></span><span class="keyword">(</span><span class="number">2</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="number">1</span><span class="keyword">)</span><span class="keyword">,</span>
                <span class="argument">diff.form</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="argument">x3</span> <span class="argument">=</span> <span class="number">TRUE</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">log.form</span> <span class="argument">=</span> <span class="number">TRUE</span><span class="keyword">)</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/formula'>formula</a></span><span class="keyword">(</span><span class="symbol">z</span><span class="keyword">)</span></div>
<div class='output'>log(y) ~ lag(log(y), 1) + log(x1) + lag(log(x1), 1) + lag(log(x1), 
    2) + log(x2) + lag(log(x2), 1) + lag(log(x2), 2) + diff(log(x3)) + 
    diff(log(x3), 1) + diff(log(x3), 2)
<environment: 0x7ff486c470e8>
</div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>dynformula</li><li>print.dynformula</li><li>formula.dynformula</li>
    </ul>
    <ul>
      <li>classes</li>
    </ul> -->
      
    
    <h2>Author</h2>
    Yves Croissant
    
  </div>
</div>