      <h1>Employment and Wages in the United Kingdom</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='http://www.inside-r.org/r-doc/utils/data'>data</a></span><span class="keyword">(</span><span class="symbol">EmplUK</span><span class="keyword">)</span></pre>
        
    <div class="Description">
      <h2>Description</h2>
      
      <p>An unbalanced panel of 140 observations from 1976 to 1984</p>
  
      <p><em>total number of observations</em> :  1031</p>
  
      <p><em>observation</em> :  firms</p>
  
      <p><em>country</em> :  United Kingdom</p>
  
      <p></p>
  
    </div>

    <div class="Format">
      <h2>Format</h2>
      
      <p>A data frame containing :
  <span class='describe'>
    firmfirm index
    yearyear
    sectorthe sector of activity
    empemployment
    wagewages
    capitalcapital
    outputoutput
  </span></p>
  
    </div>

    <div class="Employment and Wages in the United Kingdom">
      <h2>Employment and Wages in the United Kingdom</h2>
      
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>EmplUK</li>
    </ul>
    <ul>
      <li>datasets</li>
    </ul> -->
      
        
  </div>
</div>