      <h1>Gasoline Consumption</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='http://www.inside-r.org/r-doc/utils/data'>data</a></span><span class="keyword">(</span><span class="symbol">Gasoline</span><span class="keyword">)</span></pre>
        
    <div class="Description">
      <h2>Description</h2>
      
      <p>A panel of 18 observations from 1960 to 1978</p>
  
      <p><em>total number of observations</em> :  342</p>
  
      <p><em>observation</em> :  country</p>
  
      <p><em>country</em> :  OECD</p>
  
      <p></p>
  
    </div>

    <div class="Format">
      <h2>Format</h2>
      
      <p>A data frame containing :
  <span class='describe'>
    countrya factor with 18 levels
    yearthe year
    lgaspcarlogarithm of motor gasoline consumption per car
    lincomeplogarithm of real per-capita income
    lrpmglogarithm of real motor gasoline price
    lcarpcaplogarithm of the stock of cars per capita
  </span></p>
  
    </div>

    <div class="Gasoline Consumption">
      <h2>Gasoline Consumption</h2>
      
    </div>

    <div class="References">
      <h2>References</h2>
      
      <p>Baltagi, Badi H. (2001) <em>Econometric Analysis of Panel Data</em>, 2nd ed., John Wiley and Sons.</p>
  
      <p>Baltagi, B.H.  and  J.M. Griffin (1983) &#147;Gasoline demand in the OECD: An application of pooling and testing procedures&#148;, <em>European Economic Review</em>, <b>22</b>(2), 117--137.</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>Gasoline</li>
    </ul>
    <ul>
      <li>datasets</li>
    </ul> -->
      
        
  </div>
</div>