      <h1>Grunfeld's Investment Data</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='http://www.inside-r.org/r-doc/utils/data'>data</a></span><span class="keyword">(</span><span class="symbol">Grunfeld</span><span class="keyword">)</span></pre>
        
    <div class="Description">
      <h2>Description</h2>
      
      <p>A panel of 10 observations from 1935 to 1954</p>
  
      <p><em>total number of observations</em> :  200</p>
  
      <p><em>observation</em> :  production units</p>
  
      <p><em>country</em> :  United States</p>
  
      <p></p>
  
    </div>

    <div class="Format">
      <h2>Format</h2>
      
      <p>A data frame containing :
  <span class='describe'>
    firmobservation
    yeardate
    invgross Investment
    valuevalue of the firm
    capitalstock of plant and equipment
  </span></p>
  
    </div>

    <div class="Grunfeld's Investment Data">
      <h2>Grunfeld's Investment Data</h2>
      
    </div>

    <div class="References">
      <h2>References</h2>
      
      <p>Baltagi, Badi H. (2001) <em>Econometric Analysis of Panel Data</em>, 2nd ed., John Wiley and Sons.</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>Grunfeld</li>
    </ul>
    <ul>
      <li>datasets</li>
    </ul> -->
      
    <h2>See also</h2>
    For the complete Grunfeld data (11 firms), see
  <code><a href='http://www.inside-r.org/r-doc/AER/Grunfeld'>Grunfeld</a></code>, in the <code>AER</code> package.

        
  </div>
</div>