      <h1>Hedonic Prices of Census Tracts in the Boston Area</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='http://www.inside-r.org/r-doc/utils/data'>data</a></span><span class="keyword">(</span><span class="symbol">Hedonic</span><span class="keyword">)</span></pre>
        
    <div class="Description">
      <h2>Description</h2>
      
      <p>A cross-section</p>
  
      <p><em>number of observations</em> :  506</p>
  
      <p><em>observation</em> :  regional</p>
  
      <p><em>country</em> :  United States</p>
  
      <p></p>
  
    </div>

    <div class="Format">
      <h2>Format</h2>
      
      <p>A dataframe containing:
  <span class='describe'>
    mvmedian value of owner--occupied homes
    crimcrime rate
    znproportion of 25,000 square feet residential lots
    indusproportion of nonretail business acres
    chasis the tract bounds the Charles River ?
    noxannual average nitrogen oxide concentration in parts per hundred million
    rmaverage number of rooms
    ageproportion of owner units built prior to 1940
    disweighted distances to five employment centers in the Boston area
    radindex of accessibility to radial highways
    taxfull value property tax rate (\$/\$10,000)
    ptratiopupil/teacher ratio
    blacksproportion of blacks in the population
    lstatproportion of population that is lower status
    townidtown identifier
  </span></p>
  
    </div>

    <div class="Hedonic Prices of Census Tracts in the Boston Area">
      <h2>Hedonic Prices of Census Tracts in the Boston Area</h2>
      
    </div>

    <div class="References">
      <h2>References</h2>
      
      <p>Baltagi, Badi H. (2001): <em>Econometric Analysis of Panel Data</em>, 2nd ed., John Wiley and Sons.</p>
  
      <p>Belsley, D.A.,  E. Kuh and  R. E. Welsch (1980): <em>Regression Diagnostics: Identifying Influencial Data and Sources of Collinearity</em>, John Wiley, New York.</p>
  
      <p>Harrison, D. and  D.L. Rubinfeld (1978): &#147;Hedonic housing prices and the demand for clean air&#148;, <em>Journal of Environmental Economics and Management</em>, <b>5</b>, 81--102.</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>Hedonic</li>
    </ul>
    <ul>
      <li>datasets</li>
    </ul> -->
      
        
  </div>
</div>