      <div class="row">
  <div class="span8">
    A set of estimators and tests for panel data.

    <h2>Help topics</h2>

    <h3></h3>
    
    
    <ul class="index">
        
      <li>
        <code><a href="Cigar.html">Cigar</a></code><br />Cigarette Consumption </li>
            
      <li>
        <code><a href="Crime.html">Crime</a></code><br />Crime in North Carolina</li>
            
      <li>
        <code><a href="EmplUK.html">EmplUK</a></code><br />Employment and Wages in the United Kingdom</li>
            
      <li>
        <code><a href="Gasoline.html">Gasoline</a></code><br />Gasoline Consumption</li>
            
      <li>
        <code><a href="Grunfeld.html">Grunfeld</a></code><br />Grunfeld's Investment Data</li>
            
      <li>
        <code><a href="Hedonic.html">Hedonic</a></code><br />Hedonic Prices of Census Tracts in the Boston Area</li>
            
      <li>
        <code><a href="LaborSupply.html">LaborSupply</a></code><br />Wages and Hours Worked</li>
            
      <li>
        <code><a href="Males.html">Males</a></code><br />Wages and Education of Young Males</li>
            
      <li>
        <code><a href="Produc.html">Produc</a></code><br />US States Production</li>
            
      <li>
        <code><a href="Snmesp.html">Snmesp</a></code><br />Employment and Wages in Spain</li>
            
      <li>
        <code><a href="SumHes.html">SumHes</a></code><br />The Penn World Table, v. 5</li>
            
      <li>
        <code><a href="Wages.html">Wages</a></code><br />Panel Data of Individual Wages</li>
            
      <li>
        <code><a href="cipstest.html">cipstest</a></code>(cipstest.panelmodel, cipstest.formula)<br />Cross-sectionally Augmented IPS Test for Unit Roots in Panel Models</li>
            
      <li>
        <code><a href="dynformula.html">dynformula</a></code>(print.dynformula, formula.dynformula)<br />Dynamic Formula</li>
            
      <li>
        <code><a href="ercomp.html">ercomp</a></code>(ercomp.formula, ercomp.plm, print.ercomp)<br />Estimation of the error components</li>
            
      <li>
        <code><a href="fixef.plm.html">fixef.plm</a></code>(fixef, print.fixef, summary.fixef, print.summary.fixef)<br />Extract the Fixed Effects</li>
            
      <li>
        <code><a href="mtest.html">mtest</a></code><br />Arellano--Bond test of Serial Correlation</li>
            
      <li>
        <code><a href="pFormula.html">pFormula</a></code>(as.Formula.pFormula, model.frame.pFormula, model.matrix.pFormula)<br />pFormula: An extended Formula interface for panel data</li>
            
      <li>
        <code><a href="pFtest.html">pFtest</a></code>(pFtest.formula, pFtest.plm)<br />F Test for Individual and/or Time Effects</li>
            
      <li>
        <code><a href="pbgtest.html">pbgtest</a></code>(pbgtest.panelmodel, pbgtest.formula)<br />Breusch--Godfrey Test for Panel Models</li>
            
      <li>
        <code><a href="pbltest.html">pbltest</a></code><br />Baltagi and Li Serial Dependence Test For Random Effects Models</li>
            
      <li>
        <code><a href="pbsytest.html">pbsytest</a></code>(pbsytest.formula, pbsytest.panelmodel)<br />Bera, Sosa-Escudero and Yoon Locally--Robust Lagrange Multiplier Tests for Panel Models</li>
            
      <li>
        <code><a href="pccep.html">pccep</a></code>(summary.pccep, print.summary.pccep)<br />Common Correlated Effects Pooled estimator</li>
            
      <li>
        <code><a href="pcdtest.html">pcdtest</a></code>(pcdtest.formula, pcdtest.panelmodel)<br />Tests of cross-section dependence for panel models</li>
            
      <li>
        <code><a href="pdata.frame.html">pdata.frame</a></code>(print.pdata.frame, [.pdata.frame, [[.pdata.frame, $.pdata.frame, as.data.frame.pdata.frame)<br />data.frame for panel data</li>
            
      <li>
        <code><a href="pdim.html">pdim</a></code>(pdim.data.frame, pdim.pdata.frame, pdim.panelmodel, pdim.default, print.pdim)<br />Check for the Dimensions of the Panel</li>
            
      <li>
        <code><a href="pdwtest.html">pdwtest</a></code>(pdwtest.panelmodel, pdwtest.formula)<br />Durbin--Watson Test for Panel Models</li>
            
      <li>
        <code><a href="pggls.html">pggls</a></code>(summary.pggls, print.summary.pggls)<br />General FGLS Estimators</li>
            
      <li>
        <code><a href="pgmm.html">pgmm</a></code>(summary.pgmm, print.summary.pgmm)<br />Generalized Method of Moments (GMM) Estimation for Panel Data</li>
            
      <li>
        <code><a href="pht.html">pht</a></code>(summary.pht, print.summary.pht)<br />Hausman-Taylor Estimator for Panel Data</li>
            
      <li>
        <code><a href="phtest.html">phtest</a></code>(phtest.formula, phtest.panelmodel)<br />Hausman Test for Panel Models</li>
            
      <li>
        <code><a href="plm.html">plm</a></code>(print.panelmodel, summary.plm, print.summary.plm)<br />Panel Data Estimators</li>
            
      <li>
        <code><a href="plm.data.html">plm.data</a></code><br />Data Frame Special Format for Panel Data</li>
            
      <li>
        <code><a href="plmtest.html">plmtest</a></code>(plmtest.plm, plmtest.formula)<br />Lagrange Multiplier Tests for Panel Models</li>
            
      <li>
        <code><a href="pmg.html">pmg</a></code>(summary.pmg, print.summary.pmg)<br />Mean Groups (MG), Demeaned MG and CCE MG estimators</li>
            
      <li>
        <code><a href="pmodel.response.html">pmodel.response</a></code>(pmodel.response.data.frame, pmodel.response.pFormula, pmodel.response.plm)<br />A function to extract the model.response</li>
            
      <li>
        <code><a href="pooltest.html">pooltest</a></code>(pooltest.plm, pooltest.formula)<br />Test of Poolability</li>
            
      <li>
        <code><a href="pserie.html">pseries</a></code>(Between, between, Within, Between.pseries, between.pseries, Within.pseries, lag.pseries, diff.pseries, summary.pseries, print.summary.pseries, as.matrix.pseries)<br />panel series</li>
            
      <li>
        <code><a href="purtest.html">purtest</a></code>(print.purtest, summary.purtest, print.summary.purtest)<br />Unit root tests for panel data</li>
            
      <li>
        <code><a href="pvar.html">pvar</a></code>(pvar.data.frame, pvar.pdata.frame, print.pvar)<br />Check for Cross-Sectional and Time Variation</li>
            
      <li>
        <code><a href="pvcm.html">pvcm</a></code>(summary.pvcm, print.summary.pvcm)<br />Variable Coefficients Models for Panel Data</li>
            
      <li>
        <code><a href="pwartest.html">pwartest</a></code>(pwartest.panelmodel, pwartest.formula)<br />Wooldridge Test for AR(1) Errors in FE Panel Models</li>
            
      <li>
        <code><a href="pwfdtest.html">pwfdtest</a></code>(pwfdtest.formula, pwfdtest.panelmodel)<br />Wooldridge first-difference-based test for AR(1) errors in levels or first-differenced panel models</li>
            
      <li>
        <code><a href="pwtest.html">pwtest</a></code>(pwtest.panelmodel, pwtest.formula)<br />Wooldridge's Test for Unobserved Effects in Panel Models</li>
            
      <li>
        <code><a href="r.squared.html">r.squared</a></code><br />R squared for panel data</li>
            
      <li>
        <code><a href="sargan.html">sargan</a></code><br />Hansen--Sargan Test of Overidentifying Restrictions</li>
            
      <li>
        <code><a href="vcovBK.html">vcovBK</a></code>(vcovBK.plm)<br />Beck and Katz Robust Covariance Matrix Estimators</li>
            
      <li>
        <code><a href="vcovHC.html">vcovHC</a></code>(vcovHC.plm, vcovHC.pgmm, pvcovHC)<br />Robust Covariance Matrix Estimators</li>
            
      <li>
        <code><a href="vcovSCC.html">vcovSCC</a></code>(vcovSCC.plm)<br />Driscoll and Kraay (1998) Robust Covariance Matrix Estimator</li>
    
    </ul>
  </div>
  
  <div class="span3 offset1">
        
    <h2>Dependencies</h2>
    <ul>
      <li><strong>Depends</strong>: stats, bdsmatrix, nlme, Formula, MASS, sandwich, zoo</li>
      <li><strong>Imports</strong>: </li>
      <li><strong>Suggests</strong>: lattice, lmtest, car, AER</li>
      <li><strong>Extends</strong>: </li>
    </ul>
     
    
  </div>
</div>