      <h1>Wages and Hours Worked</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='http://www.inside-r.org/r-doc/utils/data'>data</a></span><span class="keyword">(</span><span class="symbol">LaborSupply</span><span class="keyword">)</span></pre>
        
    <div class="Description">
      <h2>Description</h2>
      
      <p>A panel of 532  observations  from 1979  to 1988</p>
  
      <p><em>number of observations</em> :  5320</p>
  
      <p></p>
  
    </div>

    <div class="Format">
      <h2>Format</h2>
      
      <p>A data frame containing :
  <span class='describe'>
    lnhrlog of annual hours worked
    lnwglog of hourly wage
    kidsnumber of children
    ageage
    disabbad health
    idid
    yearyear
  </span></p>
  
    </div>

    <div class="Wages and Hours Worked">
      <h2>Wages and Hours Worked</h2>
      
    </div>

    <div class="References">
      <h2>References</h2>
      
      <p>Cameron, A.C. and P.K. Trivedi (2005) <em>Microeconometrics : methods and applications</em>, Cambridge, pp. 708--15, 754--6.</p>
  
      <p>Ziliak, J.P. (1997) &#147;Efficient Estimation With Panel Data when Instruments are Predetermined: An Empirical Comparison of Moment-Condition Estimators&#148;, <em>Journal of Business and Economic Statistics</em>, <b>419--431</b>.</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>LaborSupply</li>
    </ul>
    <ul>
      <li>datasets</li>
    </ul> -->
      
        
  </div>
</div>