      <h1>Breusch--Godfrey Test for Panel Models</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='pbgtest.html'>pbgtest</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall"><a href='pbgtest.html'>pbgtest</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="argument">order</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall"><a href='pbgtest.html'>pbgtest</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">,</span> <span class="argument">order</span> <span class="argument">=</span> NULL<span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>x</dt>
      <dd>an object of class <code>"panelmodel"</code> or of class <code>"formula"</code>,</dd>
      <dt>order</dt>
      <dd>an integer indicating the order of serial correlation to be tested for. Defaults to the minimum number of observations over the time dimension,</dd>
      <dt>...</dt>
      <dd>further arguments.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Test of serial correlation for (the idiosyncratic component of) the errors in panel models.</p>
  
    </div>

    <div class="Value">
      <h2>Value</h2>
      
      <p>An object of class <code>"htest"</code>.</p>
  
    </div>

    <div class="Details">
      <h2>Details</h2>
      
      <p>This Lagrange multiplier test uses the auxiliary model on
(quasi-)demeaned data taken from a model of class <code>plm</code> which may be a <code>pooling</code> (the default), <code>random</code> or <code>within</code> model. It performs a Breusch--Godfrey test (using <code>bgtest</code> from package <code>lmtest</code>) on the residuals of the (quasi-)demeaned model, which should be serially uncorrelated under the null of no serial correlation in idiosyncratic
errors, as illustrated in Wooldridge (2002). The function takes the demeaned data, estimates the model and calls <code>bgtest</code>.</p>
  
      <p>Unlike most other tests for serial correlation in panels, this one allows to choose the order of correlation to test for.</p>
  
    </div>

    <div class="References">
      <h2>References</h2>
      
      <p>Breusch, T. (1978)  Testing for autocorrelation in dynamic linear models, <em>Australian Economic Papers</em>, <b>17</b>, pp.334--355.</p>
  
      <p>Godfrey, L. (1978) Testing against general autoregressive and moving average error models when the regressors include lagged dependent variables, <em>Econometrica</em>, <b>46</b>; pp. 1293--1302.</p>
  
      <p>Wooldridge, J.M. (2002) <em>Econometric Analysis of Cross-Section and Panel Data</em>, MIT Press, p. 288.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="functioncall"><a href='http://www.inside-r.org/r-doc/utils/data'>data</a></span><span class="keyword">(</span><span class="string">"Grunfeld"</span><span class="keyword">,</span> <span class="argument">package</span> <span class="argument">=</span> <span class="string">"plm"</span><span class="keyword">)</span>
<span class="symbol">g</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='plm.html'>plm</a></span><span class="keyword">(</span><span class="symbol">inv</span> <span class="keyword">~</span> <span class="symbol">value</span> <span class="keyword">+</span> <span class="symbol">capital</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">Grunfeld</span><span class="keyword">,</span> <span class="argument">model</span> <span class="argument">=</span> <span class="string">"random"</span><span class="keyword">)</span>
<span class="functioncall"><a href='pbgtest.html'>pbgtest</a></span><span class="keyword">(</span><span class="symbol">g</span><span class="keyword">)</span></div>
<strong class='message'>Loading required package: lmtest</strong>
<strong class='message'>Loading required package: zoo</strong>
<strong class='message'>
Attaching package: ‘zoo’
</strong>
<strong class='message'>The following object(s) are masked from ‘package:base’:

    as.Date, as.Date.numeric
</strong>
<div class='output'>
	Breusch-Godfrey/Wooldridge test for serial correlation in panel models

data:  inv ~ value + capital 
chisq = 69.9495, df = 20, p-value = 1.856e-07
alternative hypothesis: serial correlation in idiosyncratic errors 

</div>
<div class='input'><span class="functioncall"><a href='pbgtest.html'>pbgtest</a></span><span class="keyword">(</span><span class="symbol">g</span><span class="keyword">,</span> <span class="argument">order</span> <span class="argument">=</span> <span class="number">4</span><span class="keyword">)</span></div>
<div class='output'>
	Breusch-Godfrey/Wooldridge test for serial correlation in panel models

data:  inv ~ value + capital 
chisq = 50.9907, df = 4, p-value = 2.242e-10
alternative hypothesis: serial correlation in idiosyncratic errors 

</div>
<div class='input'>
<span class="comment">## formula interface</span>
<span class="functioncall"><a href='pbgtest.html'>pbgtest</a></span><span class="keyword">(</span><span class="symbol">inv</span> <span class="keyword">~</span> <span class="symbol">value</span> <span class="keyword">+</span> <span class="symbol">capital</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">Grunfeld</span><span class="keyword">,</span> <span class="argument">model</span> <span class="argument">=</span> <span class="string">"random"</span><span class="keyword">)</span></div>
<div class='output'>
	Breusch-Godfrey/Wooldridge test for serial correlation in panel models

data:  inv ~ value + capital 
chisq = 69.9495, df = 20, p-value = 1.856e-07
alternative hypothesis: serial correlation in idiosyncratic errors 

</div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>pbgtest</li><li>pbgtest.panelmodel</li><li>pbgtest.formula</li>
    </ul>
    <ul>
      <li>htest</li>
    </ul> -->
      
    <h2>See also</h2>
    
<code><a href='pdwtest.html'>pdwtest</a></code> for the analogous panel Durbin--Watson test, <code>bgtest</code> for the Breusch--Godfrey test for serial correlation in the linear model. <code><a href='pbltest.html'>pbltest</a></code>, <code><a href='pbsytest.html'>pbsytest</a></code>, <code><a href='pwartest.html'>pwartest</a></code> and <code><a href='pwfdtest.html'>pwfdtest</a></code> for other serial correlation tests for panel models.

    
    <h2>Author</h2>
    Giovanni Millo
    
  </div>
</div>