      <h1>Common Correlated Effects Pooled estimator</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='pccep.html'>pccep</a></span><span class="keyword">(</span><span class="symbol">formula</span><span class="keyword">,</span> <span class="symbol">data</span><span class="keyword">,</span> <span class="symbol">subset</span><span class="keyword">,</span> <span class="symbol">na.action</span><span class="keyword">,</span> <span class="argument">residuals</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"standard"</span><span class="keyword">,</span> <span class="string">"cce"</span><span class="keyword">,</span> <span class="string">"ccemg"</span><span class="keyword">)</span><span class="keyword">,</span>
  <span class="argument">index</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">trend</span> <span class="argument">=</span> <span class="number">FALSE</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/summary'>summary</a></span><span class="keyword">(</span><span class="symbol">object</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/print'>print</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="argument">digits</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Extremes'>max</a></span><span class="keyword">(</span><span class="number">3</span><span class="keyword">,</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/options'>getOption</a></span><span class="keyword">(</span><span class="string">"digits"</span><span class="keyword">)</span> <span class="keyword">-</span> <span class="number">2</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">width</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/options'>getOption</a></span><span class="keyword">(</span><span class="string">"width"</span><span class="keyword">)</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>formula</dt>
      <dd>a symbolic description of the model to be estimated,</dd>
      <dt>object, x</dt>
      <dd>an object of class <code>pccep</code>,</dd>
      <dt>data</dt>
      <dd>a <code>data.frame</code>,</dd>
      <dt>subset</dt>
      <dd>see <code>lm</code>,</dd>
      <dt>na.action</dt>
      <dd>see <code>lm</code>,</dd>
      <dt>residuals</dt>
      <dd>one of <code>c("standard", "cce","ccemg")</code>, allows for
 returning different inds of residuals for diagnostic purposes,</dd>
      <dt>index</dt>
      <dd>the indexes, see <code><a href='plm.data.html'>plm.data</a></code>,</dd>
      <dt>trend</dt>
      <dd>logical specifying whether an individual-specific trend has to be included,</dd>
      <dt>digits</dt>
      <dd>digits,</dd>
      <dt>width</dt>
      <dd>the maximum length of the lines in the print output,</dd>
      <dt>...</dt>
      <dd>further arguments.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Common Corrleated Effects Pooled (CCEP) estimator for panel data with
common factors (balanced or unbalanced)</p>
  
    </div>

    <div class="Value">
      <h2>Value</h2>
      
      <p>An object of class <code>c("pccep","panelmodel")</code> containing:
 coefficientsthe vector of coefficients,
 residualsthe vector of residuals,
 fitted.valuesthe vector of fitted.values,
 vcovthe covariance matrix of the coefficients,
 df.residualdegrees of freedom of the residuals,
 modela data.frame containing the variables used for the
    estimation,
 callthe call,
 sigmaalways <code>NULL</code>, <code>sigma</code> is here only for
   conmpatibility reasons (to allow using the same <code>summary</code> and
   <code>print</code> methods as <code>pggls</code>),
 indcoefthe matrix of individual coefficients from separate time
   series regressions.</p>
  
    </div>

    <div class="Details">
      <h2>Details</h2>
      
      <p><code>pccep</code> is a function for the estimation of linear panel models by the
Common Correlated Effects Pooled estimator, consistent under the
hypothesis of unobserved common factors and idiosyncratic factor
loadings; the CCEP estimator works by augmenting the model by
cross-sectional averages of the dependent variable and regressors in
order to account for the common factors, and adding individual
intercepts and possibly trends.</p>
  
    </div>

    <div class="References">
      <h2>References</h2>
      
      <p>G. Kapetanios, M. Hashem Pesaran, T. Yamagata (2011), Panels with
non-stationary multifactor error structures, <em>Journal of
  Econometrics</em>, <b>160(2)</b>, 326--348.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="functioncall"><a href='http://www.inside-r.org/r-doc/utils/data'>data</a></span><span class="keyword">(</span><span class="string">"Produc"</span><span class="keyword">,</span> <span class="argument">package</span> <span class="argument">=</span> <span class="string">"plm"</span><span class="keyword">)</span>
<span class="symbol">ccepmod</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='pccep.html'>pccep</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">gsp</span><span class="keyword">)</span> <span class="keyword">~</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">pcap</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">pc</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">emp</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="symbol">unemp</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">Produc</span><span class="keyword">)</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/summary'>summary</a></span><span class="keyword">(</span><span class="symbol">ccepmod</span><span class="keyword">)</span></div>
<div class='output'>Common Correlated Effects Pooled model
Call:
pccep(formula = log(gsp) ~ log(pcap) + log(pc) + log(emp) + unemp, 
    data = Produc)

Balanced Panel: n=48, T=17, N=816

Residuals
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max. 
  3.603   3.879   3.981   3.991   4.083   4.532 

Coefficients
            Estimate Std. Error z-value  Pr(>|z|)    
log(pcap)  0.0432376  0.1041125  0.4153    0.6779    
log(pc)    0.0363922  0.0368432  0.9878    0.3233    
log(emp)   0.8209632  0.1390202  5.9054 3.519e-09 ***
unemp     -0.0020925  0.0014973 -1.3976    0.1622    
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1 
Total Sum of Squares: 849.81
Residual Sum of Squares: 13020
Multiple R-squared: -14.322
</div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>pccep</li><li>summary.pccep</li><li>print.summary.pccep</li>
    </ul>
    <ul>
      <li>regression</li>
    </ul> -->
      
    
    <h2>Author</h2>
    Giovanni Millo
    
  </div>
</div>