      <h1>Tests of cross-section dependence for panel models</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='pcdtest.html'>pcdtest</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall"><a href='pcdtest.html'>pcdtest</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="argument">test</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"cd"</span><span class="keyword">,</span> <span class="string">"sclm"</span><span class="keyword">,</span> <span class="string">"lm"</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">w</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall"><a href='pcdtest.html'>pcdtest</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="symbol">data</span><span class="keyword">,</span> <span class="argument">index</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">model</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">test</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"cd"</span><span class="keyword">,</span> <span class="string">"sclm"</span><span class="keyword">,</span> <span class="string">"lm"</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">w</span> <span class="argument">=</span> NULL<span class="keyword">,</span>
  <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>x</dt>
      <dd>an object of class <code>formula</code> or <code>panelmodel</code>, describing the model to be tested</dd>
      <dt>data</dt>
      <dd>a <code>data.frame</code></dd>
      <dt>index</dt>
      <dd>an optional numerical index, in case <code>data</code> has to be formatted by <code>plm.data</code></dd>
      <dt>model</dt>
      <dd>an optional character string indicating which type of model to estimate;
 if left to <code>NULL</code>, the original heterogeneous specification of Pesaran is used</dd>
      <dt>test</dt>
      <dd>the type of test statistic to be returned. One of "cd" for Pesaran's CD statistic,
  "lm" for Breusch and Pagan's original LM statistic,
  "sclm" for the scaled version of Breusch and Pagan's LM statistic</dd>
      <dt>w</dt>
      <dd>an <code>n x n</code> <code>matrix</code> describing proximity between observations, with <code class = 'eq'>w_ij = a</code> where <code class = 'eq'>a</code> is any number such that <code>as.logical(a)=TRUE</code>, if <code class = 'eq'>i,j</code> are
 neighbours, <code class = 'eq'>0</code> or any number <code class = 'eq'>b</code> such that <code>as.logical(b)=FALSE</code> elsewhere</dd>
      <dt>...</dt>
      <dd>further arguments to be passed on to <code>plm</code>, such as e.g. <code>effect</code> or <code>random.method</code></dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Pesaran's CD or Breusch-Pagan's LM (local or global) tests for cross sectional dependence in panel models</p>
  
    </div>

    <div class="Value">
      <h2>Value</h2>
      
      <p>An object of class <code>"htest"</code>.</p>
  
    </div>

    <div class="Details">
      <h2>Details</h2>
      
      <p>These tests are originally meant to use the residuals of separate estimation of one time-series regression for each cross-sectional unit in order to check for cross-sectional dependence. If a different model specification (<code>within</code>, <code>random</code>, ...) is assumed consistent, one can resort to its residuals for testing (which is common, e.g., when the time dimension's length is insufficient for estimating the heterogeneous model). If the time dimension is insufficient and <code>model=NULL</code>, the function defaults to estimation of a <code>within</code> model and issues a warning. The main argument of this function may be either a model of class <code>panelmodel</code> or a <code>formula</code> and <code>dataframe</code>; in the second case, unless <code>model</code> is set to <code>NULL</code>, all usual parameters relative to the estimation of a <code>plm</code> model may be passed on. The test is compatible with any consistent <code>panelmodel</code> for the data at hand, with any specification of <code>effect</code>. E.g., specifying <code>effect=''time''</code> or <code>effect=''twoways''</code> allows to test for residual cross-sectional dependence after the introduction of time fixed
 effects to account for common shocks. A <em>local</em> version of either test can be computed supplying a proximity matrix (coercible to <code>logical</code>) providing information on whether any pair of observations are neighbours or not. If <code>w</code> is supplied, only neighbouring pairs will be used in computing the test; else, <code>w</code> will default to <code>NULL</code> and all observations will be used. The matrix need not be binary, so commonly used ``row-standardized'' matrices can be employed as well. <code>nb</code> objects from <span class = "pkg">spdep</span> must instead be transformed into matrices by <code>nb2mat</code> before using.</p>
  
    </div>

    <div class="References">
      <h2>References</h2>
      
      <p>Breusch, T.S. and A.R. Pagan (1980), The Lagrange multiplier test and its applications to model specification in econometrics, <em>Review of Economic Studies</em>, 47, pp. 239--253.</p>
  
      <p>Pesaran, H. (2004), General Diagnostic Tests for Cross Section Dependence in Panels, <em>CESIfo</em> Working Paper 1229. 
 <a href = 'http://www.cesifo-group.de/DocCIDL/cesifo1_wp1229.pdf'>http://www.cesifo-group.de/DocCIDL/cesifo1_wp1229.pdf</a></p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="functioncall"><a href='http://www.inside-r.org/r-doc/utils/data'>data</a></span><span class="keyword">(</span><span class="symbol">Grunfeld</span><span class="keyword">,</span> <span class="argument">package</span> <span class="argument">=</span> <span class="string">"plm"</span><span class="keyword">)</span>
<span class="comment">## test on heterogeneous model (separate time series regressions)</span>
<span class="functioncall"><a href='pcdtest.html'>pcdtest</a></span><span class="keyword">(</span><span class="symbol">inv</span> <span class="keyword">~</span> <span class="symbol">value</span> <span class="keyword">+</span> <span class="symbol">capital</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">Grunfeld</span><span class="keyword">,</span>
        <span class="argument">index</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"firm"</span><span class="keyword">,</span><span class="string">"year"</span><span class="keyword">)</span><span class="keyword">)</span></div>
<div class='output'>
	Pesaran CD test for cross-sectional dependence in panels

data:  formula 
z = 5.3401, p-value = 9.292e-08
alternative hypothesis: cross-sectional dependence 

</div>
<div class='input'><span class="comment">## test on two-way fixed effects homogeneous model</span>
<span class="functioncall"><a href='pcdtest.html'>pcdtest</a></span><span class="keyword">(</span><span class="symbol">inv</span> <span class="keyword">~</span> <span class="symbol">value</span> <span class="keyword">+</span> <span class="symbol">capital</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">Grunfeld</span><span class="keyword">,</span> <span class="argument">model</span><span class="argument">=</span><span class="string">"within"</span><span class="keyword">,</span>
        <span class="argument">effect</span><span class="argument">=</span><span class="string">"twoways"</span><span class="keyword">,</span> <span class="keyword">,</span> <span class="argument">index</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"firm"</span><span class="keyword">,</span><span class="string">"year"</span><span class="keyword">)</span><span class="keyword">)</span></div>
<div class='output'>
	Pesaran CD test for cross-sectional dependence in panels

data:  formula 
z = 0.1162, p-value = 0.9075
alternative hypothesis: cross-sectional dependence 

</div>
<div class='input'><span class="comment">## test on model object</span>
<span class="symbol">g</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='plm.html'>plm</a></span><span class="keyword">(</span><span class="symbol">inv</span> <span class="keyword">~</span> <span class="symbol">value</span> <span class="keyword">+</span> <span class="symbol">capital</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">Grunfeld</span><span class="keyword">,</span> <span class="argument">index</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"firm"</span><span class="keyword">,</span><span class="string">"year"</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="functioncall"><a href='pcdtest.html'>pcdtest</a></span><span class="keyword">(</span><span class="symbol">g</span><span class="keyword">)</span></div>
<div class='output'>
	Pesaran CD test for cross-sectional dependence in panels

data:  formula 
z = 4.6612, p-value = 3.144e-06
alternative hypothesis: cross-sectional dependence 

</div>
<div class='input'><span class="comment">## scaled LM test</span>
<span class="functioncall"><a href='pcdtest.html'>pcdtest</a></span><span class="keyword">(</span><span class="symbol">g</span><span class="keyword">,</span><span class="argument">test</span><span class="argument">=</span><span class="string">"sclm"</span><span class="keyword">)</span></div>
<div class='output'>
	Scaled LM test for cross-sectional dependence in panels

data:  formula 
z = 21.2219, p-value < 2.2e-16
alternative hypothesis: cross-sectional dependence 

</div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>pcdtest</li><li>pcdtest.formula</li><li>pcdtest.panelmodel</li>
    </ul>
    <ul>
      <li>htest</li>
    </ul> -->
      
        
  </div>
</div>