      <h1>data.frame for panel data</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='pdata.frame.html'>pdata.frame</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="argument">index</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">drop.index</span> <span class="argument">=</span> <span class="number">FALSE</span><span class="keyword">,</span> <span class="argument">row.names</span> <span class="argument">=</span> <span class="number">TRUE</span><span class="keyword">)</span>

<span class="symbol">x</span><span class="keyword">[</span><span class="symbol">i</span><span class="keyword">,</span> <span class="symbol">j</span><span class="keyword">,</span> <span class="argument">drop</span> <span class="argument">=</span> <span class="number">TRUE</span><span class="keyword">]</span>

<span class="symbol">x</span><span class="keyword">[[</span><span class="symbol">y</span><span class="keyword">]</span><span class="keyword">]</span>

<span class="symbol">x</span><span class="keyword">$</span><span class="symbol">y</span>

<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/print'>print</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/as.data.frame'>as.data.frame</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="argument">row.names</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">optional</span> <span class="argument">=</span> <span class="number">FALSE</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>x</dt>
      <dd> a <code>data.frame</code> for the <code>pdata.frame</code> function and a
    <code>pdata.frame</code> for the methods,</dd>
      <dt>i</dt>
      <dd>see <code>Extract</code>,</dd>
      <dt>j</dt>
      <dd>see <code>Extract</code>,</dd>
      <dt>y</dt>
      <dd>one of the columns of the <code>data.frame</code>,</dd>
      <dt>index</dt>
      <dd>this argument indicates the individual and time
    indexes. See details,</dd>
      <dt>drop</dt>
      <dd>see <code>Extract</code>,</dd>
      <dt>drop.index</dt>
      <dd>should the indexes be removed from the data.frame ?</dd>
      <dt>optional</dt>
      <dd>see <code>as.data.frame</code></dd>
      <dt>row.names</dt>
      <dd>should ``fancy'' row names be computed ?</dd>
      <dt>...</dt>
      <dd>further arguments</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>An object of this class is a data.frame with an attribute that
  describes its time and individual dimensions.</p>
  
    </div>

    <div class="Value">
      <h2>Value</h2>
      
      <p>a <code>pdata.frame</code> object: this is a <code>data.frame</code> with an <code>index</code> attribute which is a <code>data.frame</code> with two
  variables, the individual and the time indexes.</p>
  
    </div>

    <div class="Details">
      <h2>Details</h2>
      
      <p>The <code>index</code> argument indicates the dimensions of the panel. It can be:
  <ul>
<li> a character string which is the name of the individual index
    variable, in this case a new variable called ``time'' which contains the
    time index is added,
    </li>
<li> an integer,  the number of individuals in case of
    balanced panel, in this case two new variables ``time'' and ``id'' which
    contain the individual and the time indexes are added,
    </li>
<li> a vector of two character strings which contains the names of the individual and of
    the time indexes.
  </li>
</ul></p>
  
      <p>The <code>index</code> attribute is a <code>data.frame</code> which contains the individual and the time indexes. The <code>"[["</code> and <code>"$"</code> extract a series from the <code>pdata.frame</code>. The <code>"index"</code> attribute is then added to the series and a class attribute <code>"pseries"</code> is added. The <code>"["</code> method behaves as for <code>data.frame</code>, except that the extraction is also applied to the <code>index</code> attribute.  <code>as.data.frame</code> removes the index from the <code>pdata.frame</code> and adds it to every series.</p>
  
    </div>

    <div class="data.frame for panel data">
      <h2>data.frame for panel data</h2>
      
    </div>

    <div class="data.frame for panel data">
      <h2>data.frame for panel data</h2>
      
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="functioncall"><a href='http://www.inside-r.org/r-doc/utils/data'>data</a></span><span class="keyword">(</span><span class="string">"Wages"</span><span class="keyword">,</span> <span class="argument">package</span> <span class="argument">=</span> <span class="string">"plm"</span><span class="keyword">)</span>
<span class="symbol">Wag</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='pdata.frame.html'>pdata.frame</a></span><span class="keyword">(</span><span class="symbol">Wages</span><span class="keyword">,</span> <span class="number">595</span><span class="keyword">)</span>

<span class="comment"># Gasoline contains two variables which are individual and time indexes</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/utils/data'>data</a></span><span class="keyword">(</span><span class="string">"Gasoline"</span><span class="keyword">,</span> <span class="argument">package</span> <span class="argument">=</span> <span class="string">"plm"</span><span class="keyword">)</span>
<span class="symbol">Gas</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='pdata.frame.html'>pdata.frame</a></span><span class="keyword">(</span><span class="symbol">Gasoline</span><span class="keyword">,</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"country"</span><span class="keyword">,</span><span class="string">"year"</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">drop</span> <span class="argument">=</span> <span class="number">TRUE</span><span class="keyword">)</span>

<span class="comment"># Hedonic is an unbalanced panel, townid is the individual index</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/utils/data'>data</a></span><span class="keyword">(</span><span class="string">"Hedonic"</span><span class="keyword">,</span> <span class="argument">package</span><span class="argument">=</span><span class="string">"plm"</span><span class="keyword">)</span>
<span class="symbol">Hed</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='pdata.frame.html'>pdata.frame</a></span><span class="keyword">(</span><span class="symbol">Hedonic</span><span class="keyword">,</span> <span class="string">"townid"</span><span class="keyword">,</span> <span class="argument">row.names</span> <span class="argument">=</span> <span class="number">FALSE</span><span class="keyword">)</span></div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>pdata.frame</li><li>print.pdata.frame</li><li>[.pdata.frame</li><li>[[.pdata.frame</li><li>$.pdata.frame</li><li>as.data.frame.pdata.frame</li>
    </ul>
    <ul>
      <li>classes</li>
    </ul> -->
      
    
    <h2>Author</h2>
    Yves Croissant
    
  </div>
</div>