      <h1>General FGLS Estimators</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='pggls.html'>pggls</a></span><span class="keyword">(</span><span class="symbol">formula</span><span class="keyword">,</span> <span class="symbol">data</span><span class="keyword">,</span> <span class="symbol">subset</span><span class="keyword">,</span> <span class="symbol">na.action</span><span class="keyword">,</span> <span class="argument">effect</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"individual"</span><span class="keyword">,</span> <span class="string">"time"</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">model</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"within"</span><span class="keyword">,</span>
  <span class="string">"random"</span><span class="keyword">,</span> <span class="string">"pooling"</span><span class="keyword">,</span> <span class="string">"fd"</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">index</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/summary'>summary</a></span><span class="keyword">(</span><span class="symbol">object</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/print'>print</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="argument">digits</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Extremes'>max</a></span><span class="keyword">(</span><span class="number">3</span><span class="keyword">,</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/options'>getOption</a></span><span class="keyword">(</span><span class="string">"digits"</span><span class="keyword">)</span> <span class="keyword">-</span> <span class="number">2</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">width</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/options'>getOption</a></span><span class="keyword">(</span><span class="string">"width"</span><span class="keyword">)</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>formula</dt>
      <dd>a symbolic description of the model to be estimated,</dd>
      <dt>object, x</dt>
      <dd>an object of class <code>pggls</code>,</dd>
      <dt>data</dt>
      <dd>a <code>data.frame</code>,</dd>
      <dt>subset</dt>
      <dd>see <code>lm</code>,</dd>
      <dt>na.action</dt>
      <dd>see <code>lm</code>,</dd>
      <dt>effect</dt>
      <dd>the effects introduced in the model, one of <code>"individual"</code> or <code>"time"</code>,</dd>
      <dt>model</dt>
      <dd>one of <code>"within"</code>, <code>"random"</code>, <code>"pooling"</code>
 or <code>"fd"</code>,</dd>
      <dt>index</dt>
      <dd>the indexes, see <code><a href='plm.data.html'>plm.data</a></code>,</dd>
      <dt>digits</dt>
      <dd>digits,</dd>
      <dt>width</dt>
      <dd>the maximum length of the lines in the print output,</dd>
      <dt>...</dt>
      <dd>further arguments.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>General FGLS estimators for panel data (balanced or unbalanced)</p>
  
    </div>

    <div class="Value">
      <h2>Value</h2>
      
      <p>An object of class <code>c("pggls","panelmodel")</code> containing:
 coefficientsthe vector of coefficients,
 residualsthe vector of residuals,
 fitted.valuesthe vector of fitted.values,
 vcovthe covariance matrix of the coefficients,
 df.residualdegrees of freedom of the residuals,
 modela data.frame containing the variables used for the
    estimation,
 callthe call,
 sigmathe estimated intragroup (or cross-sectional, if <code>effect="time"</code>) covariance of errors,</p>
  
    </div>

    <div class="Details">
      <h2>Details</h2>
      
      <p><code>pggls</code> is a function for the estimation of linear panel models by general feasible generalized least squares, either with or without fixed effects. General FGLS is based on a two-step estimation process: first a model is estimated by OLS (<code>random</code>) or fixed effects (<code>within</code>), then its residuals are used to estimate an error covariance matrix for use in a feasible-GLS analysis. This framework allows the error covariance structure inside every group (if   <code>effect="individual"</code>, else symmetric) of observations to be
fully unrestricted and is therefore robust against any type of
intragroup heteroskedasticity and serial correlation. Conversely, this
structure is assumed identical across groups and thus general FGLS
estimation is inefficient under groupwise heteroskedasticity. Note also
that this method requires estimation of <code class = 'eq'>T(T+1)/2</code> variance
parameters, thus efficiency requires N  > > T   (if
<code>effect="individual"</code>, else the opposite).
The <code>model="random"</code> and <code>model="pooling"</code> arguments both
produce an unrestricted FGLS model as in Wooldridge, Ch.10. If
<code>model="within"</code> (the default) then a FEGLS (fixed effects GLS, see
ibid.) is estimated; if <code>model="fd"</code> a FDGLS (first-difference GLS).</p>
  
    </div>

    <div class="References">
      <h2>References</h2>
      
      <p>Kiefer, N. M. (1980) Estimation of Fixed Effects Models for Time Series
of Cross-Sections with Arbitrary Intertemporal Covariance, <em>Journal
  of Econometrics</em>, <b>14</b>, 195--202.</p>
  
      <p>Im, K. S. and Ahn, S. C. and Schmidt, P. and Wooldridge, J. M. (1999)
Efficient Estimation of Panel Data Models with Strictly Exogenous
Explanatory Variables, <em>Journal of Econometrics</em>, <b>93</b>,
177-201.</p>
  
      <p>Wooldridge, J. M. (2002) <em>Econometric Analysis of Cross Section and Panel Data</em>, MIT Press.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="functioncall"><a href='http://www.inside-r.org/r-doc/utils/data'>data</a></span><span class="keyword">(</span><span class="string">"Produc"</span><span class="keyword">,</span> <span class="argument">package</span> <span class="argument">=</span> <span class="string">"plm"</span><span class="keyword">)</span>
<span class="symbol">zz</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='pggls.html'>pggls</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">gsp</span><span class="keyword">)</span> <span class="keyword">~</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">pcap</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">pc</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">emp</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="symbol">unemp</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">Produc</span><span class="keyword">,</span> <span class="argument">model</span> <span class="argument">=</span> <span class="string">"pooling"</span><span class="keyword">)</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/summary'>summary</a></span><span class="keyword">(</span><span class="symbol">zz</span><span class="keyword">)</span></div>
<div class='output'> NA

Call:
pggls(formula = log(gsp) ~ log(pcap) + log(pc) + log(emp) + unemp, 
    data = Produc, model = "pooling")

Balanced Panel: n=48, T=17, N=816

Residuals
     Min.   1st Qu.    Median      Mean   3rd Qu.      Max. 
-0.255700 -0.070200 -0.014120 -0.008909  0.039120  0.455500 

Coefficients
               Estimate  Std. Error z-value  Pr(>|z|)    
(Intercept)  2.26388494  0.10077679 22.4643 < 2.2e-16 ***
log(pcap)    0.10566584  0.02004106  5.2725 1.346e-07 ***
log(pc)      0.21643137  0.01539471 14.0588 < 2.2e-16 ***
log(emp)     0.71293894  0.01863632 38.2553 < 2.2e-16 ***
unemp       -0.00447265  0.00045214 -9.8921 < 2.2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1 
Total Sum of Squares: 849.81
Residual Sum of Squares: 7.5587
Multiple R-squared: 0.99111
</div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>pggls</li><li>summary.pggls</li><li>print.summary.pggls</li>
    </ul>
    <ul>
      <li>regression</li>
    </ul> -->
      
    
    <h2>Author</h2>
    Giovanni Millo
    
  </div>
</div>