      <h1>Generalized Method of Moments (GMM) Estimation for Panel Data</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='pgmm.html'>pgmm</a></span><span class="keyword">(</span><span class="symbol">formula</span><span class="keyword">,</span> <span class="symbol">data</span><span class="keyword">,</span> <span class="symbol">subset</span><span class="keyword">,</span> <span class="symbol">na.action</span><span class="keyword">,</span> <span class="argument">effect</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"twoways"</span><span class="keyword">,</span> <span class="string">"individual"</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">model</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"onestep"</span><span class="keyword">,</span>
  <span class="string">"twosteps"</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">transformation</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"d"</span><span class="keyword">,</span> <span class="string">"ld"</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">fsm</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">index</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/summary'>summary</a></span><span class="keyword">(</span><span class="symbol">object</span><span class="keyword">,</span> <span class="symbol">robust</span><span class="keyword">,</span> <span class="argument">time.dummies</span> <span class="argument">=</span> <span class="number">FALSE</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/print'>print</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="argument">digits</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Extremes'>max</a></span><span class="keyword">(</span><span class="number">3</span><span class="keyword">,</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/options'>getOption</a></span><span class="keyword">(</span><span class="string">"digits"</span><span class="keyword">)</span> <span class="keyword">-</span> <span class="number">2</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">width</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/options'>getOption</a></span><span class="keyword">(</span><span class="string">"width"</span><span class="keyword">)</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>formula</dt>
      <dd>a symbolic description for the model to be
    estimated. The prefered interface is now to indicate a multi-part
    formula, the first two parts describing the covariates and the gmm
    instruments and, if any, the third part the 'normal' instruments,</dd>
      <dt>object,x</dt>
      <dd>an object of class <code>"pgmm"</code>,</dd>
      <dt>data</dt>
      <dd>a <code>data.frame</code>,</dd>
      <dt>subset</dt>
      <dd>see <code><a href='http://www.inside-r.org/r-doc/stats/lm'>lm</a></code>,</dd>
      <dt>na.action</dt>
      <dd>see <code><a href='http://www.inside-r.org/r-doc/stats/lm'>lm</a></code>,</dd>
      <dt>effect</dt>
      <dd>the effects introduced in the model, one of
    <code>"twoways"</code> (the default) or <code>"individual"</code>,</dd>
      <dt>model</dt>
      <dd>one of <code>"onestep"</code> (the default) or
    <code>"twosteps"</code>,</dd>
      <dt>transformation</dt>
      <dd>the kind of transformation to apply to the
  model: either <code>"d"</code> (the default value) for the ``difference GMM''
  model or <code>"ld"</code> for the ``system GMM'',</dd>
      <dt>fsm</dt>
      <dd>the matrix for the one step estimator : one of <code>"I"</code>
  (identity matrix) or <code>"G"</code> (<code class = 'eq'>=D'D</code> where <code class = 'eq'>D</code> is the
  first-difference operator) if <code>transformation="d"</code>, one of
  <code>"GI"</code> or <code>"full"</code> if <code>transformation="ld"</code>,</dd>
      <dt>index</dt>
      <dd>the indexes,</dd>
      <dt>digits</dt>
      <dd>digits,</dd>
      <dt>width</dt>
      <dd>the maximum length of the lines in the print
    output,</dd>
      <dt>robust</dt>
      <dd>if <code>TRUE</code>, robust inference is performed in the
    summary,</dd>
      <dt>time.dummies</dt>
      <dd>if <code>TRUE</code>, the estimated coefficients of time
    dummies are present in the table of coefficients,</dd>
      <dt>...</dt>
      <dd>further arguments.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Generalized method of moments estimation for static or dynamic models with panel data.</p>
  
    </div>

    <div class="Value">
      <h2>Value</h2>
      
      <p>An object of class <code>c("pgmm","panelmodel")</code>, which has the following elements:</p>
  
      <p>coefficientsthe vector (or the list for fixed effects) of coefficients,
residualsthe vector of residuals,
fitted.valuesthe vector of fitted.values,
vcovthe covariance matrix of the coefficients,
df.residualdegrees of freedom of the residuals,
modela list containing  the variables used for the
  estimation for each individual,</p>
  
      <p>Wa list containing the instruments for each individual (two
lists in case of ``sys--GMM''),</p>
  
      <p>A1the weighting matrix for the one--step estimator,</p>
  
      <p>A2the weighting matrix for the two--steps estimator,</p>
  
      <p>callthe call.</p>
  
      <p>It has <code>print</code>, <code>summary</code> and <code>print.summary</code> methods.</p>
  
    </div>

    <div class="Details">
      <h2>Details</h2>
      
      <p></p>
  
      <p><code>pgmm</code> estimates a model for panel data with a generalized method
of moments (GMM) estimator. The description of the model to estimate is
provided with a multi-part formula which is (or which is coerced to) a
<code>Formula</code> object. The first right-hand side part describe the
covariates. The second one, which is mandatory, describes the gmm
instruments. The third one, which is optionnal, describes the 'normal'
instruments. By default, all the variables of the model which are not
used as GMM instruments are used as normal instruments with the same lag
structure as the one specified in the model.</p>
  
      <p><code>y~lag(y, 1:2)+lag(x1, 0:1)+lag(x2, 0:2) | lag(y, 2:99)</code> is similar
to <code>y~lag(y, 1:2)+lag(x1, 0:1)+lag(x2, 0:2) | lag(y, 2:99) |
lag(x1, 0:1)+lag(x2, 0:2)</code> and indicates that all lags from 2 of
<code>y</code> is used as gmm instruments.</p>
  
      <p><code>transformation</code> indicates how the model should be transformed for
the estimation. <code>"d"</code> gives the ``difference GMM'' model (see
Arellano and Bond (1991)), <code>"ld"</code> the ``system GMM'' model (see
Blundell and Bond (1998)).</p>
  
      <p><code>pgmm</code> is an attempt to adapt GMM estimators available within the
DPD library for GAUSS (see Arellano and Bond 1998) and Ox (see Doornik,
Arellano and Bond 2006) and with the xtabond2 library for STATA (see
Roodman 2009).</p>
  
    </div>

    <div class="References">
      <h2>References</h2>
      
      <p></p>
  
      <p>Arellano, M. and Bond, S. (1991) Some Tests of Specification for Panel
Data: Monte Carlo Evidence and an Application to Employment Equations,
<em>The Review of Economic Studies</em>, vol. <b>58</b>(2), 1991,
pp.227--297.</p>
  
      <p>Arellano, M. and  Bond, S. (1998) Dynamic Panel Data Estimation
Using DPD98 for GAUSS: A Guide for Users.</p>
  
      <p>Blundell, R. and Bond, S. (1998) Initial Conditions and Moment
Restrictions in Dynamic Panel Data Models, <em>Journal of
Econometrics</em>, vol. <b>87</b>, pp.115--143.</p>
  
      <p>Doornik, J., Arellano, M. and Bond, S. (2006) Panel Data Estimation
using DPD for Ox.  <a href = 'http://www.doornik.com/download/dpd.pdf'>http://www.doornik.com/download/dpd.pdf</a></p>
  
      <p>Roodman, D. (2009) How to do xtabond2: An Introduction to ``difference''
and ``system'' GMM in Stata, <em>Stata Journal</em>, vol. <b>9</b>(1),
pp. 86--136. Working Paper version at
<a href = 'http://ideas.repec.org/p/cgd/wpaper/103.html'>http://ideas.repec.org/p/cgd/wpaper/103.html</a></p>
  
      <p></p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="functioncall"><a href='http://www.inside-r.org/r-doc/utils/data'>data</a></span><span class="keyword">(</span><span class="string">"EmplUK"</span><span class="keyword">,</span> <span class="argument">package</span> <span class="argument">=</span> <span class="string">"plm"</span><span class="keyword">)</span>

<span class="comment">## Arellano and Bond (1991), table 4b </span>
<span class="symbol">z1</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='pgmm.html'>pgmm</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">emp</span><span class="keyword">)</span> <span class="keyword">~</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/lag'>lag</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">emp</span><span class="keyword">)</span><span class="keyword">,</span> <span class="number">1</span><span class="keyword">:</span><span class="number">2</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/lag'>lag</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">wage</span><span class="keyword">)</span><span class="keyword">,</span> <span class="number">0</span><span class="keyword">:</span><span class="number">1</span><span class="keyword">)</span>
           <span class="keyword">+</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">capital</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/lag'>lag</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">output</span><span class="keyword">)</span><span class="keyword">,</span> <span class="number">0</span><span class="keyword">:</span><span class="number">1</span><span class="keyword">)</span> <span class="keyword">|</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/lag'>lag</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">emp</span><span class="keyword">)</span><span class="keyword">,</span> <span class="number">2</span><span class="keyword">:</span><span class="number">99</span><span class="keyword">)</span><span class="keyword">,</span>
            <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">EmplUK</span><span class="keyword">,</span> <span class="argument">effect</span> <span class="argument">=</span> <span class="string">"twoways"</span><span class="keyword">,</span> <span class="argument">model</span> <span class="argument">=</span> <span class="string">"twosteps"</span><span class="keyword">)</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/summary'>summary</a></span><span class="keyword">(</span><span class="symbol">z1</span><span class="keyword">)</span></div>
<div class='output'>Twoways effects Two steps model

Call:
pgmm(formula = log(emp) ~ lag(log(emp), 1:2) + lag(log(wage), 
    0:1) + log(capital) + lag(log(output), 0:1) | lag(log(emp), 
    2:99), data = EmplUK, effect = "twoways", model = "twosteps")

Unbalanced Panel: n=140, T=7-9, N=1031

Number of Observations Used:  611 

Residuals
      Min.    1st Qu.     Median       Mean    3rd Qu.       Max. 
-0.6191000 -0.0255700  0.0000000 -0.0001339  0.0332000  0.6410000 

Coefficients
                        Estimate Std. Error  z-value  Pr(>|z|)    
lag(log(emp), 1:2)1     0.474151   0.085303   5.5584 2.722e-08 ***
lag(log(emp), 1:2)2    -0.052967   0.027284  -1.9413 0.0522200 .  
lag(log(wage), 0:1)0   -0.513205   0.049345 -10.4003 < 2.2e-16 ***
lag(log(wage), 0:1)1    0.224640   0.080063   2.8058 0.0050192 ** 
log(capital)            0.292723   0.039463   7.4177 1.191e-13 ***
lag(log(output), 0:1)0  0.609775   0.108524   5.6188 1.923e-08 ***
lag(log(output), 0:1)1 -0.446373   0.124815  -3.5763 0.0003485 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1 

Sargan Test: chisq(25) = 30.11247 (p.value=0.22011)
Autocorrelation test (1): normal = -2.427829 (p.value=0.0075948)
Autocorrelation test (2): normal = -0.3325401 (p.value=0.36974)
Wald test for coefficients: chisq(7) = 371.9877 (p.value=< 2.22e-16)
Wald test for time dummies: chisq(6) = 26.9045 (p.value=0.0001509)
</div>
<div class='input'>
<span class="comment">## Blundell and Bond (1998) table 4 (cf DPD for OX p.12 col.4)</span>
<span class="symbol">z2</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='pgmm.html'>pgmm</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">emp</span><span class="keyword">)</span> <span class="keyword">~</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/lag'>lag</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">emp</span><span class="keyword">)</span><span class="keyword">,</span> <span class="number">1</span><span class="keyword">)</span><span class="keyword">+</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/lag'>lag</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">wage</span><span class="keyword">)</span><span class="keyword">,</span> <span class="number">0</span><span class="keyword">:</span><span class="number">1</span><span class="keyword">)</span> <span class="keyword">+</span>
           <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/lag'>lag</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">capital</span><span class="keyword">)</span><span class="keyword">,</span> <span class="number">0</span><span class="keyword">:</span><span class="number">1</span><span class="keyword">)</span> <span class="keyword">|</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/lag'>lag</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">emp</span><span class="keyword">)</span><span class="keyword">,</span> <span class="number">2</span><span class="keyword">:</span><span class="number">99</span><span class="keyword">)</span> <span class="keyword">+</span>
           <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/lag'>lag</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">wage</span><span class="keyword">)</span><span class="keyword">,</span> <span class="number">2</span><span class="keyword">:</span><span class="number">99</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/lag'>lag</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">capital</span><span class="keyword">)</span><span class="keyword">,</span> <span class="number">2</span><span class="keyword">:</span><span class="number">99</span><span class="keyword">)</span><span class="keyword">,</span>
           <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">EmplUK</span><span class="keyword">,</span> <span class="argument">effect</span> <span class="argument">=</span> <span class="string">"twoways"</span><span class="keyword">,</span> <span class="argument">model</span> <span class="argument">=</span> <span class="string">"onestep"</span><span class="keyword">,</span>
           <span class="argument">transformation</span> <span class="argument">=</span> <span class="string">"ld"</span><span class="keyword">)</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/summary'>summary</a></span><span class="keyword">(</span><span class="symbol">z2</span><span class="keyword">,</span> <span class="argument">robust</span> <span class="argument">=</span> <span class="number">TRUE</span><span class="keyword">)</span></div>
<div class='output'>Twoways effects One step model

Call:
pgmm(formula = log(emp) ~ lag(log(emp), 1) + lag(log(wage), 0:1) + 
    lag(log(capital), 0:1) | lag(log(emp), 2:99) + lag(log(wage), 
    2:99) + lag(log(capital), 2:99), data = EmplUK, effect = "twoways", 
    model = "onestep", transformation = "ld")

Unbalanced Panel: n=140, T=7-9, N=1031

Number of Observations Used:  1642 

Residuals
      Min.    1st Qu.     Median       Mean    3rd Qu.       Max. 
-0.7530000 -0.0369000  0.0000000  0.0002882  0.0466100  0.6002000 

Coefficients
                         Estimate Std. Error z-value  Pr(>|z|)    
lag(log(emp), 1)         0.935605   0.026295 35.5810 < 2.2e-16 ***
lag(log(wage), 0:1)0    -0.630976   0.118054 -5.3448 9.050e-08 ***
lag(log(wage), 0:1)1     0.482620   0.136887  3.5257 0.0004224 ***
lag(log(capital), 0:1)0  0.483930   0.053867  8.9838 < 2.2e-16 ***
lag(log(capital), 0:1)1 -0.424393   0.058479 -7.2572 3.952e-13 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1 

Sargan Test: chisq(100) = 236.0249 (p.value=5.2115e-13)
Autocorrelation test (1): normal = -4.808434 (p.value=7.6059e-07)
Autocorrelation test (2): normal = -0.2800133 (p.value=0.38973)
Wald test for coefficients: chisq(5) = 11174.82 (p.value=< 2.22e-16)
Wald test for time dummies: chisq(7) = 14.71138 (p.value=0.039882)
</div>
<div class='input'>
## <strong>Not run</strong>: 
# ## Same with the old formula or dynformula interface
# ## Arellano and Bond (1991), table 4b 
# z1 <- pgmm(log(emp) ~ log(wage) + log(capital) + log(output),
#             lag.form = list(2,1,0,1), data = EmplUK, 
#             effect = "twoways", model = "twosteps",
#             gmm.inst = ~log(emp), lag.gmm = list(c(2,99)))
# summary(z1)
# 
# ## Blundell and Bond (1998) table 4 (cf DPD for OX p.12 col.4)
# z2 <- pgmm(dynformula(log(emp) ~ log(wage) + log(capital), list(1,1,1)), 
#             data = EmplUK, effect = "twoways", model = "onestep", 
#             gmm.inst = ~log(emp) + log(wage) + log(capital), 
#             lag.gmm = c(2,99), transformation = "ld")
# summary(z2, robust = TRUE)
# ## <strong>End(Not run)</strong>
</div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>pgmm</li><li>summary.pgmm</li><li>print.summary.pgmm</li>
    </ul>
    <ul>
      <li>regression</li>
    </ul> -->
      
    <h2>See also</h2>
    
  
  <code><a href='dynformula.html'>dynformula</a></code> for dynamic formulas, <code><a href='sargan.html'>sargan</a></code>
  for Sargan tests and <code><a href='mtest.html'>mtest</a></code> for Arellano--Bond's tests of
  multicollinearity.
  

    
    <h2>Author</h2>
    Yves Croissant
    
  </div>
</div>