      <h1>Hausman Test for Panel Models</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='phtest.html'>phtest</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall"><a href='phtest.html'>phtest</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="symbol">x2</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall"><a href='phtest.html'>phtest</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="symbol">data</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">,</span> <span class="argument">model</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"within"</span><span class="keyword">,</span> <span class="string">"random"</span><span class="keyword">)</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>x</dt>
      <dd>an object of class  <code>"panelmodel"</code> or <code>"formula"</code>,</dd>
      <dt>x2</dt>
      <dd>an object of class <code>"panelmodel"</code>,</dd>
      <dt>model</dt>
      <dd>a vector containing the names of two models,</dd>
      <dt>data</dt>
      <dd>a <code>data.frame</code>,</dd>
      <dt>...</dt>
      <dd>further arguments passed to <code>plm</code></dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Specification test for panel models.</p>
  
    </div>

    <div class="Value">
      <h2>Value</h2>
      
      <p>An object of class <code>"htest"</code>.</p>
  
    </div>

    <div class="Details">
      <h2>Details</h2>
      
      <p>The Hausman test is based on the difference of the vectors of
coefficients of two different models.</p>
  
    </div>

    <div class="References">
      <h2>References</h2>
      
      <p>Hausman, J.A. (1978), Specification tests in econometrics, <em>Econometrica</em>, <b>46</b>, pp.1251--1271.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="functioncall"><a href='http://www.inside-r.org/r-doc/utils/data'>data</a></span><span class="keyword">(</span><span class="string">"Gasoline"</span><span class="keyword">,</span> <span class="argument">package</span> <span class="argument">=</span> <span class="string">"plm"</span><span class="keyword">)</span>
<span class="symbol">form</span> <span class="assignement">&lt;-</span> <span class="symbol">lgaspcar</span> <span class="keyword">~</span> <span class="symbol">lincomep</span> <span class="keyword">+</span> <span class="symbol">lrpmg</span> <span class="keyword">+</span> <span class="symbol">lcarpcap</span>
<span class="symbol">wi</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='plm.html'>plm</a></span><span class="keyword">(</span><span class="symbol">form</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">Gasoline</span><span class="keyword">,</span> <span class="argument">model</span> <span class="argument">=</span> <span class="string">"within"</span><span class="keyword">)</span>
<span class="symbol">re</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='plm.html'>plm</a></span><span class="keyword">(</span><span class="symbol">form</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">Gasoline</span><span class="keyword">,</span> <span class="argument">model</span> <span class="argument">=</span> <span class="string">"random"</span><span class="keyword">)</span>
<span class="functioncall"><a href='phtest.html'>phtest</a></span><span class="keyword">(</span><span class="symbol">wi</span><span class="keyword">,</span> <span class="symbol">re</span><span class="keyword">)</span></div>
<div class='output'>
	Hausman Test

data:  form 
chisq = 302.8037, df = 3, p-value < 2.2e-16
alternative hypothesis: one model is inconsistent 

</div>
<div class='input'><span class="functioncall"><a href='phtest.html'>phtest</a></span><span class="keyword">(</span><span class="symbol">form</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">Gasoline</span><span class="keyword">)</span></div>
<strong class='error'>Error in inherits(formula, "pFormula"): object 'form' not found</strong></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>phtest</li><li>phtest.formula</li><li>phtest.panelmodel</li>
    </ul>
    <ul>
      <li>htest</li>
    </ul> -->
      
    
    <h2>Author</h2>
    Yves Croissant
    
  </div>
</div>