      <h1>Mean Groups (MG), Demeaned MG and CCE MG estimators</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='pmg.html'>pmg</a></span><span class="keyword">(</span><span class="symbol">formula</span><span class="keyword">,</span> <span class="symbol">data</span><span class="keyword">,</span> <span class="symbol">subset</span><span class="keyword">,</span> <span class="symbol">na.action</span><span class="keyword">,</span> <span class="argument">model</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"mg"</span><span class="keyword">,</span> <span class="string">"cmg"</span><span class="keyword">,</span> <span class="string">"dmg"</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">index</span> <span class="argument">=</span> NULL<span class="keyword">,</span>
  <span class="argument">trend</span> <span class="argument">=</span> <span class="number">FALSE</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/summary'>summary</a></span><span class="keyword">(</span><span class="symbol">object</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/print'>print</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="argument">digits</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Extremes'>max</a></span><span class="keyword">(</span><span class="number">3</span><span class="keyword">,</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/options'>getOption</a></span><span class="keyword">(</span><span class="string">"digits"</span><span class="keyword">)</span> <span class="keyword">-</span> <span class="number">2</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">width</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/options'>getOption</a></span><span class="keyword">(</span><span class="string">"width"</span><span class="keyword">)</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>formula</dt>
      <dd>a symbolic description of the model to be estimated,</dd>
      <dt>object, x</dt>
      <dd>an object of class <code>pmg</code>,</dd>
      <dt>data</dt>
      <dd>a <code>data.frame</code>,</dd>
      <dt>subset</dt>
      <dd>see <code>lm</code>,</dd>
      <dt>na.action</dt>
      <dd>see <code>lm</code>,</dd>
      <dt>model</dt>
      <dd>one of <code>c("mg", "cmg","dmg")</code>,</dd>
      <dt>index</dt>
      <dd>the indexes, see <code><a href='plm.data.html'>plm.data</a></code>,</dd>
      <dt>trend</dt>
      <dd>logical specifying whether an individual-specific trend has to be included,</dd>
      <dt>digits</dt>
      <dd>digits,</dd>
      <dt>width</dt>
      <dd>the maximum length of the lines in the print output,</dd>
      <dt>...</dt>
      <dd>further arguments.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Mean Groups (MG), Demeaned MG (DMG) and Common Corrleated Effects MG
(CCEMG) estimators for heterogeneous panel models, possibly with
common factors (CCEMG)</p>
  
    </div>

    <div class="Value">
      <h2>Value</h2>
      
      <p>An object of class <code>c("pmg","panelmodel")</code> containing:
 coefficientsthe vector of coefficients,
 residualsthe vector of residuals,
 fitted.valuesthe vector of fitted.values,
 vcovthe covariance matrix of the coefficients,
 df.residualdegrees of freedom of the residuals,
 modela data.frame containing the variables used for the
    estimation,
 callthe call,
 sigmaalways <code>NULL</code>, <code>sigma</code> is here only for
   conmpatibility reasons (to allow using the same <code>summary</code> and
   <code>print</code> methods as <code>pggls</code>),
 indcoefthe matrix of individual coefficients from separate time
   series regressions.</p>
  
    </div>

    <div class="Details">
      <h2>Details</h2>
      
      <p><code>pmg</code> is a function for the estimation of linear panel models with
heterogeneous coeffcients by the Mean Groups
estimator. <code>model="mg"</code> specifies the standard Mean Groups
estimator, based on the average of individual time series
regressions. If <code>model="dmg"</code> the data are demeaned
cross-sectionally, which is believed to reduce the influence of common
factors (and is akin to what is done in homogeneous panels when
<code>model="within"</code> and <code>effect="time"</code>. Lastly, if
<code>model="cmg"</code> then the CCEMG estimator is employed: this latter is
consistent under the hypothesis of unobserved common factors and
idiosyncratic factor loadings; it works by augmenting the model by
cross-sectional averages of the dependent variable and regressors in
order to account for the common factors, and adding individual
intercepts and possibly trends.</p>
  
    </div>

    <div class="References">
      <h2>References</h2>
      
      <p>M. Hashem Pesaran, (2006), Estimation and Inference in Large Heterogeneous Panels with a Multifactor Error Structure, <em>Econometrica</em>, <b>74(4)</b>, 967--1012.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="functioncall"><a href='http://www.inside-r.org/r-doc/utils/data'>data</a></span><span class="keyword">(</span><span class="string">"Produc"</span><span class="keyword">,</span> <span class="argument">package</span> <span class="argument">=</span> <span class="string">"plm"</span><span class="keyword">)</span>
<span class="comment">## Mean Groups estimator</span>
<span class="symbol">mgmod</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='pmg.html'>pmg</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">gsp</span><span class="keyword">)</span> <span class="keyword">~</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">pcap</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">pc</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">emp</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="symbol">unemp</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">Produc</span><span class="keyword">)</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/summary'>summary</a></span><span class="keyword">(</span><span class="symbol">mgmod</span><span class="keyword">)</span></div>
<div class='output'>Mean Groups model
Call:
pmg(formula = log(gsp) ~ log(pcap) + log(pc) + log(emp) + unemp, 
    data = Produc)

Balanced Panel: n=48, T=17, N=816

Residuals
    Min.  1st Qu.   Median     Mean  3rd Qu.     Max. 
-0.26640 -0.01138  0.05645  0.05714  0.11250  0.72120 

Coefficients
              Estimate Std. Error z-value  Pr(>|z|)    
(Intercept)  2.6722392  0.4126515  6.4758 9.433e-11 ***
log(pcap)   -0.1048507  0.0799132 -1.3121   0.18950    
log(pc)      0.2182539  0.0500862  4.3576 1.315e-05 ***
log(emp)     0.9334776  0.0750072 12.4452 < 2.2e-16 ***
unemp       -0.0037216  0.0016427 -2.2655   0.02348 *  
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1 
Total Sum of Squares: 849.81
Residual Sum of Squares: 14.267
Multiple R-squared: 0.98321
</div>
<div class='input'><span class="comment">## demeaned Mean Groups</span>
<span class="symbol">dmgmod</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='pmg.html'>pmg</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">gsp</span><span class="keyword">)</span> <span class="keyword">~</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">pcap</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">pc</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">emp</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="symbol">unemp</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span>
<span class="symbol">Produc</span><span class="keyword">,</span> <span class="argument">model</span><span class="argument">=</span><span class="string">"dmg"</span><span class="keyword">)</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/summary'>summary</a></span><span class="keyword">(</span><span class="symbol">dmgmod</span><span class="keyword">)</span></div>
<div class='output'>Mean Groups model
Call:
pmg(formula = log(gsp) ~ log(pcap) + log(pc) + log(emp) + unemp, 
    data = Produc, model = "dmg")

Balanced Panel: n=48, T=17, N=816

Residuals
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max. 
  3.184   3.421   3.504   3.515   3.591   3.973 

Coefficients
              Estimate Std. Error z-value  Pr(>|z|)    
(Intercept)  0.0580979  0.1042881  0.5571  0.577466    
log(pcap)   -0.0629002  0.1021706 -0.6156  0.538133    
log(pc)      0.1607882  0.0591334  2.7191  0.006546 ** 
log(emp)     0.8425585  0.0704896 11.9529 < 2.2e-16 ***
unemp       -0.0050181  0.0020770 -2.4160  0.015693 *  
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1 
Total Sum of Squares: 849.81
Residual Sum of Squares: 10099
Multiple R-squared: -10.884
</div>
<div class='input'><span class="comment">## Common Correlated Effects Mean Groups</span>
<span class="symbol">ccemgmod</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='pmg.html'>pmg</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">gsp</span><span class="keyword">)</span> <span class="keyword">~</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">pcap</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">pc</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">emp</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="symbol">unemp</span><span class="keyword">,</span> <span class="argument">data</span>
<span class="argument">=</span> <span class="symbol">Produc</span><span class="keyword">,</span> <span class="argument">model</span><span class="argument">=</span><span class="string">"cmg"</span><span class="keyword">)</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/summary'>summary</a></span><span class="keyword">(</span><span class="symbol">ccemgmod</span><span class="keyword">)</span></div>
<div class='output'>Mean Groups model
Call:
pmg(formula = log(gsp) ~ log(pcap) + log(pc) + log(emp) + unemp, 
    data = Produc, model = "cmg")

Balanced Panel: n=48, T=17, N=816

Residuals
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max. 
  4.928   5.392   5.621   5.610   5.774   6.410 

Coefficients
                Estimate Std. Error z-value  Pr(>|z|)    
(Intercept)   -0.6741754  1.0445518 -0.6454  0.518655    
log(pcap)      0.0899850  0.1176040  0.7652  0.444180    
log(pc)        0.0335784  0.0423362  0.7931  0.427698    
log(emp)       0.6258659  0.1071719  5.8398 5.225e-09 ***
unemp         -0.0031178  0.0014389 -2.1668  0.030249 *  
y.bar          1.0038005  0.1078874  9.3041 < 2.2e-16 ***
log(pcap).bar -0.0491919  0.2396185 -0.2053  0.837344    
log(pc).bar   -0.0033198  0.1576547 -0.0211  0.983200    
log(emp).bar  -0.6978359  0.2432887 -2.8683  0.004126 ** 
unemp.bar      0.0025544  0.0031848  0.8021  0.422505    
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1 
Total Sum of Squares: 849.81
Residual Sum of Squares: 25756
Multiple R-squared: -29.308
</div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>pmg</li><li>summary.pmg</li><li>print.summary.pmg</li>
    </ul>
    <ul>
      <li>regression</li>
    </ul> -->
      
    
    <h2>Author</h2>
    Giovanni Millo
    
  </div>
</div>