      <h1>A function to extract the model.response</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='pmodel.response.html'>pmodel.response</a></span><span class="keyword">(</span><span class="symbol">object</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall"><a href='pmodel.response.html'>pmodel.response</a></span><span class="keyword">(</span><span class="symbol">object</span><span class="keyword">,</span> <span class="argument">model</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"pooling"</span><span class="keyword">,</span> <span class="string">"within"</span><span class="keyword">,</span> <span class="string">"Between"</span><span class="keyword">,</span> <span class="string">"between"</span><span class="keyword">,</span> <span class="string">"mean"</span><span class="keyword">,</span>
  <span class="string">"random"</span><span class="keyword">,</span> <span class="string">"fd"</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">effect</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"individual"</span><span class="keyword">,</span> <span class="string">"time"</span><span class="keyword">,</span> <span class="string">"twoways"</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">lhs</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">theta</span> <span class="argument">=</span> NULL<span class="keyword">,</span>
      <span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall"><a href='pmodel.response.html'>pmodel.response</a></span><span class="keyword">(</span><span class="symbol">object</span><span class="keyword">,</span> <span class="symbol">data</span><span class="keyword">,</span> <span class="argument">model</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"pooling"</span><span class="keyword">,</span> <span class="string">"within"</span><span class="keyword">,</span> <span class="string">"Between"</span><span class="keyword">,</span> <span class="string">"between"</span><span class="keyword">,</span>
      <span class="string">"mean"</span><span class="keyword">,</span> <span class="string">"random"</span><span class="keyword">,</span> <span class="string">"fd"</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">effect</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"individual"</span><span class="keyword">,</span> <span class="string">"time"</span><span class="keyword">,</span> <span class="string">"twoways"</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">lhs</span> <span class="argument">=</span> NULL<span class="keyword">,</span>
      <span class="argument">theta</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall"><a href='pmodel.response.html'>pmodel.response</a></span><span class="keyword">(</span><span class="symbol">object</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>object</dt>
      <dd>an object of class <code>"plm"</code>,</dd>
      <dt>data</dt>
      <dd>a <code>data.frame</code>,</dd>
      <dt>effect</dt>
      <dd>the effects introduced in the model, one of
  <code>"individual"</code>, <code>"time"</code> or <code>"twoways"</code>,</dd>
      <dt>model</dt>
      <dd>one of <code>"pooling"</code>, <code>"within"</code>,
    <code>"between"</code>, <code>"random",</code> <code>"fd"</code> and <code>"ht"</code>,</dd>
      <dt>theta</dt>
      <dd>the parameter for the transformation if <code>model = "random"</code>,</dd>
      <dt>lhs</dt>
      <dd>,</dd>
      <dt>...</dt>
      <dd>further arguments.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>pmodel.response has several methods to conveniently extract the
response of several objects.</p>
  
    </div>

    <div class="Value">
      <h2>Value</h2>
      
      <p>A numeric vector.</p>
  
    </div>

    <div class="Details">
      <h2>Details</h2>
      
      <p>The model response is extracted (from a <code>data.frame</code>, a <code>pFormula</code> or a <code>plm</code> object, and the transformation
specified by <code>effect</code> and <code>model</code> is applied to it.</p>
  
    </div>

    <div class="A function to extract the model.response">
      <h2>A function to extract the model.response</h2>
      
    </div>

    <div class="A function to extract the model.response">
      <h2>A function to extract the model.response</h2>
      
    </div>

    <div class="A function to extract the model.response">
      <h2>A function to extract the model.response</h2>
      
    </div>

    <div class="A function to extract the model.response">
      <h2>A function to extract the model.response</h2>
      
    </div>

    <div class="A function to extract the model.response">
      <h2>A function to extract the model.response</h2>
      
    </div>

    <div class="A function to extract the model.response">
      <h2>A function to extract the model.response</h2>
      
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>pmodel.response</li><li>pmodel.response.data.frame</li><li>pmodel.response.pFormula</li><li>pmodel.response.plm</li>
    </ul>
    <ul>
      <li>manip</li>
    </ul> -->
      
    
    <h2>Author</h2>
    Yves Croissant
    
  </div>
</div>