      <h1>Test of Poolability</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='pooltest.html'>pooltest</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall"><a href='pooltest.html'>pooltest</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="symbol">z</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall"><a href='pooltest.html'>pooltest</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="symbol">data</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>x</dt>
      <dd>an object of class  <code>"plm"</code>,</dd>
      <dt>z</dt>
      <dd>an object of class <code>"pvcm"</code> obtained with
    <code>model="within"</code>,</dd>
      <dt>data</dt>
      <dd>a <code>data.frame</code>,</dd>
      <dt>...</dt>
      <dd>further arguments passed to plm.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>A Chow  test for the poolability of the data.</p>
  
    </div>

    <div class="Details">
      <h2>Details</h2>
      
      <p><code>pooltest</code> is an <em>F</em> test of stability (or Chow  test) for the coefficients of a panel model. The estimated <code>plm</code> object should be a <code>"pooling"</code> model or a <code>"within"</code> model (the default); intercepts are assumed to be identical in the first case and different in the second case.</p>
  
    </div>

    <div class="Value">
      <h2>Value</h2>
      
      <p>An object of class <code>"htest"</code>.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="functioncall"><a href='http://www.inside-r.org/r-doc/utils/data'>data</a></span><span class="keyword">(</span><span class="string">"Gasoline"</span><span class="keyword">,</span> <span class="argument">package</span> <span class="argument">=</span> <span class="string">"plm"</span><span class="keyword">)</span>
<span class="symbol">form</span> <span class="assignement">&lt;-</span> <span class="symbol">lgaspcar</span> <span class="keyword">~</span> <span class="symbol">lincomep</span> <span class="keyword">+</span> <span class="symbol">lrpmg</span> <span class="keyword">+</span> <span class="symbol">lcarpcap</span>
<span class="symbol">gasw</span> <span class="assignement">&lt;-</span>  <span class="functioncall"><a href='plm.html'>plm</a></span><span class="keyword">(</span><span class="symbol">form</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">Gasoline</span><span class="keyword">,</span> <span class="argument">model</span> <span class="argument">=</span> <span class="string">"within"</span><span class="keyword">)</span>
<span class="symbol">gasp</span> <span class="assignement">&lt;-</span>  <span class="functioncall"><a href='plm.html'>plm</a></span><span class="keyword">(</span><span class="symbol">form</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">Gasoline</span><span class="keyword">,</span> <span class="argument">model</span> <span class="argument">=</span> <span class="string">"pooling"</span><span class="keyword">)</span>
<span class="symbol">gasnp</span> <span class="assignement">&lt;-</span>  <span class="functioncall"><a href='pvcm.html'>pvcm</a></span><span class="keyword">(</span><span class="symbol">form</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">Gasoline</span><span class="keyword">,</span> <span class="argument">model</span> <span class="argument">=</span> <span class="string">"within"</span><span class="keyword">)</span>
<span class="functioncall"><a href='pooltest.html'>pooltest</a></span><span class="keyword">(</span><span class="symbol">gasw</span><span class="keyword">,</span> <span class="symbol">gasnp</span><span class="keyword">)</span></div>
<div class='output'>
	F statistic

data:  form 
F = 27.3352, df1 = 51, df2 = 270, p-value < 2.2e-16
alternative hypothesis: unstability 

</div>
<div class='input'><span class="functioncall"><a href='pooltest.html'>pooltest</a></span><span class="keyword">(</span><span class="symbol">gasp</span><span class="keyword">,</span> <span class="symbol">gasnp</span><span class="keyword">)</span></div>
<div class='output'>
	F statistic

data:  form 
F = 129.3166, df1 = 68, df2 = 270, p-value < 2.2e-16
alternative hypothesis: unstability 

</div>
<div class='input'>
<span class="functioncall"><a href='pooltest.html'>pooltest</a></span><span class="keyword">(</span><span class="symbol">form</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">Gasoline</span><span class="keyword">,</span> <span class="argument">effect</span> <span class="argument">=</span> <span class="string">"individual"</span><span class="keyword">,</span> <span class="argument">model</span> <span class="argument">=</span> <span class="string">"within"</span><span class="keyword">)</span></div>
<div class='output'>
	F statistic

data:  form 
F = 27.3352, df1 = 51, df2 = 270, p-value < 2.2e-16
alternative hypothesis: unstability 

</div>
<div class='input'><span class="functioncall"><a href='pooltest.html'>pooltest</a></span><span class="keyword">(</span><span class="symbol">form</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">Gasoline</span><span class="keyword">,</span> <span class="argument">effect</span> <span class="argument">=</span> <span class="string">"individual"</span><span class="keyword">,</span> <span class="argument">model</span> <span class="argument">=</span> <span class="string">"pooling"</span><span class="keyword">)</span></div>
<div class='output'>
	F statistic

data:  form 
F = 129.3166, df1 = 68, df2 = 270, p-value < 2.2e-16
alternative hypothesis: unstability 

</div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>pooltest</li><li>pooltest.plm</li><li>pooltest.formula</li>
    </ul>
    <ul>
      <li>htest</li>
    </ul> -->
      
    
    <h2>Author</h2>
    Yves Croissant
    
  </div>
</div>