      <h1>US States Production</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='http://www.inside-r.org/r-doc/utils/data'>data</a></span><span class="keyword">(</span><span class="symbol">Produc</span><span class="keyword">)</span></pre>
        
    <div class="Description">
      <h2>Description</h2>
      
      <p>A panel of 48 observations from 1970 to 1986</p>
  
      <p><em>total number of observations</em> :  816</p>
  
      <p><em>observation</em> :  regional</p>
  
      <p><em>country</em> :  United States</p>
  
    </div>

    <div class="Format">
      <h2>Format</h2>
      
      <p>A data frame containing :
  <span class='describe'>
    statethe state
    yearthe year
    pcapprivate capital stock
    hwyhighway and streets
    waterwater and sewer facilities
    utilother public buildings and structures
    pcpublic capital
    gspgross state products
    emplabor input measured by the employement in non--agricultural payrolls
    unempstate unemployment rate
  </span></p>
  
    </div>

    <div class="US States Production">
      <h2>US States Production</h2>
      
    </div>

    <div class="References">
      <h2>References</h2>
      
      <p>Baltagi, Badi H. (2003) <em>Econometric analysis of panel data</em>, 2nd ed. John Wiley and Sons,</p>
  
      <p>Baltagi, B. H.  and  N.  Pinnoi (1995) &#147;Public capital stock and state productivity growth: further evidence&#148;, <em>Empirical Economics</em>, <b>20</b>, 351--359.</p>
  
      <p>Munnell, A.H. (1990) &#147;Why has productivity growth declined? Productivity and public investment&#148;, <em>New England Economic Review</em>, 3--22.</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>Produc</li>
    </ul>
    <ul>
      <li>datasets</li>
    </ul> -->
      
        
  </div>
</div>