      <h1>Wooldridge's Test for Unobserved Effects in Panel Models</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='pwtest.html'>pwtest</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall"><a href='pwtest.html'>pwtest</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall"><a href='pwtest.html'>pwtest</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="symbol">data</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>x</dt>
      <dd>an object of class <code>"formula"</code>,</dd>
      <dt>data</dt>
      <dd>a <code>data.frame</code>,</dd>
      <dt>...</dt>
      <dd>further arguments passed to <code>plm</code>.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Semi-parametric test for the presence of (individual or time) unobserved effects in panel models.</p>
  
    </div>

    <div class="Details">
      <h2>Details</h2>
      
      <p>This semi-parametric test checks the null hypothesis of zero
correlation between errors of the same group. Therefore, it has power both against individual effects and, more generally, any kind of serial correlation.</p>
  
      <p>The test relies on large-N asymptotics. It is valid under error
heteroskedasticity and departures from normality.</p>
  
      <p>The above is valid if <code>effect="individual"</code>, which is the most likely usage. If <code>effect="time"</code>, symmetrically, the test relies on large-T asymptotics and has power against time effects and, more generally, against cross-sectional correlation.</p>
  
    </div>

    <div class="Value">
      <h2>Value</h2>
      
      <p>An object of class <code>"htest"</code>.</p>
  
    </div>

    <div class="References">
      <h2>References</h2>
      
      <p>Wooldridge, J.M. (2002) <em>Econometric Analysis of Cross-Section and Panel Data</em>, MIT Press, Sec. 10.4.4., page 264.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="functioncall"><a href='http://www.inside-r.org/r-doc/utils/data'>data</a></span><span class="keyword">(</span><span class="string">"Produc"</span><span class="keyword">,</span> <span class="argument">package</span> <span class="argument">=</span> <span class="string">"plm"</span><span class="keyword">)</span>
<span class="functioncall"><a href='pwtest.html'>pwtest</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">gsp</span><span class="keyword">)</span> <span class="keyword">~</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">pcap</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">pc</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">emp</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="symbol">unemp</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">Produc</span><span class="keyword">)</span></div>
<div class='output'>
	Wooldridge's test for unobserved individual effects

data:  formula 
z = 3.9383, p-value = 8.207e-05
alternative hypothesis: unobserved effect 

</div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>pwtest</li><li>pwtest.panelmodel</li><li>pwtest.formula</li>
    </ul>
    <ul>
      <li>htest</li>
    </ul> -->
      
    <h2>See also</h2>
    
 <code><a href='pbltest.html'>pbltest</a></code>, <code><a href='pbgtest.html'>pbgtest</a></code>, <code><a href='pdwtest.html'>pdwtest</a></code>,
 <code><a href='pbsytest.html'>pbsytest</a></code>, <code><a href='pwartest.html'>pwartest</a></code>, <code><a href='pwfdtest.html'>pwfdtest</a></code>
 for tests for serial correlation in panel models. <code><a href='plmtest.html'>plmtest</a></code>
 for tests for random effects.

    
    <h2>Author</h2>
    Giovanni Millo
    
  </div>
</div>