      <h1>R squared for panel data</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='r.squared.html'>r.squared</a></span><span class="keyword">(</span><span class="symbol">object</span><span class="keyword">,</span> <span class="argument">model</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">type</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"cor"</span><span class="keyword">,</span> <span class="string">"rss"</span><span class="keyword">,</span> <span class="string">"ess"</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">dfcor</span> <span class="argument">=</span> <span class="number">FALSE</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>object</dt>
      <dd>an object of class <code>"plm"</code>,</dd>
      <dt>model</dt>
      <dd>on which transformation of the data the R-squared has to
    be computed ? If null the transformation used to estimate the model
    is also used for the computation of the R squared.</dd>
      <dt>type</dt>
      <dd>should the R-squaredcomputed using the residual sum of
    squares (<code>"rss"</code>), the explained sum of squares (<code>"ess"</code>)
    or the coefficient of correlation between the fitted values and the
    response (<code>cor</code>).</dd>
      <dt>dfcor</dt>
      <dd>if <code>TRUE</code>, the adjusted R squared is computed.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>This function computes the R squared for plm objects. It allows to
  define on which transformation of the data the R squared has to be
  computed and which formula should be used</p>
  
    </div>

    <div class="Value">
      <h2>Value</h2>
      
      <p>a numerical value</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>r.squared</li>
    </ul>
    <ul>
      <li>htest</li>
    </ul> -->
      
        
  </div>
</div>