      <h1>Hansen--Sargan Test of Overidentifying Restrictions</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='sargan.html'>sargan</a></span><span class="keyword">(</span><span class="symbol">object</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>object</dt>
      <dd>an object of class <code>"pgmm"</code>.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>A test of overidentifying restrictions for models estimated by GMM.</p>
  
    </div>

    <div class="Details">
      <h2>Details</h2>
      
      <p>The Hansen--Sargan test calculates the quadratic form of the moment restrictions that is minimized while computing the GMM estimator. It follows asymptotically a chi-square distribution with number of degrees of freedom equal to the difference between the number of moment conditions and the number of coefficients.</p>
  
    </div>

    <div class="Value">
      <h2>Value</h2>
      
      <p>An object of class <code>"htest"</code>.</p>
  
    </div>

    <div class="References">
      <h2>References</h2>
      
      <p>Hansen, L.P. (1982), Large Sample Properties of Generalized Methods of Moments Estimators, <em>Econometrica</em>, 50, 1029--54.</p>
  
      <p>Sargan, J.D. (1958), The Estimation of Economic Relationships using Instrumental Variables, <em>Econometrica</em>, 26, pp.393--415.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="functioncall"><a href='http://www.inside-r.org/r-doc/utils/data'>data</a></span><span class="keyword">(</span><span class="string">"EmplUK"</span><span class="keyword">,</span> <span class="argument">package</span> <span class="argument">=</span> <span class="string">"plm"</span><span class="keyword">)</span>
<span class="symbol">ar</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='pgmm.html'>pgmm</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">emp</span><span class="keyword">)</span> <span class="keyword">~</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/lag'>lag</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">emp</span><span class="keyword">)</span><span class="keyword">,</span> <span class="number">1</span><span class="keyword">:</span><span class="number">2</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/lag'>lag</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">wage</span><span class="keyword">)</span><span class="keyword">,</span> <span class="number">0</span><span class="keyword">:</span><span class="number">1</span><span class="keyword">)</span> <span class="keyword">+</span>
           <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/lag'>lag</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">capital</span><span class="keyword">)</span><span class="keyword">,</span> <span class="number">0</span><span class="keyword">:</span><span class="number">2</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/lag'>lag</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">output</span><span class="keyword">)</span><span class="keyword">,</span> <span class="number">0</span><span class="keyword">:</span><span class="number">2</span><span class="keyword">)</span> <span class="keyword">|</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/lag'>lag</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">emp</span><span class="keyword">)</span><span class="keyword">,</span> <span class="number">2</span><span class="keyword">:</span><span class="number">99</span><span class="keyword">)</span><span class="keyword">,</span>
           <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">EmplUK</span><span class="keyword">,</span> <span class="argument">effect</span> <span class="argument">=</span> <span class="string">"twoways"</span><span class="keyword">,</span> <span class="argument">model</span> <span class="argument">=</span> <span class="string">"twosteps"</span><span class="keyword">)</span>
<span class="functioncall"><a href='sargan.html'>sargan</a></span><span class="keyword">(</span><span class="symbol">ar</span><span class="keyword">)</span></div>
<div class='output'>
	Sargan Test

data:  
chisq = 31.3814, df = 25, p-value = 0.1767

</div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>sargan</li>
    </ul>
    <ul>
      <li>htest</li>
    </ul> -->
      
    <h2>See also</h2>
    <code><a href='pgmm.html'>pgmm</a></code>
    
    <h2>Author</h2>
    Yves Croissant
    
  </div>
</div>