      <h1>Employment and Wages in Spain</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='http://www.inside-r.org/r-doc/utils/data'>data</a></span><span class="keyword">(</span><span class="symbol">Snmesp</span><span class="keyword">)</span></pre>
        
    <div class="Description">
      <h2>Description</h2>
      
      <p>A panel of 738 observations from 1983 to 1990</p>
  
      <p><em>total number of observations</em>:  5904</p>
  
      <p><em>observation</em>:  firms</p>
  
      <p><em>country</em>:  Spain</p>
  
      <p></p>
  
    </div>

    <div class="Format">
      <h2>Format</h2>
      
      <p>A data frame containing:</p>
  
      <p><span class='describe'>
   firmfirm index
   yearyear
   nlog of employment
   wlog of wages
   ylog of real output
   ilog of intermediate inputs
   klog of real capital stock
   freal cash flow
  </span></p>
  
    </div>

    <div class="Employment and Wages in Spain">
      <h2>Employment and Wages in Spain</h2>
      
    </div>

    <div class="References">
      <h2>References</h2>
      
      <p>Alonso--Borrego, C. and  Arellano, M. (1999). Symmetrically
Normalized Instrumental-Variable Estimation Using Panel Data,
<em>Journal of Business and Economic Statistics</em>, <b>17(1)</b>,
36--49.</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>Snmesp</li>
    </ul>
    <ul>
      <li>datasets</li>
    </ul> -->
      
        
  </div>
</div>