      <h1>The Penn World Table, v. 5</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='http://www.inside-r.org/r-doc/utils/data'>data</a></span><span class="keyword">(</span><span class="symbol">SumHes</span><span class="keyword">)</span></pre>
        
    <div class="Description">
      <h2>Description</h2>
      
      <p>A panel of 125 observations  from 1960  to 1985</p>
  
      <p><em>total number of observations</em> :  3250</p>
  
      <p><em>observation</em> :  country</p>
  
      <p><em>country</em> :  World</p>
  
    </div>

    <div class="Format">
      <h2>Format</h2>
      
      <p>A data frame containing :
 <span class='describe'>
  yearthe year
  countrythe country name (factor)
  opecOPEC member?
  comcommunist regime? 
  popcountry's population (in thousands)
  gdpreal GDP per capita (in 1985 US dollars)
  srsaving rate (in percent)
  </span></p>
  
    </div>

    <div class="The Penn World Table, v. 5">
      <h2>The Penn World Table, v. 5</h2>
      
    </div>

    <div class="References">
      <h2>References</h2>
      
      <p>Hayashi, F. (2000) <em>Econometrics</em>, Princeton University Press, , chapter 5, 358-363.</p>
  
      <p>Summers, R.  and  A.  Heston (1991) &#147;The Penn World Table (mark 5): An expanded set of international comparisons, 1950--1988&#148;, <em>Quarterly Journal of Economics</em>, <b>29</b>, 229--256.</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>SumHes</li>
    </ul>
    <ul>
      <li>datasets</li>
    </ul> -->
      
        
  </div>
</div>