      <h1>Beck and Katz Robust Covariance Matrix Estimators</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='vcovBK.html'>vcovBK</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="argument">type</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"HC0"</span><span class="keyword">,</span> <span class="string">"HC1"</span><span class="keyword">,</span> <span class="string">"HC2"</span><span class="keyword">,</span> <span class="string">"HC3"</span><span class="keyword">,</span> <span class="string">"HC4"</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">cluster</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"group"</span><span class="keyword">,</span> <span class="string">"time"</span><span class="keyword">)</span><span class="keyword">,</span>
  <span class="argument">diagonal</span> <span class="argument">=</span> <span class="number">FALSE</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>x</dt>
      <dd>an object of class <code>"plm"</code></dd>
      <dt>type</dt>
      <dd>one of <code>"HC0","HC1","HC2","HC3","HC4"</code>,</dd>
      <dt>cluster</dt>
      <dd>one of <code>"group","time"</code></dd>
      <dt>diagonal</dt>
      <dd>a logical value specifying whether to force
  nondiagonal elements to zero</dd>
      <dt>...</dt>
      <dd>further arguments.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Unconditional Robust covariance matrix estimators <em>a la Beck and Katz</em> for panel models.</p>
  
    </div>

    <div class="Value">
      <h2>Value</h2>
      
      <p>An object of class <code>"matrix"</code> containing the estimate of the covariance matrix of coefficients.</p>
  
    </div>

    <div class="Details">
      <h2>Details</h2>
      
      <p><code>vcovBK</code> is a function for estimating a robust covariance matrix of
parameters for a panel model according to the Beck and Katz (1995)
method, a.k.a. Panel Corrected Standard Errors (PCSE), which uses an
unconditional estimate of the error covariance across time
periods (groups) inside the standard formula for coefficient covariance. Observations may
be clustered either by <code>"group"</code> to account for timewise
heteroskedasticity and serial correlation
or by <code>"time"</code> to account for cross-sectional heteroskedasticity
and correlation. It must
be borne in mind that the Beck and Katz formula is based on N- (T-)
asymptotics and will not be appropriate elsewhere.</p>
  
      <p>The <code>diagonal</code> logical argument can be used, if set to <code>TRUE</code>,
to force to zero all nondiagonal elements in the estimated error
covariances; this is appropriate if both serial and cross-sectional correlation
are assumed out, and yields a timewise- (groupwise-) heteroskedasticity-consistent
estimator.</p>
  
      <p>Weighting schemes are analogous to those in <code>vcovHC</code> in package <code>sandwich</code> and are justified theoretically (although in the context of the standard linear model) by MacKinnon and White (1985) and Cribari-Neto (2004) (see Zeileis, 2004).</p>
  
      <p>The main use of <code>vcovBK</code> is to be an argument to other functions,
e.g. for Wald-type testing: as <code>vcov</code> to <code>coeftest()</code>,
<code>waldtest()</code> and other methods in the <code>lmtest</code> package; and as
<code>vcov</code> to <code>linearHypothesis()</code> in the <code>car</code> package (see the examples). Notice that the <code>vcov</code> argument may be supplied a function (which is the safest) or a matrix (see Zeileis (2004), 4.1-2 and examples below).</p>
  
      <p></p>
  
    </div>

    <div class="References">
      <h2>References</h2>
      
      <p>Beck, N. and Katz, J. (1995) What to do (and not to do) with
  time-series-cross-section data in comparative politics. <em>American
    Political Science Review</em>, <b>89(3)</b>, 634--647.</p>
  
      <p>Greene, W. H. (2003) <em>Econometric Analysis</em>, 5th ed. Macmillan
  Publishing Company, New York, 323.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/library'>library</a></span><span class="keyword">(</span><span class="symbol">lmtest</span><span class="keyword">)</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/library'>library</a></span><span class="keyword">(</span><span class="symbol">car</span><span class="keyword">)</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/utils/data'>data</a></span><span class="keyword">(</span><span class="string">"Produc"</span><span class="keyword">,</span> <span class="argument">package</span><span class="argument">=</span><span class="string">"plm"</span><span class="keyword">)</span>
<span class="symbol">zz</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='plm.html'>plm</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">gsp</span><span class="keyword">)</span><span class="keyword">~</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">pcap</span><span class="keyword">)</span><span class="keyword">+</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">pc</span><span class="keyword">)</span><span class="keyword">+</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">emp</span><span class="keyword">)</span><span class="keyword">+</span><span class="symbol">unemp</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">Produc</span><span class="keyword">,</span> <span class="argument">model</span><span class="argument">=</span><span class="string">"random"</span><span class="keyword">)</span>
<span class="comment">## standard coefficient significance test</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/lmtest/coeftest'>coeftest</a></span><span class="keyword">(</span><span class="symbol">zz</span><span class="keyword">)</span></div>
<div class='output'>
t test of coefficients:

               Estimate  Std. Error t value  Pr(>|t|)    
(Intercept)  2.13541100  0.13346149 16.0002 < 2.2e-16 ***
log(pcap)    0.00443859  0.02341732  0.1895    0.8497    
log(pc)      0.31054843  0.01980475 15.6805 < 2.2e-16 ***
log(emp)     0.72967053  0.02492022 29.2803 < 2.2e-16 ***
unemp       -0.00617247  0.00090728 -6.8033 1.986e-11 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1 

</div>
<div class='input'><span class="comment">## robust significance test, cluster by group</span>
<span class="comment">## (robust vs. serial correlation), default arguments</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/lmtest/coeftest'>coeftest</a></span><span class="keyword">(</span><span class="symbol">zz</span><span class="keyword">,</span> <span class="argument">vcov</span><span class="argument">=</span><span class="symbol">vcovBK</span><span class="keyword">)</span></div>
<div class='output'>
t test of coefficients:

              Estimate Std. Error t value  Pr(>|t|)    
(Intercept)  2.1354110  0.2562311  8.3339 3.327e-16 ***
log(pcap)    0.0044386  0.0494249  0.0898 0.9284646    
log(pc)      0.3105484  0.0427824  7.2588 9.153e-13 ***
log(emp)     0.7296705  0.0497995 14.6522 < 2.2e-16 ***
unemp       -0.0061725  0.0017190 -3.5908 0.0003495 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1 

</div>
<div class='input'><span class="comment">## idem with parameters, pass vcov as a function argument</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/lmtest/coeftest'>coeftest</a></span><span class="keyword">(</span><span class="symbol">zz</span><span class="keyword">,</span> <span class="argument">vcov</span><span class="argument">=</span><span class="keyword">function</span><span class="keyword">(</span><span class="formalargs">x</span><span class="keyword">)</span> <span class="functioncall"><a href='vcovBK.html'>vcovBK</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="argument">type</span><span class="argument">=</span><span class="string">"HC1"</span><span class="keyword">)</span><span class="keyword">)</span></div>
<div class='output'>
t test of coefficients:

              Estimate Std. Error t value  Pr(>|t|)    
(Intercept)  2.1354110  0.2570198  8.3084 4.059e-16 ***
log(pcap)    0.0044386  0.0495770  0.0895 0.9286835    
log(pc)      0.3105484  0.0429141  7.2365 1.068e-12 ***
log(emp)     0.7296705  0.0499528 14.6072 < 2.2e-16 ***
unemp       -0.0061725  0.0017242 -3.5798 0.0003643 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1 

</div>
<div class='input'><span class="comment">## idem, cluster by time period</span>
<span class="comment">## (robust vs. cross-sectional correlation)</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/lmtest/coeftest'>coeftest</a></span><span class="keyword">(</span><span class="symbol">zz</span><span class="keyword">,</span> <span class="argument">vcov</span><span class="argument">=</span><span class="keyword">function</span><span class="keyword">(</span><span class="formalargs">x</span><span class="keyword">)</span> <span class="functioncall"><a href='vcovBK.html'>vcovBK</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span>
 <span class="argument">type</span><span class="argument">=</span><span class="string">"HC1"</span><span class="keyword">,</span> <span class="argument">cluster</span><span class="argument">=</span><span class="string">"time"</span><span class="keyword">)</span><span class="keyword">)</span></div>
<div class='output'>
t test of coefficients:

              Estimate Std. Error t value  Pr(>|t|)    
(Intercept)  2.1354110  0.2776015  7.6924 4.188e-14 ***
log(pcap)    0.0044386  0.0395528  0.1122 0.9106772    
log(pc)      0.3105484  0.0458243  6.7769 2.360e-11 ***
log(emp)     0.7296705  0.0562371 12.9749 < 2.2e-16 ***
unemp       -0.0061725  0.0018531 -3.3309 0.0009049 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1 

</div>
<div class='input'><span class="comment">## idem with parameters, pass vcov as a matrix argument</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/lmtest/coeftest'>coeftest</a></span><span class="keyword">(</span><span class="symbol">zz</span><span class="keyword">,</span> <span class="argument">vcov</span><span class="argument">=</span><span class="functioncall"><a href='vcovBK.html'>vcovBK</a></span><span class="keyword">(</span><span class="symbol">zz</span><span class="keyword">,</span> <span class="argument">type</span><span class="argument">=</span><span class="string">"HC1"</span><span class="keyword">)</span><span class="keyword">)</span></div>
<div class='output'>
t test of coefficients:

              Estimate Std. Error t value  Pr(>|t|)    
(Intercept)  2.1354110  0.2570198  8.3084 4.059e-16 ***
log(pcap)    0.0044386  0.0495770  0.0895 0.9286835    
log(pc)      0.3105484  0.0429141  7.2365 1.068e-12 ***
log(emp)     0.7296705  0.0499528 14.6072 < 2.2e-16 ***
unemp       -0.0061725  0.0017242 -3.5798 0.0003643 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1 

</div>
<div class='input'><span class="comment">## joint restriction test</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/lmtest/waldtest'>waldtest</a></span><span class="keyword">(</span><span class="symbol">zz</span><span class="keyword">,</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/update'>update</a></span><span class="keyword">(</span><span class="symbol">zz</span><span class="keyword">,</span> <span class="symbol">.</span><span class="keyword">~</span><span class="symbol">.</span><span class="keyword">-</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">emp</span><span class="keyword">)</span><span class="keyword">-</span><span class="symbol">unemp</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">vcov</span><span class="argument">=</span><span class="symbol">vcovBK</span><span class="keyword">)</span></div>
<div class='output'>Wald test

Model 1: log(gsp) ~ log(pcap) + log(pc) + log(emp) + unemp
Model 2: log(gsp) ~ log(pcap) + log(pc)
  Res.Df Df  Chisq Pr(>Chisq)    
1    811                         
2    813 -2 411.05  < 2.2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1 
</div>
<div class='input'><span class="comment">## test of hyp.: 2*log(pc)=log(emp)</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/car/linearHypothesis'>linearHypothesis</a></span><span class="keyword">(</span><span class="symbol">zz</span><span class="keyword">,</span> <span class="string">"2*log(pc)=log(emp)"</span><span class="keyword">,</span> <span class="argument">vcov</span><span class="argument">=</span><span class="symbol">vcovBK</span><span class="keyword">)</span></div>
<div class='output'>Linear hypothesis test

Hypothesis:
2 log(pc) - log(emp) = 0

Model 1: restricted model
Model 2: log(gsp) ~ log(pcap) + log(pc) + log(emp) + unemp

Note: Coefficient covariance matrix supplied.

  Res.Df Df  Chisq Pr(>Chisq)
1    812                     
2    811  1 0.8152     0.3666
</div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>vcovBK</li><li>vcovBK.plm</li>
    </ul>
    <ul>
      <li>regression</li>
    </ul> -->
      
    
    <h2>Author</h2>
    Giovanni Millo
    
  </div>
</div>