      <h1>Robust Covariance Matrix Estimators</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall">vcovHC</span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="argument">method</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"arellano"</span><span class="keyword">,</span> <span class="string">"white1"</span><span class="keyword">,</span> <span class="string">"white2"</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">type</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"HC0"</span><span class="keyword">,</span> <span class="string">"HC1"</span><span class="keyword">,</span> <span class="string">"HC2"</span><span class="keyword">,</span>
  <span class="string">"HC3"</span><span class="keyword">,</span> <span class="string">"HC4"</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">cluster</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"group"</span><span class="keyword">,</span> <span class="string">"time"</span><span class="keyword">)</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall">vcovHC</span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>x</dt>
      <dd>an object of class <code>"plm"</code> which should be the result of a random effects or a within model or a model of class <code>"pgmm"</code>,</dd>
      <dt>method</dt>
      <dd>one of <code>"arellano","white1","white2"</code>,</dd>
      <dt>type</dt>
      <dd>one of <code>"HC0","HC1","HC2","HC3","HC4"</code>,</dd>
      <dt>cluster</dt>
      <dd>one of <code>"group","time"</code></dd>
      <dt>...</dt>
      <dd>further arguments.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Robust covariance matrix estimators <em>a la White</em> for panel models.</p>
  
    </div>

    <div class="Value">
      <h2>Value</h2>
      
      <p>An object of class <code>"matrix"</code> containing the estimate of the asymptotic covariance matrix of coefficients.</p>
  
    </div>

    <div class="Details">
      <h2>Details</h2>
      
      <p><code>vcovHC</code> is a function for estimating a robust covariance matrix of
parameters for a fixed effects or random effects panel model according
to the White method (White 1980, 1984; Arellano 1987). Observations may
be clustered by <code>"group"</code> (<code>"time"</code>) to account for serial
(cross-sectional) correlation.</p>
  
      <p>All types assume no intragroup (serial) correlation between errors and
allow for heteroskedasticity across groups (time periods). As for the
error covariance matrix of every single group of observations,
<code>"white1"</code> allows for general heteroskedasticity but no serial
(cross-sectional) correlation; <code>"white2"</code> is <code>"white1"</code>
restricted to a common variance inside every group (time period) (see
Greene (2003), 13.7.1-2 and Wooldridge (2002), 10.7.2);
<code>"arellano"</code> (see ibid. and the original ref. Arellano (1987))
allows a fully general structure w.r.t. heteroskedasticity and serial
(cross-sectional) correlation.</p>
  
      <p>Weighting schemes are analogous to those in <code>vcovHC</code> in package <code>sandwich</code> and are justified theoretically (although in the context of the standard linear model) by MacKinnon and White (1985) and Cribari-Neto (2004) (see Zeileis, 2004).</p>
  
      <p>The main use of <code>vcovHC</code> is to be an argument to other functions,
e.g. for Wald-type testing: as <code>vcov</code> to <code>coeftest()</code>,
<code>waldtest()</code> and other methods in the <code>lmtest</code> package; and as
<code>vcov</code> to <code>linearHypothesis()</code> in the <code>car</code> package (see the examples). Notice that the <code>vcov</code> argument allows to supply a function (which is the safest) or a matrix (see Zeileis (2004), 4.1-2 and examples below).</p>
  
      <p>A special procedure for <code>pgmm</code> objects, proposed by Windmeijer (2005), is also provided.</p>
  
      <p></p>
  
    </div>

    <div class="References">
      <h2>References</h2>
      
      <p>Arellano, M. (1987) Computing robust standard errors for within group estimators,
<em>Oxford Bulletin of Economics and Statistics</em>, <b>49</b>, 431--434.</p>
  
      <p>Cribari-Neto, F. (2004) Asymptotic inference under heteroskedasticity
of unknown form. <em>Computational Statistics \& Data Analysis</em>
<b>45</b>, 215--233.</p>
  
      <p>Greene, W. H. (1993) <em>Econometric Analysis</em>, 2nd ed. Macmillan Publishing Company, New York.</p>
  
      <p>MacKinnon, J. G. and  White H. (1985) Some heteroskedasticity-consistent
covariance matrix estimators with improved finite sample properties.
<em>Journal of Econometrics</em> <b>29</b>, 305--325.</p>
  
      <p>Windmeijer, F. (2005) A finite sample correction for the variance of
linear efficient two--step GMM estimators, <em>Journal of
  Econometrics</em>, <b>126</b>, pp.25--51.</p>
  
      <p>White H. (1980) <em>Asymptotic Theory for Econometricians</em>, Ch. 6, Academic Press, Orlando (FL).</p>
  
      <p>White H. (1984) A heteroskedasticity-consistent covariance matrix and
a direct test for heteroskedasticity. <em>Econometrica</em> <b>48</b>,
817--838.</p>
  
      <p>Wooldridge J. M. (2002) <em>Econometric Analysis of Cross Section and Panel Data</em>, MIT Press, Cambridge (MA).</p>
  
      <p>Zeileis A. (2004) Econometric Computing with HC and HAC Covariance Matrix
Estimators. <em>Journal of Statistical Software</em>, <b>11</b>(10), 1--17.
URL <a href = 'http://http://www.jstatsoft.org/v11/i10/'>http://http://www.jstatsoft.org/v11/i10/</a>.</p>
  
      <p></p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/library'>library</a></span><span class="keyword">(</span><span class="symbol">lmtest</span><span class="keyword">)</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/library'>library</a></span><span class="keyword">(</span><span class="symbol">car</span><span class="keyword">)</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/utils/data'>data</a></span><span class="keyword">(</span><span class="string">"Produc"</span><span class="keyword">,</span> <span class="argument">package</span><span class="argument">=</span><span class="string">"plm"</span><span class="keyword">)</span>
<span class="symbol">zz</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='plm.html'>plm</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">gsp</span><span class="keyword">)</span><span class="keyword">~</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">pcap</span><span class="keyword">)</span><span class="keyword">+</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">pc</span><span class="keyword">)</span><span class="keyword">+</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">emp</span><span class="keyword">)</span><span class="keyword">+</span><span class="symbol">unemp</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">Produc</span><span class="keyword">,</span> <span class="argument">model</span><span class="argument">=</span><span class="string">"random"</span><span class="keyword">)</span>
<span class="comment">## standard coefficient significance test</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/lmtest/coeftest'>coeftest</a></span><span class="keyword">(</span><span class="symbol">zz</span><span class="keyword">)</span></div>
<div class='output'>
t test of coefficients:

               Estimate  Std. Error t value  Pr(>|t|)    
(Intercept)  2.13541100  0.13346149 16.0002 < 2.2e-16 ***
log(pcap)    0.00443859  0.02341732  0.1895    0.8497    
log(pc)      0.31054843  0.01980475 15.6805 < 2.2e-16 ***
log(emp)     0.72967053  0.02492022 29.2803 < 2.2e-16 ***
unemp       -0.00617247  0.00090728 -6.8033 1.986e-11 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1 

</div>
<div class='input'><span class="comment">## robust significance test, cluster by group</span>
<span class="comment">## (robust vs. serial correlation)</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/lmtest/coeftest'>coeftest</a></span><span class="keyword">(</span><span class="symbol">zz</span><span class="keyword">,</span> <span class="argument">vcov</span><span class="argument">=</span><span class="symbol">vcovHC</span><span class="keyword">)</span></div>
<strong class='error'>Error in coeftest.default(zz, vcov = vcovHC): object 'vcovHC' not found</strong>
<div class='input'><span class="comment">## idem with parameters, pass vcov as a function argument</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/lmtest/coeftest'>coeftest</a></span><span class="keyword">(</span><span class="symbol">zz</span><span class="keyword">,</span> <span class="argument">vcov</span><span class="argument">=</span><span class="keyword">function</span><span class="keyword">(</span><span class="formalargs">x</span><span class="keyword">)</span> <span class="functioncall">vcovHC</span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="argument">method</span><span class="argument">=</span><span class="string">"arellano"</span><span class="keyword">,</span> <span class="argument">type</span><span class="argument">=</span><span class="string">"HC1"</span><span class="keyword">)</span><span class="keyword">)</span></div>
<strong class='error'>Error in vcov.(x): could not find function "vcovHC"</strong>
<div class='input'><span class="comment">## idem, cluster by time period</span>
<span class="comment">## (robust vs. cross-sectional correlation)</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/lmtest/coeftest'>coeftest</a></span><span class="keyword">(</span><span class="symbol">zz</span><span class="keyword">,</span> <span class="argument">vcov</span><span class="argument">=</span><span class="keyword">function</span><span class="keyword">(</span><span class="formalargs">x</span><span class="keyword">)</span> <span class="functioncall">vcovHC</span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="argument">method</span><span class="argument">=</span><span class="string">"arellano"</span><span class="keyword">,</span>
 <span class="argument">type</span><span class="argument">=</span><span class="string">"HC1"</span><span class="keyword">,</span> <span class="argument">cluster</span><span class="argument">=</span><span class="string">"group"</span><span class="keyword">)</span><span class="keyword">)</span></div>
<strong class='error'>Error in vcov.(x): could not find function "vcovHC"</strong>
<div class='input'><span class="comment">## idem with parameters, pass vcov as a matrix argument</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/lmtest/coeftest'>coeftest</a></span><span class="keyword">(</span><span class="symbol">zz</span><span class="keyword">,</span> <span class="argument">vcov</span><span class="argument">=</span><span class="functioncall">vcovHC</span><span class="keyword">(</span><span class="symbol">zz</span><span class="keyword">,</span> <span class="argument">method</span><span class="argument">=</span><span class="string">"arellano"</span><span class="keyword">,</span> <span class="argument">type</span><span class="argument">=</span><span class="string">"HC1"</span><span class="keyword">)</span><span class="keyword">)</span></div>
<strong class='error'>Error in coeftest.default(zz, vcov = vcovHC(zz, method = "arellano", type = "HC1")): could not find function "vcovHC"</strong>
<div class='input'><span class="comment">## joint restriction test</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/lmtest/waldtest'>waldtest</a></span><span class="keyword">(</span><span class="symbol">zz</span><span class="keyword">,</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/update'>update</a></span><span class="keyword">(</span><span class="symbol">zz</span><span class="keyword">,</span> <span class="symbol">.</span><span class="keyword">~</span><span class="symbol">.</span><span class="keyword">-</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">emp</span><span class="keyword">)</span><span class="keyword">-</span><span class="symbol">unemp</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">vcov</span><span class="argument">=</span><span class="symbol">vcovHC</span><span class="keyword">)</span></div>
<strong class='error'>Error in waldtest.default(zz, update(zz, . ~ . - log(emp) - unemp), vcov = vcovHC): object 'vcovHC' not found</strong>
<div class='input'><span class="comment">## test of hyp.: 2*log(pc)=log(emp)</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/car/linearHypothesis'>linearHypothesis</a></span><span class="keyword">(</span><span class="symbol">zz</span><span class="keyword">,</span> <span class="string">"2*log(pc)=log(emp)"</span><span class="keyword">,</span> <span class="argument">vcov</span><span class="argument">=</span><span class="symbol">vcovHC</span><span class="keyword">)</span></div>
<strong class='error'>Error in linearHypothesis.default(zz, "2*log(pc)=log(emp)", vcov = vcovHC): object 'vcovHC' not found</strong>
<div class='input'>
<span class="comment">## Robust inference for GMM models</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/utils/data'>data</a></span><span class="keyword">(</span><span class="string">"EmplUK"</span><span class="keyword">,</span> <span class="argument">package</span><span class="argument">=</span><span class="string">"plm"</span><span class="keyword">)</span>
<span class="symbol">ar</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='pgmm.html'>pgmm</a></span><span class="keyword">(</span><span class="functioncall"><a href='dynformula.html'>dynformula</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">emp</span><span class="keyword">)</span><span class="keyword">~</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">wage</span><span class="keyword">)</span><span class="keyword">+</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">capital</span><span class="keyword">)</span><span class="keyword">+</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">output</span><span class="keyword">)</span><span class="keyword">,</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/list'>list</a></span><span class="keyword">(</span><span class="number">2</span><span class="keyword">,</span><span class="number">1</span><span class="keyword">,</span><span class="number">2</span><span class="keyword">,</span><span class="number">2</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">EmplUK</span><span class="keyword">,</span> <span class="argument">effect</span><span class="argument">=</span><span class="string">"twoways"</span><span class="keyword">,</span> <span class="argument">model</span><span class="argument">=</span><span class="string">"twosteps"</span><span class="keyword">,</span>
    <span class="argument">gmm.inst</span><span class="argument">=</span><span class="keyword">~</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">emp</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">lag.gmm</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/list'>list</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">2</span><span class="keyword">,</span><span class="number">99</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">rv</span> <span class="assignement">&lt;-</span> <span class="functioncall">vcovHC</span><span class="keyword">(</span><span class="symbol">ar</span><span class="keyword">)</span></div>
<strong class='error'>Error in eval(expr, envir, enclos): could not find function "vcovHC"</strong>
<div class='input'><span class="functioncall"><a href='mtest.html'>mtest</a></span><span class="keyword">(</span><span class="symbol">ar</span><span class="keyword">,</span> <span class="argument">order</span><span class="argument">=</span><span class="number">2</span><span class="keyword">,</span> <span class="argument">vcov</span><span class="argument">=</span><span class="symbol">rv</span><span class="keyword">)</span></div>
<strong class='error'>Error in mtest(ar, order = 2, vcov = rv): object 'rv' not found</strong>
<div class='input'></div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>vcovHC.plm</li><li>vcovHC.pgmm</li><li>pvcovHC</li>
    </ul>
    <ul>
      <li>regression</li>
    </ul> -->
      
    
    <h2>Author</h2>
    Giovanni Millo \& Yves Croissant
    
  </div>
</div>