      <h1>Driscoll and Kraay (1998) Robust Covariance Matrix Estimator</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='vcovSCC.html'>vcovSCC</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="argument">type</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"HC0"</span><span class="keyword">,</span> <span class="string">"HC1"</span><span class="keyword">,</span> <span class="string">"HC2"</span><span class="keyword">,</span> <span class="string">"HC3"</span><span class="keyword">,</span> <span class="string">"HC4"</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">maxlag</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>x</dt>
      <dd>an object of class <code>"plm"</code></dd>
      <dt>type</dt>
      <dd>one of <code>"HC0","HC1","HC2","HC3","HC4"</code>,</dd>
      <dt>maxlag</dt>
      <dd>either <code>NULL</code> or a positive integer specifying the
  maximum lag order before truncation</dd>
      <dt>...</dt>
      <dd>further arguments</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Nonparametric robust covariance matrix estimators <em>a la Driscoll
    and Kraay</em> for panel models with cross-sectional <em>and</em> serial
  correlation.</p>
  
    </div>

    <div class="Value">
      <h2>Value</h2>
      
      <p>An object of class <code>"matrix"</code> containing the estimate of the covariance matrix of coefficients.</p>
  
    </div>

    <div class="Details">
      <h2>Details</h2>
      
      <p><code>vcovSCC</code> is a function for estimating a robust covariance matrix of
parameters for a panel model according to the Driscoll and Kraay (1998)
method, which is consistent with cross-sectional and serial correlation
in a T-asymptotic setting and irrespective of the N dimension. The use
with random effects models is undocumented.</p>
  
      <p>Weighting schemes are analogous to those in <code>vcovHC</code> in package <code>sandwich</code> and are justified theoretically (although in the context of the standard linear model) by MacKinnon and White (1985) and Cribari-Neto (2004) (see Zeileis, 2004).</p>
  
      <p>The main use of <code>vcovSCC</code> is to be an argument to other functions,
e.g. for Wald-type testing: as <code>vcov</code> to <code>coeftest()</code>,
<code>waldtest()</code> and other methods in the <code>lmtest</code> package; and as
<code>vcov</code> to <code>linearHypothesis()</code> in the <code>car</code> package (see the examples). Notice that the <code>vcov</code> argument may be supplied a function (which is the safest) or a matrix (see Zeileis (2004), 4.1-2 and examples below).</p>
  
      <p></p>
  
    </div>

    <div class="References">
      <h2>References</h2>
      
      <p>Driscoll, J.C. and Kraay, A.C. (1998) Consistent Covariance Matrix
 Estimation with Spatially Dependent Panel Data. <em>Review of
   Economics and Statistics</em> <b>80</b>, 549--560.</p>
  
      <p>Hoechle, D. (2007) Robust standard errors for panel regressions with
  cross-sectional dependence. <em>Stata Journal</em>, <b>7(3)</b>,
  281--312.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/library'>library</a></span><span class="keyword">(</span><span class="symbol">lmtest</span><span class="keyword">)</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/library'>library</a></span><span class="keyword">(</span><span class="symbol">car</span><span class="keyword">)</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/utils/data'>data</a></span><span class="keyword">(</span><span class="string">"Produc"</span><span class="keyword">,</span> <span class="argument">package</span><span class="argument">=</span><span class="string">"plm"</span><span class="keyword">)</span>
<span class="symbol">zz</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='plm.html'>plm</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">gsp</span><span class="keyword">)</span><span class="keyword">~</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">pcap</span><span class="keyword">)</span><span class="keyword">+</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">pc</span><span class="keyword">)</span><span class="keyword">+</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">emp</span><span class="keyword">)</span><span class="keyword">+</span><span class="symbol">unemp</span><span class="keyword">,</span> <span class="argument">data</span><span class="argument">=</span><span class="symbol">Produc</span><span class="keyword">,</span> <span class="argument">model</span><span class="argument">=</span><span class="string">"pooling"</span><span class="keyword">)</span>
<span class="comment">## standard coefficient significance test</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/lmtest/coeftest'>coeftest</a></span><span class="keyword">(</span><span class="symbol">zz</span><span class="keyword">)</span></div>
<div class='output'>
t test of coefficients:

              Estimate Std. Error t value  Pr(>|t|)    
(Intercept)  1.6433023  0.0575873 28.5359 < 2.2e-16 ***
log(pcap)    0.1550070  0.0171538  9.0363 < 2.2e-16 ***
log(pc)      0.3091902  0.0102720 30.1003 < 2.2e-16 ***
log(emp)     0.5939349  0.0137475 43.2032 < 2.2e-16 ***
unemp       -0.0067330  0.0014164 -4.7537 2.363e-06 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1 

</div>
<div class='input'><span class="comment">## SCC robust significance test, default</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/lmtest/coeftest'>coeftest</a></span><span class="keyword">(</span><span class="symbol">zz</span><span class="keyword">,</span> <span class="argument">vcov</span><span class="argument">=</span><span class="symbol">vcovSCC</span><span class="keyword">)</span></div>
<div class='output'>
t test of coefficients:

              Estimate Std. Error t value  Pr(>|t|)    
(Intercept)  1.6433023  0.1503485 10.9300 < 2.2e-16 ***
log(pcap)    0.1550070  0.0369734  4.1924 3.064e-05 ***
log(pc)      0.3091902  0.0076442 40.4479 < 2.2e-16 ***
log(emp)     0.5939349  0.0387024 15.3462 < 2.2e-16 ***
unemp       -0.0067330  0.0025389 -2.6520  0.008159 ** 
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1 

</div>
<div class='input'><span class="comment">## idem with parameters, pass vcov as a function argument</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/lmtest/coeftest'>coeftest</a></span><span class="keyword">(</span><span class="symbol">zz</span><span class="keyword">,</span> <span class="argument">vcov</span><span class="argument">=</span><span class="keyword">function</span><span class="keyword">(</span><span class="formalargs">x</span><span class="keyword">)</span> <span class="functioncall"><a href='vcovSCC.html'>vcovSCC</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="argument">type</span><span class="argument">=</span><span class="string">"HC1"</span><span class="keyword">,</span> <span class="argument">maxlag</span><span class="argument">=</span><span class="number">4</span><span class="keyword">)</span><span class="keyword">)</span></div>
<div class='output'>
t test of coefficients:

              Estimate Std. Error t value  Pr(>|t|)    
(Intercept)  1.6433023  0.1793363  9.1632 < 2.2e-16 ***
log(pcap)    0.1550070  0.0441052  3.5145  0.000465 ***
log(pc)      0.3091902  0.0069837 44.2731 < 2.2e-16 ***
log(emp)     0.5939349  0.0454539 13.0668 < 2.2e-16 ***
unemp       -0.0067330  0.0029520 -2.2808  0.022817 *  
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1 

</div>
<div class='input'><span class="comment">## joint restriction test</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/lmtest/waldtest'>waldtest</a></span><span class="keyword">(</span><span class="symbol">zz</span><span class="keyword">,</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/update'>update</a></span><span class="keyword">(</span><span class="symbol">zz</span><span class="keyword">,</span> <span class="symbol">.</span><span class="keyword">~</span><span class="symbol">.</span><span class="keyword">-</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">emp</span><span class="keyword">)</span><span class="keyword">-</span><span class="symbol">unemp</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">vcov</span><span class="argument">=</span><span class="symbol">vcovSCC</span><span class="keyword">)</span></div>
<div class='output'>Wald test

Model 1: log(gsp) ~ log(pcap) + log(pc) + log(emp) + unemp
Model 2: log(gsp) ~ log(pcap) + log(pc)
  Res.Df Df Chisq Pr(>Chisq)    
1    811                        
2    813 -2   531  < 2.2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1 
</div>
<div class='input'><span class="comment">## test of hyp.: 2*log(pc)=log(emp)</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/car/linearHypothesis'>linearHypothesis</a></span><span class="keyword">(</span><span class="symbol">zz</span><span class="keyword">,</span> <span class="string">"2*log(pc)=log(emp)"</span><span class="keyword">,</span> <span class="argument">vcov</span><span class="argument">=</span><span class="symbol">vcovSCC</span><span class="keyword">)</span></div>
<div class='output'>Linear hypothesis test

Hypothesis:
2 log(pc) - log(emp) = 0

Model 1: restricted model
Model 2: log(gsp) ~ log(pcap) + log(pc) + log(emp) + unemp

Note: Coefficient covariance matrix supplied.

  Res.Df Df  Chisq Pr(>Chisq)
1    812                     
2    811  1 0.2413     0.6233
</div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>vcovSCC</li><li>vcovSCC.plm</li>
    </ul>
    <ul>
      <li>regression</li>
    </ul> -->
      
    
    <h2>Author</h2>
    Giovanni Millo, partially ported from Daniel Hoechle's Stata code
    
  </div>
</div>