      <h1>Panel Data of Individual Wages</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='http://www.inside-r.org/r-doc/utils/data'>data</a></span><span class="keyword">(</span><span class="symbol">Wages</span><span class="keyword">)</span></pre>
        
    <div class="Description">
      <h2>Description</h2>
      
      <p>A panel of 595 observations from 1976 to 1982, taken from the     Panel Study of Income Dynamics (PSID).</p>
  
      <p><em>total number of observations</em> :  4165</p>
  
      <p><em>observation</em> :  individuals</p>
  
      <p><em>country</em> :  United States</p>
  
    </div>

    <div class="Format">
      <h2>Format</h2>
      
      <p>A data frame containing:</p>
  
      <p><span class='describe'>
  expyears of full-time work experience.
  wksweeks worked.
  bluecolblue collar?
  indworks in a manufacturing industry?
  southresides in the south?
  smsaresides in a standard metropolitan statistical area?
  marriedmarried?
  sexa factor with levels <code>"male", "female"</code>
  unionindividual's wage set by a union contract?
  edyears of education.
  blackis the individual black?
  lwagelogarithm of wage.
 </span></p>
  
    </div>

    <div class="Panel Data of Individual Wages">
      <h2>Panel Data of Individual Wages</h2>
      
    </div>

    <div class="References">
      <h2>References</h2>
      
      <p>Baltagi, Badi H. (2003) <em>Econometric Analysis of Panel Data</em>, 2nd ed., John Wiley and Sons.</p>
  
      <p>Cornwell, C. and  P. Rupert (1988) &#147;Efficient estimation with panel data: an empirical comparison of instrumental variables estimators&#148;, <em>Journal of Applied Econometrics</em>, <b>3</b>, 149--155.</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>Wages</li>
    </ul>
    <ul>
      <li>datasets</li>
    </ul> -->
      
        
  </div>
</div>