<% provide(:title, @user.name) # dont like it %>
<div class="row">
	<aside class="span5">
    	<section>
    		<h1>Profile</h1>
			<!--<div class="row">
				<div class="span1">
					<%= gravatar_for @user %>
				</div>
				<div class="span4">
					Name / email
				</div>
			</div>-->
			<p>
				Name : <%= @user.name %><br>
				Email : <%= @user.email %><br>
				Homepage :<br>
				Git repository :
			</p>
		</section>
	</aside>
</div>