      <h1>Absolute grob</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='absoluteGrob.html'>absoluteGrob</a></span><span class="keyword">(</span><span class="symbol">grob</span><span class="keyword">,</span> <span class="argument">width</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">height</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">xmin</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">ymin</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">vp</span> <span class="argument">=</span> NULL<span class="keyword">)</span></pre>
        
    <div class="Description">
      <h2>Description</h2>
      
      <p>This grob has fixed dimesions and position.</p>
  
    </div>

    <div class="Details">
      <h2>Details</h2>
      
      <p>It's still experimental</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>absoluteGrob</li>
    </ul>
    <ul>
      <li>internal</li>
    </ul> -->
      
        
  </div>
</div>