      <h1>Modify properties of an element in a theme object</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='add_theme.html'>add_theme</a></span><span class="keyword">(</span><span class="symbol">t1</span><span class="keyword">,</span> <span class="symbol">t2</span><span class="keyword">,</span> <span class="symbol">t2name</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>t1</dt>
      <dd>A theme object</dd>
      <dt>t2</dt>
      <dd>A theme object that is to be added to
  <code>t1</code></dd>
      <dt>t2name</dt>
      <dd>A name of the t2 object. This is used for
  printing informative error messages.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Modify properties of an element in a theme object</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>add_theme</li>
    </ul>
    <ul>
      
    </ul> -->
      
    <h2>See also</h2>
    
  +.gg

        
  </div>
</div>