      <h1>Create a complete ggplot appropriate to a particular data type</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='autoplot.html'>autoplot</a></span><span class="keyword">(</span><span class="symbol">object</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>object</dt>
      <dd>an object, whose class will determine the
  behaviour of autoplot</dd>
      <dt>...</dt>
      <dd>other arguments passed to specific methods</dd>
    </dl>
    
    <div class="Value">
      <h2>Value</h2>
      
      <p>a ggplot object</p>
  
    </div>

    <div class="Description">
      <h2>Description</h2>
      
      <p><code>autoplot</code> uses ggplot2 to draw a particular plot
  for an object of a particular class in a single command.
  This defines the S3 generic that other classes and
  packages can extend.</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>autoplot</li>
    </ul>
    <ul>
      
    </ul> -->
      
    <h2>See also</h2>
    
  <code><a href='ggplot.html'>ggplot</a></code> and <code><a href='fortify.html'>fortify</a></code>

        
  </div>
</div>