      <h1>Continuous scale constructor.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='continuous_scale.html'>continuous_scale</a></span><span class="keyword">(</span><span class="symbol">aesthetics</span><span class="keyword">,</span> <span class="symbol">scale_name</span><span class="keyword">,</span> <span class="symbol">palette</span><span class="keyword">,</span> <span class="argument">name</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">breaks</span> <span class="argument">=</span> <span class="functioncall"><a href='waiver.html'>waiver</a></span><span class="keyword">(</span><span class="keyword">)</span><span class="keyword">,</span>
  <span class="argument">minor_breaks</span> <span class="argument">=</span> <span class="functioncall"><a href='waiver.html'>waiver</a></span><span class="keyword">(</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">labels</span> <span class="argument">=</span> <span class="functioncall"><a href='waiver.html'>waiver</a></span><span class="keyword">(</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">legend</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">limits</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">rescaler</span> <span class="argument">=</span> <span class="symbol">rescale</span><span class="keyword">,</span>
      <span class="argument">oob</span> <span class="argument">=</span> <span class="symbol">censor</span><span class="keyword">,</span> <span class="argument">expand</span> <span class="argument">=</span> <span class="functioncall"><a href='waiver.html'>waiver</a></span><span class="keyword">(</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">na.value</span> <span class="argument">=</span> <span class="number">NA_real_</span><span class="keyword">,</span> <span class="argument">trans</span> <span class="argument">=</span> <span class="string">"identity"</span><span class="keyword">,</span> <span class="argument">guide</span> <span class="argument">=</span> <span class="string">"legend"</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>minor_breaks</dt>
      <dd>Used with date or datetime scales.
  Either <code>NULL</code> for no minor breaks, <code>waiver()</code>
  for the default breaks (one minor break between each
  major break), a numeric vector of positions, or a
  function that given the limits returns a vector of minor
  breaks.</dd>
      <dt>limits</dt>
      <dd>A numeric vector of length two describing
  the scale limits.</dd>
      <dt>rescaler</dt>
      <dd>Used by diverging and n colour gradients
  (i.e. <code><a href='scale_gradient2.html'>scale_colour_gradient2</a></code>,
  <code><a href='scale_gradientn.html'>scale_colour_gradientn</a></code>).</dd>
      <dt>oob</dt>
      <dd>What to do with values outside scale limits
  (out of bounds)?</dd>
      <dt>aesthetics</dt>
      <dd>the names of the aesthetics that this
  scale works with</dd>
      <dt>scale_name</dt>
      <dd>the name of the scale</dd>
      <dt>palette</dt>
      <dd>a palette function that when called with a
  single integer argument (the number of levels in the
  scale) returns the values that they should take</dd>
      <dt>name</dt>
      <dd>the name of the scale - used as the axis
  label or the legend title</dd>
      <dt>breaks</dt>
      <dd>control the breaks in the guide.  There are
  four possible types of input: <ul>
<li>
  <code>NULL</code>: don't display any breaks </li>
<li> a character
  vector giving the breaks as they should appear on the
  axis or in the legend.  </li>
<li> <code>waiver()</code> to use the
  default break computation.  </li>
<li> a function, that when
  called with a single argument, a character vector giving
  the limits of the scale, returns a character vector
  specifying which breaks to display.  </li>
</ul>
 This parameter
  does not affect in any way how the data is scaled - it
  only affects the appearance of the legend.</dd>
      <dt>labels</dt>
      <dd><code>NULL</code> for no labels, <code>waiver()</code>
  for default labels (labels the same as breaks), a
  character vector the same length as breaks, or a named
  character vector whose names are used to match
  replacement the labels for matching breaks.</dd>
      <dt>legend</dt>
      <dd>deprecated.  Use <code>guide</code> instead.</dd>
      <dt>expand</dt>
      <dd>a numeric vector of length two, giving a
  multiplicative and additive constant used to expand the
  range of the scales so that there is a small gap between
  the data and the axes.</dd>
      <dt>na.value</dt>
      <dd>how should missing values be displayed?</dd>
      <dt>guide</dt>
      <dd>the name of, or actual function, used to
  create the guide.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Continuous scale constructor.</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>continuous_scale</li>
    </ul>
    <ul>
      <li>internal</li>
    </ul> -->
      
        
  </div>
</div>