      <h1>Set the default expand values for the scale, if NA</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='coord_expand_defaults.html'>coord_expand_defaults</a></span><span class="keyword">(</span><span class="symbol">coord</span><span class="keyword">,</span> <span class="symbol">scale</span><span class="keyword">,</span> <span class="argument">aesthetic</span> <span class="argument">=</span> NULL<span class="keyword">)</span></pre>
        
    <div class="Description">
      <h2>Description</h2>
      
      <p>Set the default expand values for the scale, if NA</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>coord_expand_defaults</li>
    </ul>
    <ul>
      <li>internal</li>
    </ul> -->
      
        
  </div>
</div>