      <h1>New coordinate system.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='coord.html'>coord</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">,</span> <span class="argument">subclass</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="keyword">)</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>...</dt>
      <dd>object fields</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Internal use only.</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>coord</li>
    </ul>
    <ul>
      <li>internal</li>
    </ul> -->
      
        
  </div>
</div>