      <h1>Col weave</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='cweave.html'>cweave</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>...</dt>
      <dd>matrices to weave together</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Weave together two (or more) matrices by column</p>
  
    </div>

    <div class="Details">
      <h2>Details</h2>
      
      <p>Matrices must have same dimensions</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>cweave</li>
    </ul>
    <ul>
      <li>internal</li>
    </ul> -->
      
        
  </div>
</div>