      <h1>Theme element: line.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='element_line.html'>element_line</a></span><span class="keyword">(</span><span class="argument">colour</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">size</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">linetype</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">lineend</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">color</span> <span class="argument">=</span> NULL<span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>colour</dt>
      <dd>line colour</dd>
      <dt>size</dt>
      <dd>line size</dd>
      <dt>linetype</dt>
      <dd>line type</dd>
      <dt>lineend</dt>
      <dd>line end</dd>
      <dt>color</dt>
      <dd>an alias for <code>colour</code></dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Theme element: line.</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>element_line</li>
    </ul>
    <ul>
      
    </ul> -->
      
        
  </div>
</div>