      <h1>Theme element: rectangle.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='element_rect.html'>element_rect</a></span><span class="keyword">(</span><span class="argument">fill</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">colour</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">size</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">linetype</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">color</span> <span class="argument">=</span> NULL<span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>fill</dt>
      <dd>fill colour</dd>
      <dt>colour</dt>
      <dd>border colour</dd>
      <dt>size</dt>
      <dd>border size</dd>
      <dt>linetype</dt>
      <dd>border linetype</dd>
      <dt>color</dt>
      <dd>an alias for <code>colour</code></dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Most often used for backgrounds and borders.</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>element_rect</li>
    </ul>
    <ul>
      
    </ul> -->
      
        
  </div>
</div>