      <h1>Theme element: blank.
This theme element draws nothing, and assigns no space</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='element_blank.html'>element_blank</a></span><span class="keyword">(</span><span class="keyword">)</span></pre>
        
    <div class="Description">
      <h2>Description</h2>
      
      <p>Theme element: blank. This theme element draws nothing,
  and assigns no space</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>element_blank</li>
    </ul>
    <ul>
      
    </ul> -->
      
        
  </div>
</div>