      <h1>Theme element: text.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='element_text.html'>element_text</a></span><span class="keyword">(</span><span class="argument">family</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">face</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">colour</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">size</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">hjust</span> <span class="argument">=</span> NULL<span class="keyword">,</span>
  <span class="argument">vjust</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">angle</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">lineheight</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">color</span> <span class="argument">=</span> NULL<span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>family</dt>
      <dd>font family</dd>
      <dt>face</dt>
      <dd>font face ("plain", "italic", "bold",
  "bold.italic")</dd>
      <dt>colour</dt>
      <dd>text colour</dd>
      <dt>size</dt>
      <dd>text size (in pts)</dd>
      <dt>hjust</dt>
      <dd>horizontal justification (in [0, 1])</dd>
      <dt>vjust</dt>
      <dd>vertical justification (in [0, 1])</dd>
      <dt>angle</dt>
      <dd>angle (in [0, 360])</dd>
      <dt>lineheight</dt>
      <dd>line height</dd>
      <dt>color</dt>
      <dd>an alias for <code>colour</code></dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Theme element: text.</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>element_text</li>
    </ul>
    <ul>
      
    </ul> -->
      
        
  </div>
</div>