      <h1>Facet specification: a single panel.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='facet_null.html'>facet_null</a></span><span class="keyword">(</span><span class="argument">shrink</span> <span class="argument">=</span> <span class="number">TRUE</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>shrink</dt>
      <dd>If <code>TRUE</code>, will shrink scales to fit
  output of statistics, not raw data. If <code>FALSE</code>, will
  be range of raw data before statistical summary.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Facet specification: a single panel.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="comment"># facet_null is the default facetting specification if you</span>
<span class="comment"># don't override it with facet_grid or facet_wrap</span>
<span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">mpg</span><span class="keyword">,</span> <span class="symbol">wt</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_null.html-2.png' %></p>
<div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">mpg</span><span class="keyword">,</span> <span class="symbol">wt</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">mtcars</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/facet_null.html-4.png' %></p></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>facet_null</li>
    </ul>
    <ul>
      
    </ul> -->
      
        
  </div>
</div>