      <h1>Facet specification.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='facet.html'>facet</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">,</span> <span class="argument">shrink</span> <span class="argument">=</span> <span class="number">TRUE</span><span class="keyword">,</span> <span class="argument">subclass</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="keyword">)</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>...</dt>
      <dd>object fields</dd>
      <dt>shrink</dt>
      <dd>shrink scales to fit output of statistics,
  not raw data</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Create new facetting specification.  For internal use
  only.</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>facet</li>
    </ul>
    <ul>
      <li>internal</li>
    </ul> -->
      
        
  </div>
</div>