      <h1>Fortify methods for objects produced by <span class = "pkg">multcomp</span></h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='fortify.html'>fortify</a></span><span class="keyword">(</span><span class="symbol">model</span><span class="keyword">,</span> <span class="symbol">data</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall"><a href='fortify.html'>fortify</a></span><span class="keyword">(</span><span class="symbol">model</span><span class="keyword">,</span> <span class="symbol">data</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall"><a href='fortify.html'>fortify</a></span><span class="keyword">(</span><span class="symbol">model</span><span class="keyword">,</span> <span class="symbol">data</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall"><a href='fortify.html'>fortify</a></span><span class="keyword">(</span><span class="symbol">model</span><span class="keyword">,</span> <span class="symbol">data</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>model</dt>
      <dd>an object of class <code>glht</code>,
  <code>confint.glht</code>, <code>summary.glht</code> or
  <code><a href='http://www.inside-r.org/r-doc/multcomp/cld'>cld</a></code></dd>
      <dt>data,...</dt>
      <dd>other arguments to the generic ignored in
  this method.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Fortify methods for objects produced by <span class = "pkg">multcomp</span></p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="keyword">if</span> <span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/library'>require</a></span><span class="keyword">(</span><span class="string">"multcomp"</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">{</span>
<span class="symbol">amod</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/aov'>aov</a></span><span class="keyword">(</span><span class="symbol">breaks</span> <span class="keyword">~</span> <span class="symbol">wool</span> <span class="keyword">+</span> <span class="symbol">tension</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">warpbreaks</span><span class="keyword">)</span>
<span class="symbol">wht</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/multcomp/glht'>glht</a></span><span class="keyword">(</span><span class="symbol">amod</span><span class="keyword">,</span> <span class="argument">linfct</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/multcomp/glht'>mcp</a></span><span class="keyword">(</span><span class="argument">tension</span> <span class="argument">=</span> <span class="string">"Tukey"</span><span class="keyword">)</span><span class="keyword">)</span>

<span class="functioncall"><a href='fortify.html'>fortify</a></span><span class="keyword">(</span><span class="symbol">wht</span><span class="keyword">)</span>
<span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">wht</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">lhs</span><span class="keyword">,</span> <span class="symbol">estimate</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="keyword">)</span>

<span class="symbol">CI</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/confint'>confint</a></span><span class="keyword">(</span><span class="symbol">wht</span><span class="keyword">)</span>
<span class="functioncall"><a href='fortify.html'>fortify</a></span><span class="keyword">(</span><span class="symbol">CI</span><span class="keyword">)</span>
<span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">CI</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">lhs</span><span class="keyword">,</span> <span class="symbol">estimate</span><span class="keyword">,</span> <span class="argument">ymin</span> <span class="argument">=</span> <span class="symbol">lwr</span><span class="keyword">,</span> <span class="argument">ymax</span> <span class="argument">=</span> <span class="symbol">upr</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span>
   <span class="functioncall"><a href='geom_pointrange.html'>geom_pointrange</a></span><span class="keyword">(</span><span class="keyword">)</span>

<span class="functioncall"><a href='fortify.html'>fortify</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/summary'>summary</a></span><span class="keyword">(</span><span class="symbol">wht</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="argument">mapping</span> <span class="argument">=</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">lhs</span><span class="keyword">,</span> <span class="symbol">estimate</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span>
   <span class="functioncall"><a href='geom_linerange.html'>geom_linerange</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">ymin</span> <span class="argument">=</span> <span class="symbol">lwr</span><span class="keyword">,</span> <span class="argument">ymax</span> <span class="argument">=</span> <span class="symbol">upr</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">CI</span><span class="keyword">)</span> <span class="keyword">+</span>
   <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">size</span> <span class="argument">=</span> <span class="symbol">p</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/summary'>summary</a></span><span class="keyword">(</span><span class="symbol">wht</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span>
   <span class="functioncall"><a href='scale_size.html'>scale_size</a></span><span class="keyword">(</span><span class="argument">trans</span> <span class="argument">=</span> <span class="string">"reverse"</span><span class="keyword">)</span>

<span class="symbol">cld</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/multcomp/cld'>cld</a></span><span class="keyword">(</span><span class="symbol">wht</span><span class="keyword">)</span>
<span class="functioncall"><a href='fortify.html'>fortify</a></span><span class="keyword">(</span><span class="symbol">cld</span><span class="keyword">)</span>
<span class="keyword">}</span></div>
<div class='output'>  lhs letters
1   M       a
2   H       a
3   L       b
</div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>fortify-multcomp</li><li>fortify.cld</li><li>fortify.confint.glht</li><li>fortify.glht</li><li>fortify.summary.glht</li>
    </ul>
    <ul>
      
    </ul> -->
      
        
  </div>
</div>