      <h1>Fortify a model with data.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='fortify.html'>fortify</a></span><span class="keyword">(</span><span class="symbol">model</span><span class="keyword">,</span> <span class="symbol">data</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>model</dt>
      <dd>model or other R object to convert to data
  frame</dd>
      <dt>data</dt>
      <dd>original dataset, if needed</dd>
      <dt>...</dt>
      <dd>other arguments passed to methods</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Method to convert a generic R object into a data frame
  useful for plotting. Takes its name from the idea of
  fortifying the original data with model fit statistics,
  and vice versa.</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>fortify</li>
    </ul>
    <ul>
      
    </ul> -->
      
    <h2>See also</h2>
    
  <code><a href='fortify.lm.html'>fortify.lm</a></code>

        
  </div>
</div>