      <h1>Blank, draws nothing.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='geom_blank.html'>geom_blank</a></span><span class="keyword">(</span><span class="argument">mapping</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">stat</span> <span class="argument">=</span> <span class="string">"identity"</span><span class="keyword">,</span> <span class="argument">position</span> <span class="argument">=</span> <span class="string">"identity"</span><span class="keyword">,</span>
  <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>mapping</dt>
      <dd>The aesthetic mapping, usually constructed
  with <code><a href='aes.html'>aes</a></code> or <code><a href='aes_string.html'>aes_string</a></code>. Only
  needs to be set at the layer level if you are overriding
  the plot defaults.</dd>
      <dt>data</dt>
      <dd>A layer specific dataset - only needed if you
  want to override the plot defaults.</dd>
      <dt>stat</dt>
      <dd>The statistical transformation to use on the
  data for this layer.</dd>
      <dt>position</dt>
      <dd>The position adjustment to use for
  overlappling points on this layer</dd>
      <dt>...</dt>
      <dd>other arguments passed on to
  <code><a href='layer.html'>layer</a></code>. This can include aesthetics whose
  values you want to set, not map. See <code><a href='layer.html'>layer</a></code>
  for more details.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>The blank geom draws nothing, but can be a useful way of
  ensuring common scales between different plots.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">length</span><span class="keyword">,</span> <span class="symbol">rating</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">movies</span><span class="keyword">,</span> <span class="argument">geom</span> <span class="argument">=</span> <span class="string">"blank"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_blank.html-2.png' %></p>
<div class='input'><span class="comment"># Nothing to see here!</span>

<span class="comment"># Take the following scatter plot</span>
<span class="symbol">a</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="symbol">wt</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="symbol">mpg</span><span class="keyword">)</span><span class="keyword">,</span> <span class="symbol">.</span> <span class="keyword">~</span> <span class="symbol">cyl</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="keyword">)</span>
<span class="comment"># Add to that some lines with geom_abline()</span>
<span class="symbol">df</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/data.frame'>data.frame</a></span><span class="keyword">(</span><span class="argument">a</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/Normal'>rnorm</a></span><span class="keyword">(</span><span class="number">10</span><span class="keyword">,</span> <span class="number">25</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">b</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/Normal'>rnorm</a></span><span class="keyword">(</span><span class="number">10</span><span class="keyword">,</span> <span class="number">0</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">a</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_abline.html'>geom_abline</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">intercept</span> <span class="argument">=</span> <span class="symbol">a</span><span class="keyword">,</span> <span class="argument">slope</span> <span class="argument">=</span> <span class="symbol">b</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">df</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_blank.html-4.png' %></p>
<div class='input'><span class="comment"># Suppose you then wanted to remove the geom_point layer</span>
<span class="comment"># If you just remove geom_point, you will get an error</span>
<span class="symbol">b</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="symbol">wt</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="symbol">mpg</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="comment">## &lt;strong&gt;Not run&lt;/strong&gt;: b + geom_abline(aes(intercept = a, slope = b), data = df)</span>
<span class="comment"># Switching to geom_blank() gets the desired plot</span>
<span class="symbol">c</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="symbol">wt</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="symbol">mpg</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_blank.html'>geom_blank</a></span><span class="keyword">(</span><span class="keyword">)</span>
<span class="symbol">c</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_abline.html'>geom_abline</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">intercept</span> <span class="argument">=</span> <span class="symbol">a</span><span class="keyword">,</span> <span class="argument">slope</span> <span class="argument">=</span> <span class="symbol">b</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">df</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_blank.html-6.png' %></p></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>geom_blank</li>
    </ul>
    <ul>
      
    </ul> -->
      
        
  </div>
</div>