      <h1>Polygon, a filled path.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='geom_polygon.html'>geom_polygon</a></span><span class="keyword">(</span><span class="argument">mapping</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">stat</span> <span class="argument">=</span> <span class="string">"identity"</span><span class="keyword">,</span> <span class="argument">position</span> <span class="argument">=</span> <span class="string">"identity"</span><span class="keyword">,</span>
  <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>mapping</dt>
      <dd>The aesthetic mapping, usually constructed
  with <code><a href='aes.html'>aes</a></code> or <code><a href='aes_string.html'>aes_string</a></code>. Only
  needs to be set at the layer level if you are overriding
  the plot defaults.</dd>
      <dt>data</dt>
      <dd>A layer specific dataset - only needed if you
  want to override the plot defaults.</dd>
      <dt>stat</dt>
      <dd>The statistical transformation to use on the
  data for this layer.</dd>
      <dt>position</dt>
      <dd>The position adjustment to use for
  overlappling points on this layer</dd>
      <dt>...</dt>
      <dd>other arguments passed on to
  <code><a href='layer.html'>layer</a></code>. This can include aesthetics whose
  values you want to set, not map. See <code><a href='layer.html'>layer</a></code>
  for more details.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Polygon, a filled path.</p>
  
    </div>

    <div class="Aesthetics">
      <h2>Aesthetics</h2>
      
      <p><code>geom_polygon</code> understands the following aesthetics (required aesthetics are in bold):</p>
  
      <p><ul>
<li> <code><strong>x</strong></code>
  </li>
<li> <code><strong>y</strong></code>
  </li>
<li> <code>alpha</code>
  </li>
<li> <code>colour</code>
  </li>
<li> <code>fill</code>
  </li>
<li> <code>linetype</code>
  </li>
<li> <code>size</code>
</li>
</ul></p>
  
      <p></p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="comment"># When using geom_polygon, you will typically need two data frames:</span>
<span class="comment"># one contains the coordinates of each polygon (positions),  and the</span>
<span class="comment"># other the values associated with each polygon (values).  An id</span>
<span class="comment"># variable links the two together</span>

<span class="symbol">ids</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"1.1"</span><span class="keyword">,</span> <span class="string">"2.1"</span><span class="keyword">,</span> <span class="string">"1.2"</span><span class="keyword">,</span> <span class="string">"2.2"</span><span class="keyword">,</span> <span class="string">"1.3"</span><span class="keyword">,</span> <span class="string">"2.3"</span><span class="keyword">)</span><span class="keyword">)</span>

<span class="symbol">values</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/data.frame'>data.frame</a></span><span class="keyword">(</span>
  <span class="argument">id</span> <span class="argument">=</span> <span class="symbol">ids</span><span class="keyword">,</span>
  <span class="argument">value</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">3</span><span class="keyword">,</span> <span class="number">3.1</span><span class="keyword">,</span> <span class="number">3.1</span><span class="keyword">,</span> <span class="number">3.2</span><span class="keyword">,</span> <span class="number">3.15</span><span class="keyword">,</span> <span class="number">3.5</span><span class="keyword">)</span>
<span class="keyword">)</span>

<span class="symbol">positions</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/data.frame'>data.frame</a></span><span class="keyword">(</span>
  <span class="argument">id</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/rep'>rep</a></span><span class="keyword">(</span><span class="symbol">ids</span><span class="keyword">,</span> <span class="argument">each</span> <span class="argument">=</span> <span class="number">4</span><span class="keyword">)</span><span class="keyword">,</span>
  <span class="argument">x</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">2</span><span class="keyword">,</span> <span class="number">1</span><span class="keyword">,</span> <span class="number">1.1</span><span class="keyword">,</span> <span class="number">2.2</span><span class="keyword">,</span> <span class="number">1</span><span class="keyword">,</span> <span class="number">0</span><span class="keyword">,</span> <span class="number">0.3</span><span class="keyword">,</span> <span class="number">1.1</span><span class="keyword">,</span> <span class="number">2.2</span><span class="keyword">,</span> <span class="number">1.1</span><span class="keyword">,</span> <span class="number">1.2</span><span class="keyword">,</span> <span class="number">2.5</span><span class="keyword">,</span> <span class="number">1.1</span><span class="keyword">,</span> <span class="number">0.3</span><span class="keyword">,</span>
  <span class="number">0.5</span><span class="keyword">,</span> <span class="number">1.2</span><span class="keyword">,</span> <span class="number">2.5</span><span class="keyword">,</span> <span class="number">1.2</span><span class="keyword">,</span> <span class="number">1.3</span><span class="keyword">,</span> <span class="number">2.7</span><span class="keyword">,</span> <span class="number">1.2</span><span class="keyword">,</span> <span class="number">0.5</span><span class="keyword">,</span> <span class="number">0.6</span><span class="keyword">,</span> <span class="number">1.3</span><span class="keyword">)</span><span class="keyword">,</span>
  <span class="argument">y</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="keyword">-</span><span class="number">0.5</span><span class="keyword">,</span> <span class="number">0</span><span class="keyword">,</span> <span class="number">1</span><span class="keyword">,</span> <span class="number">0.5</span><span class="keyword">,</span> <span class="number">0</span><span class="keyword">,</span> <span class="number">0.5</span><span class="keyword">,</span> <span class="number">1.5</span><span class="keyword">,</span> <span class="number">1</span><span class="keyword">,</span> <span class="number">0.5</span><span class="keyword">,</span> <span class="number">1</span><span class="keyword">,</span> <span class="number">2.1</span><span class="keyword">,</span> <span class="number">1.7</span><span class="keyword">,</span> <span class="number">1</span><span class="keyword">,</span> <span class="number">1.5</span><span class="keyword">,</span>
  <span class="number">2.2</span><span class="keyword">,</span> <span class="number">2.1</span><span class="keyword">,</span> <span class="number">1.7</span><span class="keyword">,</span> <span class="number">2.1</span><span class="keyword">,</span> <span class="number">3.2</span><span class="keyword">,</span> <span class="number">2.8</span><span class="keyword">,</span> <span class="number">2.1</span><span class="keyword">,</span> <span class="number">2.2</span><span class="keyword">,</span> <span class="number">3.3</span><span class="keyword">,</span> <span class="number">3.2</span><span class="keyword">)</span>
<span class="keyword">)</span>

<span class="comment"># Currently we need to manually merge the two together</span>
<span class="symbol">datapoly</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/merge'>merge</a></span><span class="keyword">(</span><span class="symbol">values</span><span class="keyword">,</span> <span class="symbol">positions</span><span class="keyword">,</span> <span class="argument">by</span><span class="argument">=</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"id"</span><span class="keyword">)</span><span class="keyword">)</span>

<span class="keyword">(</span><span class="symbol">p</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">datapoly</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span><span class="argument">=</span><span class="symbol">x</span><span class="keyword">,</span> <span class="argument">y</span><span class="argument">=</span><span class="symbol">y</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_polygon.html'>geom_polygon</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">fill</span><span class="argument">=</span><span class="symbol">value</span><span class="keyword">,</span> <span class="argument">group</span><span class="argument">=</span><span class="symbol">id</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_polygon.html-2.png' %></p>
<div class='input'>
<span class="comment"># Which seems like a lot of work, but then it's easy to add on</span>
<span class="comment"># other features in this coordinate system, e.g.:</span>

<span class="symbol">stream</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/data.frame'>data.frame</a></span><span class="keyword">(</span>
  <span class="argument">x</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/cumsum'>cumsum</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/Uniform'>runif</a></span><span class="keyword">(</span><span class="number">50</span><span class="keyword">,</span> <span class="argument">max</span> <span class="argument">=</span> <span class="number">0.1</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">,</span>
  <span class="argument">y</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/cumsum'>cumsum</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/Uniform'>runif</a></span><span class="keyword">(</span><span class="number">50</span><span class="keyword">,</span><span class="argument">max</span> <span class="argument">=</span> <span class="number">0.1</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="keyword">)</span>

<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_line.html'>geom_line</a></span><span class="keyword">(</span><span class="argument">data</span> <span class="argument">=</span> <span class="symbol">stream</span><span class="keyword">,</span> <span class="argument">colour</span><span class="argument">=</span><span class="string">"grey30"</span><span class="keyword">,</span> <span class="argument">size</span> <span class="argument">=</span> <span class="number">5</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/geom_polygon.html-4.png' %></p>
<div class='input'>
# And if the positions are in longitude and latitude, you can use
# coord_map to produce different map projections.
</div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>geom_polygon</li>
    </ul>
    <ul>
      
    </ul> -->
      
    <h2>See also</h2>
    
  <code><a href='geom_path.html'>geom_path</a></code> for an unfilled polygon,
  <code><a href='geom_ribbon.html'>geom_ribbon</a></code> for a polygon anchored on the
  x-axis

        
  </div>
</div>