      <h1>Modify a ggplot or theme object by adding on new components.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="symbol">e1</span> <span class="keyword">+</span> <span class="symbol">e2</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>e1</dt>
      <dd>An object of class <code>ggplot</code> or
  <code>theme</code></dd>
      <dt>e2</dt>
      <dd>A component to add to <code>e1</code></dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>This operator allows you to add objects to a ggplot or
  theme object.</p>
  
    </div>

    <div class="Details">
      <h2>Details</h2>
      
      <p>If the first object is an object of class <code>ggplot</code>,
  you can add the following types of objects, and it will
  return a modified ggplot object.</p>
  
      <p><ul>
<li> <code>data.frame</code>: replace current
  data.frame (must use <code>%+%</code>) </li>
<li> <code>uneval</code>:
  replace current aesthetics </li>
<li> <code>layer</code>: add new
  layer </li>
<li> <code>theme</code>: update plot theme </li>
<li>
  <code>scale</code>: replace current scale </li>
<li> <code>coord</code>:
  override current coordinate system </li>
<li> <code>facet</code>:
  override current coordinate faceting </li>
</ul></p>
  
      <p>If the first object is an object of class <code>theme</code>,
  you can add another theme object. This will return a
  modified theme object.</p>
  
      <p>For theme objects, the <code>+</code> operator and the
  <code>%+replace%</code> can be used to modify elements in
  themes.</p>
  
      <p>The <code>+</code> operator completely replaces elements with
  elements from e2.</p>
  
      <p>In contrast, the <code>%+replace%</code> operator does not
  replace the entire element; it only updates element
  properties which are present (not NULL) in the second
  object.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="comment">### Adding objects to a ggplot object</span>
<span class="symbol">p</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">wt</span><span class="keyword">,</span> <span class="symbol">mpg</span><span class="keyword">,</span> <span class="argument">colour</span> <span class="argument">=</span> <span class="symbol">hp</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">mtcars</span><span class="keyword">)</span>

<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='coord_cartesian.html'>coord_cartesian</a></span><span class="keyword">(</span><span class="argument">ylim</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">0</span><span class="keyword">,</span> <span class="number">40</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/gg-add.html-2.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='scale_gradient.html'>scale_colour_continuous</a></span><span class="keyword">(</span><span class="argument">breaks</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">100</span><span class="keyword">,</span> <span class="number">300</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/gg-add.html-4.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='guides.html'>guides</a></span><span class="keyword">(</span><span class="argument">colour</span> <span class="argument">=</span> <span class="string">"colourbar"</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/gg-add.html-6.png' %></p>
<div class='input'>
<span class="comment"># Use a different data frame</span>
<span class="symbol">m</span> <span class="assignement">&lt;-</span> <span class="symbol">mtcars</span><span class="keyword">[</span><span class="number">1</span><span class="keyword">:</span><span class="number">10</span><span class="keyword">,</span> <span class="keyword">]</span>
<span class="symbol">p</span> <span class="keyword">%+%</span> <span class="symbol">m</span></div>
<p><%= image_tag 'ggplot2/gg-add.html-8.png' %></p>
<div class='input'>

<span class="comment">### Adding objects to a theme object</span>
<span class="comment"># Compare these results of adding theme objects to other theme objects</span>
<span class="symbol">add_el</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='theme_grey.html'>theme_grey</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='theme.html'>theme</a></span><span class="keyword">(</span><span class="argument">text</span> <span class="argument">=</span> <span class="functioncall"><a href='element_text.html'>element_text</a></span><span class="keyword">(</span><span class="argument">family</span> <span class="argument">=</span> <span class="string">"Times"</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">rep_el</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='theme_grey.html'>theme_grey</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">%+replace%</span> <span class="functioncall"><a href='theme.html'>theme</a></span><span class="keyword">(</span><span class="argument">text</span> <span class="argument">=</span> <span class="functioncall"><a href='element_text.html'>element_text</a></span><span class="keyword">(</span><span class="argument">family</span> <span class="argument">=</span> <span class="string">"Times"</span><span class="keyword">)</span><span class="keyword">)</span>

<span class="symbol">add_el</span><span class="keyword">$</span><span class="symbol">text</span></div>
<div class='output'>List of 8
 $ family    : chr "Times"
 $ face      : chr "plain"
 $ colour    : chr "black"
 $ size      : num 12
 $ hjust     : num 0.5
 $ vjust     : num 0.5
 $ angle     : num 0
 $ lineheight: num 0.9
 - attr(*, "class")= chr [1:2] "element" "element_text"
</div>
<div class='input'><span class="symbol">rep_el</span><span class="keyword">$</span><span class="symbol">text</span></div>
<div class='output'>List of 8
 $ family    : chr "Times"
 $ face      : NULL
 $ colour    : NULL
 $ size      : NULL
 $ hjust     : NULL
 $ vjust     : NULL
 $ angle     : NULL
 $ lineheight: NULL
 - attr(*, "class")= chr [1:2] "element" "element_text"
</div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>+.gg</li><li>%+%</li><li>%+replace%</li>
    </ul>
    <ul>
      
    </ul> -->
      
    <h2>See also</h2>
    
  <code><a href='theme.html'>theme</a></code>

        
  </div>
</div>