      <h1>Create a plot to illustrate patterns of missing values.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='ggmissing.html'>ggmissing</a></span><span class="keyword">(</span><span class="symbol">data</span><span class="keyword">,</span> <span class="argument">avoid</span> <span class="argument">=</span> <span class="string">"stack"</span><span class="keyword">,</span> <span class="argument">order</span> <span class="argument">=</span> <span class="number">TRUE</span><span class="keyword">,</span> <span class="argument">missing.only</span> <span class="argument">=</span> <span class="number">TRUE</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>data</dt>
      <dd>input data.frame</dd>
      <dt>avoid</dt>
      <dd>whether missings should be stacked or
  dodged, see <code><a href='geom_bar.html'>geom_bar</a></code> for more details</dd>
      <dt>order</dt>
      <dd>if <code>TRUE</code>, order variables by number of
  missings</dd>
      <dt>missing.only</dt>
      <dd>if <code>TRUE</code>, only display
  variables with some missing data</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>The missing values plot is a useful tool to get a rapid
  overview of the number and pattern of missing values in a
  dataset. Its strength is much more apparent when used
  with interactive graphics, as you can see in Mondrian
  (<a href = 'http://rosuda.org/mondrian'>http://rosuda.org/mondrian</a>) where this plot was
  copied from.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'>## <strong>Not run</strong>: # mmissing <- movies# mmissing[sample(nrow(movies), 1000), sample(ncol(movies), 5)] <- NA# ggmissing(mmissing)# ggmissing(mmissing, order=FALSE, missing.only = FALSE)# ggmissing(mmissing, avoid="dodge") + scale_y_sqrt()# ## <strong>End(Not run)</strong></div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>ggmissing</li>
    </ul>
    <ul>
      
    </ul> -->
      
    <h2>See also</h2>
    
  <code><a href='ggstructure.html'>ggstructure</a></code>, <code><a href='ggorder.html'>ggorder</a></code>

        
  </div>
</div>