      <h1>A plot to investigate the order in which observations were recorded.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='ggorder.html'>ggorder</a></span><span class="keyword">(</span><span class="symbol">data</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>data</dt>
      <dd>data set to plot</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>A plot to investigate the order in which observations
  were recorded.</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>ggorder</li>
    </ul>
    <ul>
      
    </ul> -->
      
        
  </div>
</div>