      <h1>Generate a ggplot2 plot grob.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='ggplotGrob.html'>ggplotGrob</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>x</dt>
      <dd>ggplot2 object</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Generate a ggplot2 plot grob.</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>ggplotGrob</li>
    </ul>
    <ul>
      <li>internal</li>
    </ul> -->
      
        
  </div>
</div>