      <h1>Create a new ggplot plot from a data frame</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">data</span><span class="keyword">,</span> <span class="argument">mapping</span> <span class="argument">=</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="keyword">)</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">,</span> <span class="argument">environment</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/environment'>globalenv</a></span><span class="keyword">(</span><span class="keyword">)</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>data</dt>
      <dd>default data frame for plot</dd>
      <dt>mapping</dt>
      <dd>default list of aesthetic mappings (these
  can be colour, size, shape, line type -- see individual
  geom functions for more details)</dd>
      <dt>...</dt>
      <dd>ignored</dd>
      <dt>environment</dt>
      <dd>in which evaluation of aesthetics
  should occur</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Create a new ggplot plot from a data frame</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>ggplot.data.frame</li>
    </ul>
    <ul>
      
    </ul> -->
      
    <h2>See also</h2>
    
  <a href = 'http://had.co.nz/ggplot2'>http://had.co.nz/ggplot2</a>

        
  </div>
</div>