      <h1>Create a new ggplot plot</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="argument">data</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>data</dt>
      <dd>default data set</dd>
      <dt>...</dt>
      <dd>other arguments passed to specific methods</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p><code>ggplot()</code> initializes a ggplot object. It can be
  used to declare the input data frame for a graphic and to
  specify the set of plot aesthetics intended to be common
  throughout all subsequent layers unless specifically
  overridden.</p>
  
    </div>

    <div class="Details">
      <h2>Details</h2>
      
      <p><code>ggplot()</code> is typically used to construct a plot
  incrementally, using the + operator to add layers to the
  existing ggplot object. This is advantageous in that the
  code is explicit about which layers are added and the
  order in which they are added. For complex graphics with
  multiple layers, initialization with <code>ggplot</code> is
  recommended.</p>
  
      <p>There are three common ways to invoke <code>ggplot</code>:
  <ul>
<li> <code>ggplot(df, aes(x, y, <other
  aesthetics>))</code> </li>
<li> <code>ggplot(df)</code> </li>
<li>
  <code>ggplot()</code> </li>
</ul>
 The first method is recommended if all
  layers use the same data and the same set of aesthetics,
  although this method can also be used to add a layer
  using data from another data frame. See the first example
  below. The second method specifies the default data frame
  to use for the plot, but no aesthetics are defined up
  front. This is useful when one data frame is used
  predominantly as layers are added, but the aesthetics may
  vary from one layer to another. The third method
  initializes a skeleton <code>ggplot</code> object which is
  fleshed out as layers are added. This method is useful
  when multiple data frames are used to produce different
  layers, as is often the case in complex graphics.</p>
  
      <p>The examples below illustrate how these methods of
  invoking <code>ggplot</code> can be used in constructing a
  graphic.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="symbol">df</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/data.frame'>data.frame</a></span><span class="keyword">(</span><span class="argument">gp</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/rep'>rep</a></span><span class="keyword">(</span><span class="symbol">letters</span><span class="keyword">[</span><span class="number">1</span><span class="keyword">:</span><span class="number">3</span><span class="keyword">]</span><span class="keyword">,</span> <span class="argument">each</span> <span class="argument">=</span> <span class="number">10</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">,</span>
                 <span class="argument">y</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/Normal'>rnorm</a></span><span class="keyword">(</span><span class="number">30</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="comment"># Compute sample mean and standard deviation in each group</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/library'>library</a></span><span class="keyword">(</span><span class="symbol">plyr</span><span class="keyword">)</span>
<span class="symbol">ds</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/plyr/ddply'>ddply</a></span><span class="keyword">(</span><span class="symbol">df</span><span class="keyword">,</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/plyr/quoted'>.</a></span><span class="keyword">(</span><span class="symbol">gp</span><span class="keyword">)</span><span class="keyword">,</span> <span class="symbol">summarise</span><span class="keyword">,</span> <span class="argument">mean</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/mean'>mean</a></span><span class="keyword">(</span><span class="symbol">y</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">sd</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/sd'>sd</a></span><span class="keyword">(</span><span class="symbol">y</span><span class="keyword">)</span><span class="keyword">)</span>

<span class="comment"># Declare the data frame and common aesthetics.</span>
<span class="comment"># The summary data frame ds is used to plot</span>
<span class="comment"># larger red points in a second geom_point() layer.</span>
<span class="comment"># If the data = argument is not specified, it uses the</span>
<span class="comment"># declared data frame from ggplot(); ditto for the aesthetics.</span>
<span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">df</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="symbol">gp</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="symbol">y</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span>
   <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span>
   <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="argument">data</span> <span class="argument">=</span> <span class="symbol">ds</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">y</span> <span class="argument">=</span> <span class="symbol">mean</span><span class="keyword">)</span><span class="keyword">,</span>
              <span class="argument">colour</span> <span class="argument">=</span> <span class="string">'red'</span><span class="keyword">,</span> <span class="argument">size</span> <span class="argument">=</span> <span class="number">3</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/ggplot.html-2.png' %></p>
<div class='input'><span class="comment"># Same plot as above, declaring only the data frame in ggplot().</span>
<span class="comment"># Note how the x and y aesthetics must now be declared in</span>
<span class="comment"># each geom_point() layer.</span>
<span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">df</span><span class="keyword">)</span> <span class="keyword">+</span>
   <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="symbol">gp</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="symbol">y</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span>
   <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="argument">data</span> <span class="argument">=</span> <span class="symbol">ds</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="symbol">gp</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="symbol">mean</span><span class="keyword">)</span><span class="keyword">,</span>
                 <span class="argument">colour</span> <span class="argument">=</span> <span class="string">'red'</span><span class="keyword">,</span> <span class="argument">size</span> <span class="argument">=</span> <span class="number">3</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/ggplot.html-4.png' %></p>
<div class='input'><span class="comment"># Set up a skeleton ggplot object and add layers:</span>
<span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="argument">data</span> <span class="argument">=</span> <span class="symbol">df</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="symbol">gp</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="symbol">y</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='geom_point.html'>geom_point</a></span><span class="keyword">(</span><span class="argument">data</span> <span class="argument">=</span> <span class="symbol">ds</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="symbol">gp</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="symbol">mean</span><span class="keyword">)</span><span class="keyword">,</span>
                        <span class="argument">colour</span> <span class="argument">=</span> <span class="string">'red'</span><span class="keyword">,</span> <span class="argument">size</span> <span class="argument">=</span> <span class="number">3</span><span class="keyword">)</span> <span class="keyword">+</span>
  <span class="functioncall"><a href='geom_errorbar.html'>geom_errorbar</a></span><span class="keyword">(</span><span class="argument">data</span> <span class="argument">=</span> <span class="symbol">ds</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="argument">x</span> <span class="argument">=</span> <span class="symbol">gp</span><span class="keyword">,</span> <span class="argument">y</span> <span class="argument">=</span> <span class="symbol">mean</span><span class="keyword">,</span>
                    <span class="argument">ymin</span> <span class="argument">=</span> <span class="symbol">mean</span> <span class="keyword">-</span> <span class="symbol">sd</span><span class="keyword">,</span> <span class="argument">ymax</span> <span class="argument">=</span> <span class="symbol">mean</span> <span class="keyword">+</span> <span class="symbol">sd</span><span class="keyword">)</span><span class="keyword">,</span>
                    <span class="argument">colour</span> <span class="argument">=</span> <span class="string">'red'</span><span class="keyword">,</span> <span class="argument">width</span> <span class="argument">=</span> <span class="number">0.4</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/ggplot.html-6.png' %></p></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>ggplot</li>
    </ul>
    <ul>
      <li>internal</li>
    </ul> -->
      
    <h2>See also</h2>
    
  <a href = 'http://had.co.nz/ggplot2'>http://had.co.nz/ggplot2</a>

        
  </div>
</div>