      <h1>Components of a scale:</h1>

<div class="row">
  <div class="span8">
        
    <div class="Description">
      <h2>Description</h2>
      
      <p>Guide related: * name * breaks * labels * expand</p>
  
    </div>

    <div class="Details">
      <h2>Details</h2>
      
      <p>Mapping related: * aesthetic * limits * palette * trans</p>
  
      <p>Scales are an S3 class with a single mutable component
  implemented with a reference class - the range of the
  data.  This mutability makes working with scales much
  easier, because it makes it possible to distribute the
  training, without having to worry about collecting all
  the pieces back together again.</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>ggscale</li>
    </ul>
    <ul>
      
    </ul> -->
      
        
  </div>
</div>