      <h1>Wrap up a selection of summary functions from Hmisc to make it easy to use
with <code><a href='stat_summary.html'>stat_summary</a></code>.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='hmisc.html'>mean_cl_boot</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall"><a href='hmisc.html'>mean_cl_normal</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall"><a href='hmisc.html'>mean_sdl</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall"><a href='hmisc.html'>median_hilow</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>x</dt>
      <dd>a numeric vector</dd>
      <dt>...</dt>
      <dd>other arguments passed on to the respective
  Hmisc function.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>See the Hmisc documentation for details of their options.</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>hmisc</li><li>mean_cl_boot</li><li>mean_cl_normal</li><li>mean_sdl</li><li>median_hilow</li>
    </ul>
    <ul>
      
    </ul> -->
      
    <h2>See also</h2>
    
  <code><a href='http://www.inside-r.org/r-doc/Hmisc/smean.sd'>smean.cl.boot</a></code>,
  <code><a href='http://www.inside-r.org/r-doc/Hmisc/smean.sd'>smean.cl.normal</a></code>,
  <code><a href='http://www.inside-r.org/r-doc/Hmisc/smean.sd'>smean.sdl</a></code>,
  <code><a href='http://www.inside-r.org/r-doc/Hmisc/smean.sd'>smedian.hilow</a></code>

        
  </div>
</div>