      <h1>Is this object a coordinate system?</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='is.coord.html'>is.coord</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">)</span></pre>
        
    <div class="Description">
      <h2>Description</h2>
      
      <p>Is this object a coordinate system?</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>is.coord</li>
    </ul>
    <ul>
      <li>internal</li>
    </ul> -->
      
        
  </div>
</div>