      <h1>Reports whether x is a theme object</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='is.theme.html'>is.theme</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>x</dt>
      <dd>An object to test</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Reports whether x is a theme object</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>is.theme</li>
    </ul>
    <ul>
      
    </ul> -->
      
        
  </div>
</div>