      <h1>Label facet with 'bquoted' expressions</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='label_bquote.html'>label_bquote</a></span><span class="keyword">(</span><span class="argument">expr</span> <span class="argument">=</span> <span class="symbol">beta</span><span class="keyword">^</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/plyr/quoted'>.</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">)</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>expr</dt>
      <dd>labelling expression to use</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>See <code><a href='http://www.inside-r.org/r-doc/base/bquote'>bquote</a></code> for details on the syntax of the
  argument.  The label value is x.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="symbol">p</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">wt</span><span class="keyword">,</span> <span class="symbol">mpg</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">mtcars</span><span class="keyword">)</span>
<span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">.</span> <span class="keyword">~</span> <span class="symbol">vs</span><span class="keyword">,</span> <span class="argument">labeller</span> <span class="argument">=</span> <span class="functioncall"><a href='label_bquote.html'>label_bquote</a></span><span class="keyword">(</span><span class="symbol">alpha</span> <span class="keyword">^</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/plyr/quoted'>.</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/label_bquote.html-2.png' %></p>
<div class='input'><span class="symbol">p</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">.</span> <span class="keyword">~</span> <span class="symbol">vs</span><span class="keyword">,</span> <span class="argument">labeller</span> <span class="argument">=</span> <span class="functioncall"><a href='label_bquote.html'>label_bquote</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/plyr/quoted'>.</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">)</span> <span class="keyword">^</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/plyr/quoted'>.</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/label_bquote.html-4.png' %></p></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>label_bquote</li>
    </ul>
    <ul>
      
    </ul> -->
      
    <h2>See also</h2>
    
  <code><a href='http://www.inside-r.org/r-doc/grDevices/plotmath'>plotmath</a></code>

  Other facet labellers: <code><a href='label_both.html'>label_both</a></code>,
  <code><a href='label_parsed.html'>label_parsed</a></code>, <code><a href='label_value.html'>label_value</a></code>

        
  </div>
</div>