      <h1>Label facets with parsed label.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='label_parsed.html'>label_parsed</a></span><span class="keyword">(</span><span class="symbol">variable</span><span class="keyword">,</span> <span class="symbol">value</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>variable</dt>
      <dd>variable name passed in by facetter</dd>
      <dt>value</dt>
      <dd>variable value passed in by facetter</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Label facets with parsed label.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="symbol">mtcars</span><span class="keyword">$</span><span class="symbol">cyl2</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/factor'>factor</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">$</span><span class="symbol">cyl</span><span class="keyword">,</span> <span class="argument">labels</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"alpha"</span><span class="keyword">,</span> <span class="string">"beta"</span><span class="keyword">,</span> <span class="string">"gamma"</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">wt</span><span class="keyword">,</span> <span class="symbol">mpg</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">mtcars</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">.</span> <span class="keyword">~</span> <span class="symbol">cyl2</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/label_parsed.html-2.png' %></p>
<div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">wt</span><span class="keyword">,</span> <span class="symbol">mpg</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">mtcars</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='facet_grid.html'>facet_grid</a></span><span class="keyword">(</span><span class="symbol">.</span> <span class="keyword">~</span> <span class="symbol">cyl2</span><span class="keyword">,</span>
  <span class="argument">labeller</span> <span class="argument">=</span> <span class="symbol">label_parsed</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/label_parsed.html-4.png' %></p></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>label_parsed</li>
    </ul>
    <ul>
      
    </ul> -->
      
    <h2>See also</h2>
    
  <code><a href='http://www.inside-r.org/r-doc/grDevices/plotmath'>plotmath</a></code>

  Other facet labellers: <code><a href='label_both.html'>label_both</a></code>,
  <code><a href='label_bquote.html'>label_bquote</a></code>, <code><a href='label_value.html'>label_value</a></code>

        
  </div>
</div>