      <h1>Retrieve the last plot to be modified or created.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='last_plot.html'>last_plot</a></span><span class="keyword">(</span><span class="keyword">)</span></pre>
        
    <div class="Description">
      <h2>Description</h2>
      
      <p>Retrieve the last plot to be modified or created.</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>last_plot</li>
    </ul>
    <ul>
      
    </ul> -->
      
    <h2>See also</h2>
    
  <code><a href='ggsave.html'>ggsave</a></code>

        
  </div>
</div>