      <h1>Generate correct scale type for specified limits</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='limits.html'>limits</a></span><span class="keyword">(</span><span class="symbol">lims</span><span class="keyword">,</span> <span class="symbol">var</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>limts</dt>
      <dd>vector of limits</dd>
      <dt>var</dt>
      <dd>name of variable</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Generate correct scale type for specified limits</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="package">ggplot2</span><span class="keyword">:::</span><span class="functioncall"><a href='limits.html'>limits</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">1</span><span class="keyword">,</span> <span class="number">5</span><span class="keyword">)</span><span class="keyword">,</span> <span class="string">"x"</span><span class="keyword">)</span></div>
<div class='output'>continuous_scale(aesthetics = c("x", "xmin", "xmax", "xend", 
    "xintercept"), scale_name = "position_c", palette = identity, 
    limits = ..1, expand = expand, trans = ..2, guide = "none")
</div>
<div class='input'><span class="package">ggplot2</span><span class="keyword">:::</span><span class="functioncall"><a href='limits.html'>limits</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">5</span><span class="keyword">,</span> <span class="number">1</span><span class="keyword">)</span><span class="keyword">,</span> <span class="string">"x"</span><span class="keyword">)</span></div>
<div class='output'>continuous_scale(aesthetics = c("x", "xmin", "xmax", "xend", 
    "xintercept"), scale_name = "position_c", palette = identity, 
    limits = ..1, expand = expand, trans = ..2, guide = "none")
</div>
<div class='input'><span class="package">ggplot2</span><span class="keyword">:::</span><span class="functioncall"><a href='limits.html'>limits</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"A"</span><span class="keyword">,</span> <span class="string">"b"</span><span class="keyword">,</span> <span class="string">"c"</span><span class="keyword">)</span><span class="keyword">,</span> <span class="string">"x"</span><span class="keyword">)</span></div>
<div class='output'>discrete_scale(aesthetics = c("x", "xmin", "xmax", "xend"), scale_name = "position_d", 
    palette = identity, limits = ..1, expand = expand, guide = "none")
</div>
<div class='input'><span class="package">ggplot2</span><span class="keyword">:::</span><span class="functioncall"><a href='limits.html'>limits</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"A"</span><span class="keyword">,</span> <span class="string">"b"</span><span class="keyword">,</span> <span class="string">"c"</span><span class="keyword">)</span><span class="keyword">,</span> <span class="string">"fill"</span><span class="keyword">)</span></div>
<div class='output'>discrete_scale(aesthetics = "fill", scale_name = "hue", palette = hue_pal(h, 
    c, l, h.start, direction), limits = ..1, na.value = na.value)
</div>
<div class='input'><span class="package">ggplot2</span><span class="keyword">:::</span><span class="functioncall"><a href='limits.html'>limits</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/as.Date'>as.Date</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="string">"2008-01-01"</span><span class="keyword">,</span> <span class="string">"2009-01-01"</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">,</span> <span class="string">"x"</span><span class="keyword">)</span></div>
<div class='output'>continuous_scale(aesthetics = aesthetics, scale_name = "date", 
    palette = identity, breaks = breaks, minor_breaks = minor_breaks, 
    limits = ..1, expand = expand, trans = "date", guide = "none")
</div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>limits</li>
    </ul>
    <ul>
      <li>internal</li>
    </ul> -->
      
        
  </div>
</div>