      <h1>Create a data frame of map data.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='map_data.html'>map_data</a></span><span class="keyword">(</span><span class="symbol">map</span><span class="keyword">,</span> <span class="argument">region</span> <span class="argument">=</span> <span class="string">"."</span><span class="keyword">,</span> <span class="argument">exact</span> <span class="argument">=</span> <span class="number">FALSE</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>map</dt>
      <dd>name of map provided by the <span class = "pkg">maps</span>
  package.  These include <code><a href='http://www.inside-r.org/r-doc/maps/county'>county</a></code>,
  <code><a href='http://www.inside-r.org/r-doc/maps/france'>france</a></code>, <code><a href='http://www.inside-r.org/r-doc/maps/italy'>italy</a></code>,
  <code><a href='http://www.inside-r.org/r-doc/maps/nz'>nz</a></code>, <code><a href='http://www.inside-r.org/r-doc/maps/state'>state</a></code>,
  <code><a href='http://www.inside-r.org/r-doc/maps/usa'>usa</a></code>, <code><a href='http://www.inside-r.org/r-doc/maps/world'>world</a></code>,
  <code><a href='http://www.inside-r.org/r-doc/maps/world2'>world2</a></code>.</dd>
      <dt>region</dt>
      <dd>name of subregions to include.  Defaults to
  <code>.</code> which includes all subregion.  See documentation
  for <code><a href='http://www.inside-r.org/r-doc/maps/map'>map</a></code> for more details.</dd>
      <dt>exact</dt>
      <dd>should the <code>region</code> be treated as a
  regular expression (<code>FALSE</code>) or as a fixed string
  (<code>TRUE</code>).</dd>
      <dt>...</dt>
      <dd>all other arguments passed on to
  <code><a href='http://www.inside-r.org/r-doc/maps/map'>map</a></code></dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Create a data frame of map data.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="keyword">if</span> <span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/library'>require</a></span><span class="keyword">(</span><span class="string">"maps"</span><span class="keyword">)</span><span class="keyword">)</span> <span class="keyword">{</span>
<span class="symbol">states</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='map_data.html'>map_data</a></span><span class="keyword">(</span><span class="string">"state"</span><span class="keyword">)</span>
<span class="symbol">arrests</span> <span class="assignement">&lt;-</span> <span class="symbol">USArrests</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/names'>names</a></span><span class="keyword">(</span><span class="symbol">arrests</span><span class="keyword">)</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/chartr'>tolower</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/names'>names</a></span><span class="keyword">(</span><span class="symbol">arrests</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">arrests</span><span class="keyword">$</span><span class="symbol">region</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/chartr'>tolower</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/colnames'>rownames</a></span><span class="keyword">(</span><span class="symbol">USArrests</span><span class="keyword">)</span><span class="keyword">)</span>

<span class="symbol">choro</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/merge'>merge</a></span><span class="keyword">(</span><span class="symbol">states</span><span class="keyword">,</span> <span class="symbol">arrests</span><span class="keyword">,</span> <span class="argument">sort</span> <span class="argument">=</span> <span class="number">FALSE</span><span class="keyword">,</span> <span class="argument">by</span> <span class="argument">=</span> <span class="string">"region"</span><span class="keyword">)</span>
<span class="symbol">choro</span> <span class="assignement">&lt;-</span> <span class="symbol">choro</span><span class="keyword">[</span><span class="functioncall"><a href='aes_group_order.html'>order</a></span><span class="keyword">(</span><span class="symbol">choro</span><span class="keyword">$</span><span class="symbol">order</span><span class="keyword">)</span><span class="keyword">,</span> <span class="keyword">]</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">long</span><span class="keyword">,</span> <span class="symbol">lat</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">choro</span><span class="keyword">,</span> <span class="argument">group</span> <span class="argument">=</span> <span class="symbol">group</span><span class="keyword">,</span> <span class="argument">fill</span> <span class="argument">=</span> <span class="symbol">assault</span><span class="keyword">,</span>
  <span class="argument">geom</span> <span class="argument">=</span> <span class="string">"polygon"</span><span class="keyword">)</span>
<span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="symbol">long</span><span class="keyword">,</span> <span class="symbol">lat</span><span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">choro</span><span class="keyword">,</span> <span class="argument">group</span> <span class="argument">=</span> <span class="symbol">group</span><span class="keyword">,</span> <span class="argument">fill</span> <span class="argument">=</span> <span class="symbol">assault</span> <span class="keyword">/</span> <span class="symbol">murder</span><span class="keyword">,</span>
  <span class="argument">geom</span> <span class="argument">=</span> <span class="string">"polygon"</span><span class="keyword">)</span>
<span class="keyword">}</span></div>
<p><%= image_tag 'ggplot2/map_data.html-2.png' %></p></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>map_data</li>
    </ul>
    <ul>
      
    </ul> -->
      
        
  </div>
</div>