      <h1>Calculate mean and standard errors on either side.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='mean_se.html'>mean_se</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="argument">mult</span> <span class="argument">=</span> <span class="number">1</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>x</dt>
      <dd>numeric vector</dd>
      <dt>mult</dt>
      <dd>number of multiples of standard error</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Calculate mean and standard errors on either side.</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>mean_se</li>
    </ul>
    <ul>
      
    </ul> -->
      
    <h2>See also</h2>
    
  for use with <code><a href='stat_summary.html'>stat_summary</a></code>

        
  </div>
</div>