      <h1>Midwest demographics.</h1>

<div class="row">
  <div class="span8">
        
    <div class="Format">
      <h2>Format</h2>
      
      <p>A data frame with 437 rows and 28 variables</p>
  
    </div>

    <div class="Description">
      <h2>Description</h2>
      
      <p>Demographic information of midwest counties</p>
  
    </div>

    <div class="Details">
      <h2>Details</h2>
      
      <p>The variables are as follows:</p>
  
      <p><ul>
<li> PID </li>
<li> county </li>
<li> state </li>
<li> area
  </li>
<li> poptotal.  Total population </li>
<li> popdensity.
  Population density </li>
<li> popwhite.  Number of whites.
  </li>
<li> popblack.  Number of blacks.  </li>
<li> popamerindian.
  Number of American Indians.  </li>
<li> popasian.  Number of
  Asians.  </li>
<li> popother.  Number of other races.  </li>
<li>
  percwhite.  Percent white.  </li>
<li> percblack.  Percent
  black.  </li>
<li> percamerindan.  Percent American Indian.
  </li>
<li> percasian. Percent Asian.  </li>
<li> percother. Percent
  other races.  </li>
<li> popadults.  Number of adults.  </li>
<li>
  perchsd.  </li>
<li> percollege.  Percent college educated.
  </li>
<li> percprof.  Percent profession.  </li>
<li>
  poppovertyknown.  </li>
<li> percpovertyknown </li>
<li>
  percbelowpoverty </li>
<li> percchildbelowpovert </li>
<li>
  percadultpoverty </li>
<li> percelderlypoverty </li>
<li> inmetro.
  In a metro area.  </li>
<li> category' </li>
</ul></p>
  
      <p></p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>midwest</li>
    </ul>
    <ul>
      <li>datasets</li>
    </ul> -->
      
        
  </div>
</div>