      <h1>Fuel economy data from 1999 and 2008 for 38 popular models of car</h1>

<div class="row">
  <div class="span8">
        
    <div class="Format">
      <h2>Format</h2>
      
      <p>A data frame with 234 rows and 11 variables</p>
  
    </div>

    <div class="Description">
      <h2>Description</h2>
      
      <p>This dataset contains a subset of the fuel economy data
  that the EPA makes available on
  <a href = 'http://fueleconomy.gov'>http://fueleconomy.gov</a>.  It contains only models
  which had a new release every year between 1999 and 2008
  - this was used as a proxy for the popularity of the car.</p>
  
    </div>

    <div class="Details">
      <h2>Details</h2>
      
      <p><ul>
<li> manufacturer.  </li>
<li> model.  </li>
<li> displ.
  engine displacement, in litres </li>
<li> year.  </li>
<li> cyl.
  number of cylinders </li>
<li> trans. type of transmission
  </li>
<li> drv. f = front-wheel drive, r = rear wheel drive, 4
  = 4wd </li>
<li> cty. city miles per gallon </li>
<li> hwy. highway
  miles per gallon </li>
<li> fl.  </li>
<li> class. </li>
</ul></p>
  
      <p></p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>mpg</li>
    </ul>
    <ul>
      <li>datasets</li>
    </ul> -->
      
        
  </div>
</div>