      <h1>Build a theme (or partial theme) from theme elements</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='opts.html'>opts</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>...</dt>
      <dd>Arguments to be passed on to the <code>theme</code>
  function.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p><code>opts</code> is deprecated. See the <code><a href='theme.html'>theme</a></code>
  function.</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>opts</li>
    </ul>
    <ul>
      
    </ul> -->
      
        
  </div>
</div>