      <h1>Code to create a scatterplot matrix (experimental)</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='plotmatrix.html'>plotmatrix</a></span><span class="keyword">(</span><span class="symbol">data</span><span class="keyword">,</span> <span class="argument">mapping</span> <span class="argument">=</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">colour</span> <span class="argument">=</span> <span class="string">"black"</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>data</dt>
      <dd>data frame</dd>
      <dt>mapping</dt>
      <dd>any additional aesthetic mappings (do not
  use x and y)</dd>
      <dt>colour</dt>
      <dd>default point colour</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Code to create a scatterplot matrix (experimental)</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="functioncall"><a href='plotmatrix.html'>plotmatrix</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">[</span><span class="keyword">,</span> <span class="number">1</span><span class="keyword">:</span><span class="number">3</span><span class="keyword">]</span><span class="keyword">)</span></div>
<strong class='warning'>Warning message:
This function is deprecated. For a replacement, see the ggpairs function in the GGally package.</strong>
<p><%= image_tag 'ggplot2/plotmatrix.html-3.png' %></p>
<div class='input'><span class="functioncall"><a href='plotmatrix.html'>plotmatrix</a></span><span class="keyword">(</span><span class="symbol">mtcars</span><span class="keyword">[</span><span class="keyword">,</span> <span class="number">1</span><span class="keyword">:</span><span class="number">3</span><span class="keyword">]</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='geom_smooth.html'>geom_smooth</a></span><span class="keyword">(</span><span class="argument">method</span><span class="argument">=</span><span class="string">"lm"</span><span class="keyword">)</span></div>
<strong class='warning'>Warning message:
This function is deprecated. For a replacement, see the ggpairs function in the GGally package.</strong>
<p><%= image_tag 'ggplot2/plotmatrix.html-6.png' %></p></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>plotmatrix</li>
    </ul>
    <ul>
      <li>hplot</li>
    </ul> -->
      
        
  </div>
</div>