      <h1>Don't adjust position</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='position_identity.html'>position_identity</a></span><span class="keyword">(</span><span class="argument">width</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">height</span> <span class="argument">=</span> NULL<span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>width</dt>
      <dd>Manually specify width (does not affect all
  position adjustments)</dd>
      <dt>height</dt>
      <dd>Manually specify height (does not affect
  all position adjustments)</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Don't adjust position</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>position_identity</li>
    </ul>
    <ul>
      
    </ul> -->
      
    <h2>See also</h2>
    
  Other position adjustments: <code><a href='position_dodge.html'>position_dodge</a></code>,
  <code><a href='position_fill.html'>position_fill</a></code>,
  <code><a href='position_jitter.html'>position_jitter</a></code>,
  <code><a href='position_stack.html'>position_stack</a></code>

        
  </div>
</div>