      <h1>Terms of 10 presidents from Eisenhower to Bush W.</h1>

<div class="row">
  <div class="span8">
        
    <div class="Format">
      <h2>Format</h2>
      
      <p>A data frame with 10 rows and 4 variables</p>
  
    </div>

    <div class="Description">
      <h2>Description</h2>
      
      <p>The names of each president, the start and end date of
  their term, and their party of 10 US presidents from
  Eisenhower to Bush W.</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>presidential</li>
    </ul>
    <ul>
      <li>datasets</li>
    </ul> -->
      
        
  </div>
</div>