      <h1>Draw plot on current graphics device.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/print'>print</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="argument">newpage</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/NULL'>is.null</a></span><span class="keyword">(</span><span class="symbol">vp</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">vp</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall"><a href='http://www.inside-r.org/r-doc/graphics/plot'>plot</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="argument">newpage</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/NULL'>is.null</a></span><span class="keyword">(</span><span class="symbol">vp</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">vp</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>x</dt>
      <dd>plot to display</dd>
      <dt>newpage</dt>
      <dd>draw new (empty) page first?</dd>
      <dt>vp</dt>
      <dd>viewport to draw plot in</dd>
      <dt>...</dt>
      <dd>other arguments not used by this method</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Draw plot on current graphics device.</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>plot.ggplot</li><li>print.ggplot</li>
    </ul>
    <ul>
      <li>hplot</li>
    </ul> -->
      
        
  </div>
</div>