      <h1>Relative sizing for theme elements</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='rel.html'>rel</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>x</dt>
      <dd>A number representing the relative size</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Relative sizing for theme elements</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="functioncall"><a href='qplot.html'>qplot</a></span><span class="keyword">(</span><span class="number">1</span><span class="keyword">:</span><span class="number">3</span><span class="keyword">,</span> <span class="number">1</span><span class="keyword">:</span><span class="number">3</span><span class="keyword">)</span> <span class="keyword">+</span> <span class="functioncall"><a href='theme.html'>theme</a></span><span class="keyword">(</span><span class="argument">axis.title.x</span> <span class="argument">=</span> <span class="functioncall"><a href='element_text.html'>element_text</a></span><span class="keyword">(</span><span class="argument">size</span> <span class="argument">=</span> <span class="functioncall"><a href='rel.html'>rel</a></span><span class="keyword">(</span><span class="number">2.5</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/rel.html-2.png' %></p></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>rel</li>
    </ul>
    <ul>
      
    </ul> -->
      
        
  </div>
</div>