      <h1>Scale area instead of radius, for size.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='scale_size_area.html'>scale_size_area</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">,</span> <span class="argument">max_size</span> <span class="argument">=</span> <span class="number">6</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>...</dt>
      <dd>Other arguments passed on to
  <code><a href='continuous_scale.html'>continuous_scale</a></code> to control name, limits,
  breaks, labels and so forth.</dd>
      <dt>range</dt>
      <dd>Range of output sizes.  Should be greater
  than 0.</dd>
      <dt>max_size</dt>
      <dd>Size of largest points.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>When <code>scale_size_area</code> is used, the default behavior
  is to scale the area of points to be proportional to the
  value.</p>
  
    </div>

    <div class="Details">
      <h2>Details</h2>
      
      <p>Note that this controls the size scale, so it will also
  control the thickness of lines. Line thickness will be
  proportional to the square root of the value, which is
  probably undesirable in most cases.</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>scale_size_area</li>
    </ul>
    <ul>
      
    </ul> -->
      
        
  </div>
</div>