      <h1>Scale area instead of radius (for size).</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='scale_area.html'>scale_area</a></span><span class="keyword">(</span><span class="symbol">...</span><span class="keyword">,</span> <span class="argument">range</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/c'>c</a></span><span class="keyword">(</span><span class="number">1</span><span class="keyword">,</span> <span class="number">6</span><span class="keyword">)</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>...</dt>
      <dd>Other arguments passed on to
  <code><a href='continuous_scale.html'>continuous_scale</a></code> to control name, limits,
  breaks, labels and so forth.</dd>
      <dt>range</dt>
      <dd>Range of output sizes.  Should be greater
  than 0.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p><code><a href='scale_area.html'>scale_area</a></code> is deprecated and will be
  removed in a future version of ggplot2. Use
  <code><a href='scale_size_area.html'>scale_size_area</a></code> instead. Note that the
  default behavir of <code><a href='scale_size_area.html'>scale_size_area</a></code> is
  slightly different: by default, it makes the area
  proportional to the numeric value.</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>scale_area</li>
    </ul>
    <ul>
      
    </ul> -->
      
        
  </div>
</div>