      <h1>Used in examples to illustrate when errors should occur.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='should_stop.html'>should_stop</a></span><span class="keyword">(</span><span class="symbol">expr</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>expr</dt>
      <dd>code to evaluate.</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Used in examples to illustrate when errors should occur.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="functioncall"><a href='should_stop.html'>should_stop</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/stop'>stop</a></span><span class="keyword">(</span><span class="string">"Hi!"</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="functioncall"><a href='should_stop.html'>should_stop</a></span><span class="keyword">(</span><span class="functioncall"><a href='should_stop.html'>should_stop</a></span><span class="keyword">(</span><span class="string">"Hi!"</span><span class="keyword">)</span><span class="keyword">)</span></div>
<div class='output'>[1] "Hi!"
</div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>should_stop</li>
    </ul>
    <ul>
      <li>internal</li>
    </ul> -->
      
        
  </div>
</div>