      <h1>Bin data for dot plot.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='stat_bindot.html'>stat_bindot</a></span><span class="keyword">(</span><span class="argument">mapping</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">geom</span> <span class="argument">=</span> <span class="string">"dotplot"</span><span class="keyword">,</span> <span class="argument">position</span> <span class="argument">=</span> <span class="string">"identity"</span><span class="keyword">,</span>
  <span class="argument">binwidth</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">origin</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">width</span> <span class="argument">=</span> <span class="number">0.9</span><span class="keyword">,</span> <span class="argument">binaxis</span> <span class="argument">=</span> <span class="string">"x"</span><span class="keyword">,</span> <span class="argument">method</span> <span class="argument">=</span> <span class="string">"dotdensity"</span><span class="keyword">,</span>
      <span class="argument">binpositions</span> <span class="argument">=</span> <span class="string">"bygroup"</span><span class="keyword">,</span> <span class="argument">drop</span> <span class="argument">=</span> <span class="number">FALSE</span><span class="keyword">,</span> <span class="argument">right</span> <span class="argument">=</span> <span class="number">TRUE</span><span class="keyword">,</span> <span class="argument">na.rm</span> <span class="argument">=</span> <span class="number">FALSE</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>binaxis</dt>
      <dd>The axis to bin along, "x" (default) or
  "y"</dd>
      <dt>method</dt>
      <dd>"dotdensity" (default) for dot-density
  binning, or "histodot" for fixed bin widths (like
  stat_bin)</dd>
      <dt>binwidth</dt>
      <dd>When <code>method</code> is "dotdensity, this
  specifies maximum bin width.  When <code>method</code> is
  "histodot", this specifies bin width.  Defaults to 1/30
  of the range of the data</dd>
      <dt>binpositions</dt>
      <dd>When <code>method</code> is "dotdensity",
  "bygroup" (default) determines positions of the bins for
  each group separately. "all" determines positions of the
  bins with all the data taken together; this is used for
  aligning dot stacks across multiple groups.</dd>
      <dt>origin</dt>
      <dd>When <code>method</code> is "histodot", origin of
  first bin</dd>
      <dt>right</dt>
      <dd>When <code>method</code> is "histodot", should
  intervals be closed on the right (a, b], or not [a, b)</dd>
      <dt>width</dt>
      <dd>When <code>binaxis</code> is "y", the spacing of
  the dot stacks for dodging.</dd>
      <dt>na.rm</dt>
      <dd>If <code>FALSE</code> (the default), removes
  missing values with a warning.  If <code>TRUE</code> silently
  removes missing values.</dd>
      <dt>drop</dt>
      <dd>If TRUE, remove all bins with zero counts</dd>
      <dt>mapping</dt>
      <dd>The aesthetic mapping, usually constructed
  with <code><a href='aes.html'>aes</a></code> or <code><a href='aes_string.html'>aes_string</a></code>. Only
  needs to be set at the layer level if you are overriding
  the plot defaults.</dd>
      <dt>data</dt>
      <dd>A layer specific dataset - only needed if you
  want to override the plot defaults.</dd>
      <dt>geom</dt>
      <dd>The geometric object to use display the data</dd>
      <dt>position</dt>
      <dd>The position adjustment to use for
  overlappling points on this layer</dd>
      <dt>...</dt>
      <dd>other arguments passed on to
  <code><a href='layer.html'>layer</a></code>. This can include aesthetics whose
  values you want to set, not map. See <code><a href='layer.html'>layer</a></code>
  for more details.</dd>
    </dl>
    
    <div class="Value">
      <h2>Value</h2>
      
      <p>New data frame with additional columns: xcenter
  of each bin, if binaxis is "x" ycenter of each
  bin, if binaxis is "x" binwidthmax width of each
  bin if method is "dotdensity"; width of each bin if
  method is "histodot" countnumber of points in
  bin ncountcount, scaled to maximum of 1
  densitydensity of points in bin, scaled to
  integrate to 1, if method is "histodot"
  ndensitydensity, scaled to maximum of 1, if
  method is "histodot"</p>
  
    </div>

    <div class="Description">
      <h2>Description</h2>
      
      <p>Missing values are currently silently dropped. If weights
  are used, they must be integer values.</p>
  
    </div>

    <div class="Aesthetics">
      <h2>Aesthetics</h2>
      
      <p><code>stat_bindot</code> understands the following aesthetics (required aesthetics are in bold):</p>
  
      <p><ul>
<li> <code><strong>x</strong></code>
  </li>
<li> <code>y</code>
</li>
</ul></p>
  
      <p></p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'># See geom_dotplot for examples</div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>stat_bindot</li>
    </ul>
    <ul>
      
    </ul> -->
      
    <h2>See also</h2>
    
  See <code><a href='geom_dotplot.html'>geom_dotplot</a></code> for examples.

        
  </div>
</div>