      <h1>Apply funciton for 2D rectangular bins.</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='stat_summary2d.html'>stat_summary2d</a></span><span class="keyword">(</span><span class="argument">mapping</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">data</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">geom</span> <span class="argument">=</span> NULL<span class="keyword">,</span> <span class="argument">position</span> <span class="argument">=</span> <span class="string">"identity"</span><span class="keyword">,</span> <span class="argument">bins</span> <span class="argument">=</span> <span class="number">30</span><span class="keyword">,</span>
  <span class="argument">drop</span> <span class="argument">=</span> <span class="number">TRUE</span><span class="keyword">,</span> <span class="argument">fun</span> <span class="argument">=</span> <span class="symbol">mean</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>bins</dt>
      <dd>see <code><a href='stat_bin2d.html'>stat_bin2d</a></code></dd>
      <dt>drop</dt>
      <dd>drop if the output of <code>fun</code> is
  <code>NA</code>.</dd>
      <dt>fun</dt>
      <dd>function for summary.</dd>
      <dt>...</dt>
      <dd>parameters passed to <code>fun</code></dd>
      <dt>mapping</dt>
      <dd>The aesthetic mapping, usually constructed
  with <code><a href='aes.html'>aes</a></code> or <code><a href='aes_string.html'>aes_string</a></code>. Only
  needs to be set at the layer level if you are overriding
  the plot defaults.</dd>
      <dt>data</dt>
      <dd>A layer specific dataset - only needed if you
  want to override the plot defaults.</dd>
      <dt>geom</dt>
      <dd>The geometric object to use display the data</dd>
      <dt>position</dt>
      <dd>The position adjustment to use for
  overlappling points on this layer</dd>
    </dl>
    
    <div class="Description">
      <h2>Description</h2>
      
      <p>Apply function for 2D rectangular bins.</p>
  
    </div>

    <div class="Aesthetics">
      <h2>Aesthetics</h2>
      
      <p><code>stat_summary2d</code> understands the following aesthetics (required aesthetics are in bold):</p>
  
      <p><ul>
<li> <code><strong>x</strong></code>
  </li>
<li> <code><strong>y</strong></code>
  </li>
<li> <code><strong>z</strong></code>
  </li>
<li> <code>fill</code>
</li>
</ul></p>
  
      <p><code>stat_summary2d</code> is 2D version of
  <code><a href='stat_summary.html'>stat_summary</a></code>. The data are devided by
  <code>x</code> and <code>y</code>. <code>z</code> in each cell is passed to
  arbitral summary function.</p>
  
      <p><code>stat_summary2d</code> requires the following aesthetics:</p>
  
      <p><ul>
<li> <code>x</code>: horizontal position </li>
<li>
  <code>y</code>: vertical position </li>
<li> <code>z</code>: value passed
  to the summary function </li>
</ul></p>
  
      <p></p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'>
<span class="symbol">d</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='ggplot.html'>ggplot</a></span><span class="keyword">(</span><span class="symbol">diamonds</span><span class="keyword">,</span> <span class="functioncall"><a href='aes.html'>aes</a></span><span class="keyword">(</span><span class="symbol">carat</span><span class="keyword">,</span> <span class="symbol">depth</span><span class="keyword">,</span> <span class="argument">z</span> <span class="argument">=</span> <span class="symbol">price</span><span class="keyword">)</span><span class="keyword">)</span>
<span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='stat_summary2d.html'>stat_summary2d</a></span><span class="keyword">(</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_summary2d.html-2.png' %></p>
<div class='input'>
<span class="comment"># Specifying function</span>
<span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='stat_summary2d.html'>stat_summary2d</a></span><span class="keyword">(</span><span class="argument">fun</span> <span class="argument">=</span> <span class="keyword">function</span><span class="keyword">(</span><span class="formalargs">x</span><span class="keyword">)</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/sum'>sum</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">^</span><span class="number">2</span><span class="keyword">)</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_summary2d.html-4.png' %></p>
<div class='input'><span class="symbol">d</span> <span class="keyword">+</span> <span class="functioncall"><a href='stat_summary2d.html'>stat_summary2d</a></span><span class="keyword">(</span><span class="argument">fun</span> <span class="argument">=</span> <span class="symbol">var</span><span class="keyword">)</span></div>
<p><%= image_tag 'ggplot2/stat_summary2d.html-6.png' %></p>
<div class='input'></div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>stat_summary2d</li>
    </ul>
    <ul>
      
    </ul> -->
      
    <h2>See also</h2>
    
  <code><a href='stat_summary_hex.html'>stat_summary_hex</a></code> for hexagonal
  summarization. <code><a href='stat_bin2d.html'>stat_bin2d</a></code> for the binning
  options.

        
  </div>
</div>