      <h1>
Australian AIDS Survival Data
</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="symbol">Aids2</span></pre>
        
    <div class="
Australian AIDS Survival Data
">
      <h2>
Australian AIDS Survival Data
</h2>
      
    </div>

    <div class="
Australian AIDS Survival Data
">
      <h2>
Australian AIDS Survival Data
</h2>
      
    </div>

    <div class="
Australian AIDS Survival Data
">
      <h2>
Australian AIDS Survival Data
</h2>
      
    </div>

    <div class="Description">
      <h2>Description</h2>
      
      <p>Data on patients diagnosed with AIDS in Australia before 1 July 1991.</p>
  
    </div>

    <div class="Format">
      <h2>Format</h2>
      
      <p>This data frame contains 2843 rows and the following columns:
  <span class='describe'>
    <code>state</code>
      Grouped state of origin: <code>"NSW "</code>includes ACT and
      <code>"other"</code> is WA, SA, NT and TAS.</p>
  
      <p><code>sex</code>
      Sex of patient.</p>
  
      <p><code>diag</code>(Julian) date of diagnosis.
    <code>death</code>
      (Julian) date of death or end of observation.</p>
  
      <p><code>status</code>
      <code>"A"</code> (alive) or <code>"D"</code> (dead) at end of observation.</p>
  
      <p><code>T.categ</code>
      Reported transmission category.</p>
  
      <p><code>age</code>
      Age (years) at diagnosis.</p>
  
      <p></span></p>
  
    </div>

    <div class="Note">
      <h2>Note</h2>
      
      <p>This data set has been slightly jittered as a
  condition of its release, to ensure patient confidentiality.</p>
  
    </div>

    <div class="
Australian AIDS Survival Data
">
      <h2>
Australian AIDS Survival Data
</h2>
      
    </div>

    <div class="References">
      <h2>References</h2>
      
      <p>Venables, W. N. and Ripley, B. D. (2002)
  <em>Modern Applied Statistics with S.</em> Fourth edition.  Springer.</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>Aids2</li>
    </ul>
    <ul>
      <li>datasets</li>
    </ul> -->
      
        
  </div>
</div>