      <h1>
  Brain and Body Weights for 28 Species
</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="symbol">Animals</span></pre>
        
    <div class="
  Brain and Body Weights for 28 Species
">
      <h2>
  Brain and Body Weights for 28 Species
</h2>
      
    </div>

    <div class="
  Brain and Body Weights for 28 Species
">
      <h2>
  Brain and Body Weights for 28 Species
</h2>
      
    </div>

    <div class="
  Brain and Body Weights for 28 Species
">
      <h2>
  Brain and Body Weights for 28 Species
</h2>
      
    </div>

    <div class="Description">
      <h2>Description</h2>
      
      <p>Average brain and body weights for 28 species of land animals.</p>
  
    </div>

    <div class="Format">
      <h2>Format</h2>
      
      <p><span class='describe'>
    <code>body</code>
      body weight in kg.</p>
  
      <p><code>brain</code>
      brain weight in g.</p>
  
      <p></span></p>
  
    </div>

    <div class="Note">
      <h2>Note</h2>
      
      <p>The name <code>Animals</code> avoids conflicts with a system dataset
  <code>animals</code> in S-PLUS 4.5 and later.</p>
  
    </div>

    <div class="
  Brain and Body Weights for 28 Species
">
      <h2>
  Brain and Body Weights for 28 Species
</h2>
      
    </div>

    <div class="References">
      <h2>References</h2>
      
      <p>Venables, W. N. and Ripley, B. D. (1999)
  <em>Modern Applied Statistics with S-PLUS.</em> Third
  Edition. Springer.</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>Animals</li>
    </ul>
    <ul>
      <li>datasets</li>
    </ul> -->
      
        
  </div>
</div>