      <h1>
  Data from 93 Cars on Sale in the USA in 1993
</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="symbol">Cars93</span></pre>
        
    <div class="
  Data from 93 Cars on Sale in the USA in 1993
">
      <h2>
  Data from 93 Cars on Sale in the USA in 1993
</h2>
      
    </div>

    <div class="
  Data from 93 Cars on Sale in the USA in 1993
">
      <h2>
  Data from 93 Cars on Sale in the USA in 1993
</h2>
      
    </div>

    <div class="
  Data from 93 Cars on Sale in the USA in 1993
">
      <h2>
  Data from 93 Cars on Sale in the USA in 1993
</h2>
      
    </div>

    <div class="Description">
      <h2>Description</h2>
      
      <p>The <code>Cars93</code> data frame has 93 rows and 27 columns.</p>
  
    </div>

    <div class="Format">
      <h2>Format</h2>
      
      <p>This data frame contains the following columns:
  <span class='describe'>
    <code>Manufacturer</code>
      Manufacturer.</p>
  
      <p><code>Model</code>
      Model.</p>
  
      <p><code>Type</code>
      Type: a factor with levels <code>"Small"</code>, <code>"Sporty"</code>,
      <code>"Compact"</code>, <code>"Midsize"</code>, <code>"Large"</code> and <code>"Van"</code>.</p>
  
      <p><code>Min.Price</code>
      Minimum Price (in \$1,000): price for a basic version.</p>
  
      <p><code>Price</code>
      Midrange Price (in \$1,000): average of <code>Min.Price</code> and
      <code>Max.Price</code>.</p>
  
      <p><code>Max.Price</code>
      Maximum Price (in \$1,000): price for &#147;a premium version&#148;.</p>
  
      <p><code>MPG.city</code>
      City MPG (miles per US gallon by EPA rating).</p>
  
      <p><code>MPG.highway</code>
      Highway MPG.</p>
  
      <p><code>AirBags</code>
      Air Bags standard. Factor: none, driver only, or driver & passenger.</p>
  
      <p><code>DriveTrain</code>
      Drive train type: rear wheel, front wheel or 4WD; (factor).</p>
  
      <p><code>Cylinders</code>
      Number of cylinders (missing for Mazda RX-7, which has a rotary engine).</p>
  
      <p><code>EngineSize</code>
      Engine size (litres).</p>
  
      <p><code>Horsepower</code>
      Horsepower (maximum).</p>
  
      <p><code>RPM</code>
      RPM (revs per minute at maximum horsepower).</p>
  
      <p><code>Rev.per.mile</code>
      Engine revolutions per mile (in highest gear).</p>
  
      <p><code>Man.trans.avail</code>
      Is a manual transmission version available? (yes or no, Factor).</p>
  
      <p><code>Fuel.tank.capacity</code>
      Fuel tank capacity (US gallons).</p>
  
      <p><code>Passengers</code>
      Passenger capacity (persons)</p>
  
      <p><code>Length</code>
      Length (inches).</p>
  
      <p><code>Wheelbase</code>
      Wheelbase (inches).</p>
  
      <p><code>Width</code>
      Width (inches).</p>
  
      <p><code>Turn.circle</code>
      U-turn space (feet).</p>
  
      <p><code>Rear.seat.room</code>
      Rear seat room (inches) (missing for 2-seater vehicles).</p>
  
      <p><code>Luggage.room</code>
      Luggage capacity (cubic feet) (missing for vans).</p>
  
      <p><code>Weight</code>
      Weight (pounds).</p>
  
      <p><code>Origin</code>
      Of non-USA or USA company origins? (factor).</p>
  
      <p><code>Make</code>
      Combination of Manufacturer and Model (character).</p>
  
      <p></span></p>
  
    </div>

    <div class="Details">
      <h2>Details</h2>
      
      <p>Cars were selected at random from among 1993 passenger car models that
  were listed in both the <em>Consumer Reports</em> issue and the
  <em>PACE Buying Guide</em>.  Pickup trucks and Sport/Utility vehicles were
  eliminated due to incomplete information in the <em>Consumer Reports</em>
  source.  Duplicate models (e.g., Dodge Shadow and Plymouth Sundance)
  were listed at most once.</p>
  
      <p>Further description can be found in Lock (1993).</p>
  
    </div>

    <div class="
  Data from 93 Cars on Sale in the USA in 1993
">
      <h2>
  Data from 93 Cars on Sale in the USA in 1993
</h2>
      
    </div>

    <div class="References">
      <h2>References</h2>
      
      <p>Venables, W. N. and Ripley, B. D. (1999)
  <em>Modern Applied Statistics with S-PLUS.</em> Third
  Edition. Springer.</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>Cars93</li>
    </ul>
    <ul>
      <li>datasets</li>
    </ul> -->
      
        
  </div>
</div>