      <h1>
  Diagnostic Tests on Patients with Cushing's Syndrome
</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="symbol">Cushings</span></pre>
        
    <div class="
  Diagnostic Tests on Patients with Cushing's Syndrome
">
      <h2>
  Diagnostic Tests on Patients with Cushing's Syndrome
</h2>
      
    </div>

    <div class="
  Diagnostic Tests on Patients with Cushing's Syndrome
">
      <h2>
  Diagnostic Tests on Patients with Cushing's Syndrome
</h2>
      
    </div>

    <div class="
  Diagnostic Tests on Patients with Cushing's Syndrome
">
      <h2>
  Diagnostic Tests on Patients with Cushing's Syndrome
</h2>
      
    </div>

    <div class="Description">
      <h2>Description</h2>
      
      <p>Cushing's syndrome is a hypertensive disorder associated with
  over-secretion of cortisol by the adrenal gland. The observations
  are urinary excretion rates of two steroid metabolites.</p>
  
    </div>

    <div class="Format">
      <h2>Format</h2>
      
      <p>The <code>Cushings</code> data frame has 27 rows and 3 columns:
  <span class='describe'>
    <code>Tetrahydrocortisone</code>
      urinary excretion rate (mg/24hr) of Tetrahydrocortisone.</p>
  
      <p><code>Pregnanetriol</code>
      urinary excretion rate (mg/24hr) of Pregnanetriol.</p>
  
      <p><code>Type</code>
      underlying type of syndrome, coded <code>a</code> (adenoma) , <code>b</code>
      (bilateral hyperplasia), <code>c</code> (carcinoma) or <code>u</code> for unknown.</p>
  
      <p></span></p>
  
    </div>

    <div class="
  Diagnostic Tests on Patients with Cushing's Syndrome
">
      <h2>
  Diagnostic Tests on Patients with Cushing's Syndrome
</h2>
      
    </div>

    <div class="References">
      <h2>References</h2>
      
      <p>Venables, W. N. and Ripley, B. D. (2002)
  <em>Modern Applied Statistics with S.</em> Fourth edition.  Springer.</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>Cushings</li>
    </ul>
    <ul>
      <li>datasets</li>
    </ul> -->
      
        
  </div>
</div>