      <h1>
DDT in Kale
</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="symbol">DDT</span></pre>
        
    <div class="
DDT in Kale
">
      <h2>
DDT in Kale
</h2>
      
    </div>

    <div class="
DDT in Kale
">
      <h2>
DDT in Kale
</h2>
      
    </div>

    <div class="
DDT in Kale
">
      <h2>
DDT in Kale
</h2>
      
    </div>

    <div class="Description">
      <h2>Description</h2>
      
      <p>A numeric vector of 15 measurements by different laboratories of the
  pesticide DDT in kale, in ppm (parts per million) using the multiple
  pesticide residue measurement.</p>
  
    </div>

    <div class="
DDT in Kale
">
      <h2>
DDT in Kale
</h2>
      
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>DDT</li>
    </ul>
    <ul>
      <li>datasets</li>
    </ul> -->
      
        
  </div>
</div>