      <h1>
  Level of GAG in Urine of Children
</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="symbol">GAGurine</span></pre>
        
    <div class="
  Level of GAG in Urine of Children
">
      <h2>
  Level of GAG in Urine of Children
</h2>
      
    </div>

    <div class="
  Level of GAG in Urine of Children
">
      <h2>
  Level of GAG in Urine of Children
</h2>
      
    </div>

    <div class="
  Level of GAG in Urine of Children
">
      <h2>
  Level of GAG in Urine of Children
</h2>
      
    </div>

    <div class="Description">
      <h2>Description</h2>
      
      <p>Data were collected on the concentration of a chemical GAG in the
  urine of 314 children aged from zero to seventeen years.  The aim of
  the study was to produce a chart to help a paediatrican to assess if a
  child's GAG concentration is &#145;normal&#146;.</p>
  
    </div>

    <div class="Format">
      <h2>Format</h2>
      
      <p>This data frame contains the following columns:
  <span class='describe'>
    <code>Age</code>
      age of child in years.</p>
  
      <p><code>GAG</code>
      concentration of GAG (the units have been lost).</p>
  
      <p></span></p>
  
    </div>

    <div class="
  Level of GAG in Urine of Children
">
      <h2>
  Level of GAG in Urine of Children
</h2>
      
    </div>

    <div class="References">
      <h2>References</h2>
      
      <p>Venables, W. N. and Ripley, B. D. (2002)
  <em>Modern Applied Statistics with S.</em> Fourth edition.  Springer.</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>GAGurine</li>
    </ul>
    <ul>
      <li>datasets</li>
    </ul> -->
      
        
  </div>
</div>