      <h1>
  Numbers of Car Insurance claims
</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="symbol">Insurance</span></pre>
        
    <div class="
  Numbers of Car Insurance claims
">
      <h2>
  Numbers of Car Insurance claims
</h2>
      
    </div>

    <div class="
  Numbers of Car Insurance claims
">
      <h2>
  Numbers of Car Insurance claims
</h2>
      
    </div>

    <div class="
  Numbers of Car Insurance claims
">
      <h2>
  Numbers of Car Insurance claims
</h2>
      
    </div>

    <div class="Description">
      <h2>Description</h2>
      
      <p>The data given in data frame <code>Insurance</code> consist of the
  numbers of policyholders of an insurance company who were
  exposed to risk, and the numbers of car insurance claims made by
  those policyholders in the third quarter of 1973.</p>
  
    </div>

    <div class="Format">
      <h2>Format</h2>
      
      <p>This data frame contains the following columns:
  <span class='describe'>
    <code>District</code>
      factor: district of residence of policyholder (1 to 4): 4 is major cities.</p>
  
      <p><code>Group</code>
      an ordered factor: group of car with levels  <1 litre, 1--1.5 litre,
      1.5--2 litre, >2 litre.</p>
  
      <p><code>Age</code>
      an ordered factor: the age of the insured in 4 groups labelled
      <25, 25--29, 30--35, >35.</p>
  
      <p><code>Holders</code>
      numbers of policyholders.</p>
  
      <p><code>Claims</code>
      numbers of claims</p>
  
      <p></span></p>
  
    </div>

    <div class="
  Numbers of Car Insurance claims
">
      <h2>
  Numbers of Car Insurance claims
</h2>
      
    </div>

    <div class="References">
      <h2>References</h2>
      
      <p>Venables, W. N. and Ripley, B. D. (1999)
  <em>Modern Applied Statistics with S-PLUS.</em> Third
  Edition. Springer.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="comment">## main-effects fit as Poisson GLM with offset</span>
<span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/glm'>glm</a></span><span class="keyword">(</span><span class="symbol">Claims</span> <span class="keyword">~</span> <span class="symbol">District</span> <span class="keyword">+</span> <span class="symbol">Group</span> <span class="keyword">+</span> <span class="symbol">Age</span> <span class="keyword">+</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/offset'>offset</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">Holders</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">,</span>
    <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">Insurance</span><span class="keyword">,</span> <span class="argument">family</span> <span class="argument">=</span> <span class="symbol">poisson</span><span class="keyword">)</span></div>
<div class='output'>
Call:  glm(formula = Claims ~ District + Group + Age + offset(log(Holders)), 
    family = poisson, data = Insurance)

Coefficients:
(Intercept)    District2    District3    District4      Group.L      Group.Q      Group.C        Age.L        Age.Q  
  -1.810508     0.025868     0.038524     0.234205     0.429708     0.004632    -0.029294    -0.394432    -0.000355  
      Age.C  
  -0.016737  

Degrees of Freedom: 63 Total (i.e. Null);  54 Residual
Null Deviance:	    236.3 
Residual Deviance: 51.42 	AIC: 388.7 
</div>
<div class='input'>
<span class="comment"># same via loglm</span>
<span class="functioncall"><a href='loglm.html'>loglm</a></span><span class="keyword">(</span><span class="symbol">Claims</span> <span class="keyword">~</span> <span class="symbol">District</span> <span class="keyword">+</span> <span class="symbol">Group</span> <span class="keyword">+</span> <span class="symbol">Age</span> <span class="keyword">+</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/stats/offset'>offset</a></span><span class="keyword">(</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/Log'>log</a></span><span class="keyword">(</span><span class="symbol">Holders</span><span class="keyword">)</span><span class="keyword">)</span><span class="keyword">,</span>
      <span class="argument">data</span> <span class="argument">=</span> <span class="symbol">Insurance</span><span class="keyword">)</span></div>
<div class='output'>Call:
loglm(formula = Claims ~ District + Group + Age + offset(log(Holders)), 
    data = Insurance)

Statistics:
                      X^2 df  P(> X^2)
Likelihood Ratio 51.42003 54 0.5745071
Pearson          48.62933 54 0.6809086
</div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>Insurance</li>
    </ul>
    <ul>
      <li>datasets</li>
    </ul> -->
      
        
  </div>
</div>