      <h1>Internal MASS functions</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='MASS-internal.html'>enlist</a></span><span class="keyword">(</span><span class="symbol">vec</span><span class="keyword">)</span>

<span class="functioncall"><a href='MASS-internal.html'>fbeta</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="symbol">alpha</span><span class="keyword">,</span> <span class="symbol">beta</span><span class="keyword">)</span>

<span class="functioncall"><a href='MASS-internal.html'>frequency.polygon</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">,</span> <span class="argument">nclass</span> <span class="argument">=</span> <span class="functioncall"><a href='MASS-internal.html'>nclass.freq</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">)</span><span class="keyword">,</span> <span class="argument">xlab</span> <span class="argument">=</span> <span class="string">""</span><span class="keyword">,</span> <span class="argument">ylab</span> <span class="argument">=</span> <span class="string">""</span><span class="keyword">,</span> <span class="symbol">...</span><span class="keyword">)</span>

<span class="functioncall"><a href='MASS-internal.html'>nclass.freq</a></span><span class="keyword">(</span><span class="symbol">x</span><span class="keyword">)</span>

<span class="functioncall"><a href='MASS-internal.html'>neg.bin</a></span><span class="keyword">(</span><span class="argument">theta</span> <span class="argument">=</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/stop'>stop</a></span><span class="keyword">(</span><span class="string">"'theta' must be given"</span><span class="keyword">)</span><span class="keyword">)</span>

<span class="functioncall"><a href='MASS-internal.html'>negexp.SSival</a></span><span class="keyword">(</span><span class="symbol">mCall</span><span class="keyword">,</span> <span class="symbol">data</span><span class="keyword">,</span> <span class="symbol">LHS</span><span class="keyword">)</span></pre>
        
    <div class="Internal MASS functions">
      <h2>Internal MASS functions</h2>
      
    </div>

    <div class="Internal MASS functions">
      <h2>Internal MASS functions</h2>
      
    </div>

    <div class="Internal MASS functions">
      <h2>Internal MASS functions</h2>
      
    </div>

    <div class="Internal MASS functions">
      <h2>Internal MASS functions</h2>
      
    </div>

    <div class="Description">
      <h2>Description</h2>
      
      <p>Internal MASS functions.</p>
  
    </div>

    <div class="Details">
      <h2>Details</h2>
      
      <p>These are not intended to be called by the user.
  Some are for compatibility
  with earlier versions of MASS (the book).</p>
  
    </div>
      </div>
  <div class="span4">
    <!-- <ul>
      <li>enlist</li><li>fbeta</li><li>frequency.polygon</li><li>nclass.freq</li><li>neg.bin</li><li>negexp.SSival</li>
    </ul>
    <ul>
      <li>internal</li>
    </ul> -->
      
        
  </div>
</div>