      <h1>
  Null Spaces of Matrices
</h1>

<div class="row">
  <div class="span8">
    <h2>Usage</h2>
    <pre><span class="functioncall"><a href='Null.html'>Null</a></span><span class="keyword">(</span><span class="symbol">M</span><span class="keyword">)</span></pre>
    
    <h2>Arguments</h2>
    <dl>
      <dt>M</dt>
      <dd>
    Input matrix.  A vector is coerced to a 1-column matrix.
  </dd>
    </dl>
    
    <div class="
  Null Spaces of Matrices
">
      <h2>
  Null Spaces of Matrices
</h2>
      
    </div>

    <div class="
  Null Spaces of Matrices
">
      <h2>
  Null Spaces of Matrices
</h2>
      
    </div>

    <div class="
  Null Spaces of Matrices
">
      <h2>
  Null Spaces of Matrices
</h2>
      
    </div>

    <div class="Description">
      <h2>Description</h2>
      
      <p>Given a matrix, <code>M</code>, find a matrix <code>N</code> giving a basis for the
  null space.  That is <code>t(N) %*% M</code>
  is the zero and <code>N</code> has the maximum number of linearly
  independent columns.</p>
  
    </div>

    <div class="Value">
      <h2>Value</h2>
      
      <p>The matrix <code>N</code> with the basis for the null space, or an empty
  vector if the matrix <code>M</code> is square and of maximal rank.</p>
  
    </div>

    <div class="References">
      <h2>References</h2>
      
      <p>Venables, W. N. and Ripley, B. D. (2002)
  <em>Modern Applied Statistics with S.</em> Fourth edition.  Springer.</p>
  
    </div>
    
    <h2 id="examples">Examples</h2>
    <pre class="examples"><div class='input'><span class="comment"># The function is currently defined as</span>
<span class="keyword">function</span><span class="keyword">(</span><span class="formalargs">M</span><span class="keyword">)</span>
<span class="keyword">{</span>
    <span class="symbol">tmp</span> <span class="assignement">&lt;-</span> <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/qr'>qr</a></span><span class="keyword">(</span><span class="symbol">M</span><span class="keyword">)</span>
    <span class="symbol">set</span> <span class="assignement">&lt;-</span> <span class="keyword">if</span><span class="keyword">(</span><span class="symbol">tmp</span><span class="keyword">$</span><span class="symbol">rank</span> == <span class="number">0</span><span class="keyword">)</span> <span class="number">1</span><span class="keyword">:</span><span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/nrow'>ncol</a></span><span class="keyword">(</span><span class="symbol">M</span><span class="keyword">)</span> <span class="keyword">else</span>  <span class="keyword">-</span> <span class="keyword">(</span><span class="number">1</span><span class="keyword">:</span><span class="symbol">tmp</span><span class="keyword">$</span><span class="symbol">rank</span><span class="keyword">)</span>
    <span class="functioncall"><a href='http://www.inside-r.org/r-doc/base/qraux'>qr.Q</a></span><span class="keyword">(</span><span class="symbol">tmp</span><span class="keyword">,</span> <span class="argument">complete</span> <span class="argument">=</span> <span class="number">TRUE</span><span class="keyword">)</span><span class="keyword">[</span><span class="keyword">,</span> <span class="symbol">set</span><span class="keyword">,</span> <span class="argument">drop</span> <span class="argument">=</span> <span class="number">FALSE</span><span class="keyword">]</span>
<span class="keyword">}</span></div>
<div class='output'>function(M)
{
    tmp <- qr(M)
    set <- if(tmp$rank == 0) 1:ncol(M) else  - (1:tmp$rank)
    qr.Q(tmp, complete = TRUE)[, set, drop = FALSE]
}
<environment: 0x7ff475e047b8>
</div></pre>
  </div>
  <div class="span4">
    <!-- <ul>
      <li>Null</li>
    </ul>
    <ul>
      <li>algebra</li>
    </ul> -->
      
    <h2>See also</h2>
    
  
  <code><a href='http://www.inside-r.org/r-doc/base/qr'>qr</a></code>, <code><a href='http://www.inside-r.org/r-doc/base/qraux'>qr.Q</a></code>.

        
  </div>
</div>