<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Rtastic", root_path, id: "logo" %>
      <%= link_to yield(:title), '#', id: "title" %>
      <nav>
        <ul class="nav pull-right">
          <form action="/search/" class="navbar-search pull-left">
            <input type="text" class="search-query" name="q" placeholder="Search">
          </form>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
